[2015-07-06 05:15] BrentThoma opened #1 "Preview text disappears!"
Hey Derek,

Great work on this so far! I'm quite excited to use it.

After activating the plugin I noticed that the 'preview text' under the titles of the blog posts on my homepage disappeared. Deactivating the plugin resolved the issue so I'm confident that it's related.

Specifically what I'm referring to can be seen if you go to http://boringem.org - under a post title (e.g. "#TipsForNewDocs |

[2015-07-06 06:07] dsifford commented on #1
Thanks for pointing this out. You were right; a small error in the code of this plugin was creating the issue. I just sent out a new release that should fix the issue. Everything should be in working order now :smile:

[2015-07-06 06:07] #1 closed

[2015-07-06 06:28] BrentThoma commented on #1
Quite the response time!
When I logged back in WP didn't indicate that there was an update for the plugin available. When I tried to update it anyways that seemed to work. However, it's still doing the same thing to the preview's. Perhaps I didn't get the fixed version?
-BT

[2015-07-06 06:42] dsifford commented on #1
Oops! My mistake. When I uploaded the fix to WordPress, I forgot to tag it as the "stable" version. Thus, when you downloaded the file again, you just downloaded the same one as before. Everything should be working now.

[2015-07-10 21:51] dsifford opened #2 "Anchor links for citations interfering with anchor links not created by the plugin"
Need to better scrutinize the selectors.

[2015-07-10 23:15] dsifford commented on #2
Issue fixed in 279c9d35aa22339069550c8f8564824fe97ffdb2

[2015-07-10 23:15] #2 closed

[2015-07-10 23:16] dsifford opened #3 "Peer review content not allowing line breaks"

[2015-07-11 01:11] #3 closed

[2016-03-20 19:39] metallikat36 opened #4 "Make tooltip links clickable"
Hi.  First of all, thank you for this plugin.  It is the only citations plugin that I could get to work at all on my site.  I am rather dumbfounded that citations plugins are virtually non-existent.  I would have thought it is a basic requirement that thousands of sites would be using.  I guess not...I also appreciate the convenient CSS override which has allowed be to easily style the citations i

[2016-03-20 19:49] dsifford commented on #4
@metallikat36 Glad the plugin works well for you. Allow me to respond to your questions in order:

I tossed this idea around as well while putting together the recent update. I think it's totally valid. Your suggestion was just enough for me to change my mind on it.. I'll work on getting an update pushed out soon.

The one proviso of having functional links in the tooltip is that the tooltips will

[2016-03-20 19:53] metallikat36 opened #5 "Add general url reference functionality"
I want to link to a lot of articles, but want them to also appear as inline citations like the PMID inline citations your plugin produces.  I think it looks sloppy to have a mixture of normal text links and numerical superscript citations.  I want everything to be numerical supercripts - both links to articles, and links to PMID references.  I notice that you can already  manually add references t

[2016-03-20 20:00] dsifford commented on #5
@metallikat36 Just to clarify: You'd like the plugin to automatically format references to webpages and blogs with just an input url?

That should be doable (for most, but probably not all, urls). I'll look into implementing it when I get some spare time. :+1:

[2016-03-21 01:01] dsifford opened #6 "Fix mobile touch tooltip position"
Thumb covers the tooltip if tooltip is below the inline citation.

[2016-03-21 06:06] metallikat36 commented on #4
- The word anchor appears by the CSS override box in the wordpress plugin settings page.

- Not sure I understand the problem you are describing about maintaining the hover/mouseout functionality.  In any case, perhaps some kind of trick can be gleaned from Wikipedia tooltips, which are created and destroyed on hover and mouseout, yet they don't get destroyed when you hover on the link.

-Or maybe

[2016-03-21 06:29] metallikat36 commented on #5
Yes, you got it.  Like for example, you are adding a formatted reference, but now you add an option to choose whether you are entering a PMID or whether you are entering a url.  If you input a url, the plugin automatically adds a formatted reference for that url to your post.

I would say that the plugin algorithm might go something like this for a general url:
1.  Try to get the relevant info fro

[2016-03-21 07:10] metallikat36 opened #7 "Z-index issue"
I've had this problem with a couple other plugins as well.  I have floating social media icons which can appear on top of the tooltip, obstructing it.  This is fixed by changing the z-index to something big in the CSS, like:

z-index: 10000100;

So this is no longer a problem for me, but you might want to hardcode this for sake of others.

[2016-03-21 07:26] metallikat36 opened #8 "Font size of reference list"
To my eyes, it looks preferable to have font size of the references as being smaller size than the article.  Here is a mock article for you to judge for yourself:
http://www.earthmedresearch.org/wordpress-resources-at-siteground/
You can see I have three reference lists at the end.

The first of these three lists is what it looks like if you add the following < span> tags inside *every* < li>< /li

[2016-03-21 07:27] metallikat36 commented on #8
Dang, I did not mean for the span tags to actually render!  Ignore those failed attempts at posting code in my above post.  I will try again in a moment.

[2016-03-21 08:05] metallikat36 opened #9 ""Autogenerate" Reference List feature"
This may be opening a can of worms, in which case just forget it.  But to me, here is the ideal way workflow should happen:

1.  I start writing the text of an article
2.  I insert an inline citation, not by inputting a number (as is currently the case with the plugin), but by inputting a PMID or a URL.  No number is manually inputted.
3.  I keep writing my article like this and keep inputting cit

[2016-03-21 08:10] metallikat36 commented on #8
See my thread about "autogenerating" Reference Lists.  Such a feature might require implementing a new shortcode.  It such a shortcode were implemented, then font size could be another parameter of that shortcode.

[2016-03-21 15:45] dsifford commented on #4
Ah, cool thanks for letting me know

I think I can probably put something together similar to Wikipedia. Good idea.

[2016-03-21 15:46] dsifford commented on #7
Noted. Will fix.

[2016-03-21 15:49] dsifford commented on #9
Interesting ideas. I'll have to think them over. I'll report back after giving this some thought.

[2016-03-21 16:03] dsifford commented on #8
@metallikat36 As of right now, I won't be able to add styling changes to tweak the ordered list style because the plugin only pulls information from an ordered list, rather than generating one.

Having said that, a workaround for you for the time being is just using an ultra-specific css selector

[code]

[2016-03-21 20:16] metallikat36 commented on #8
Thanks worked.  Thanks!

[2016-03-22 15:41] #8 closed

[2016-03-22 15:42] dsifford opened #10 "Refactor JS into Typescript + minify resources"

[2016-03-23 16:37] #4 closed

[2016-03-23 16:37] #6 closed

[2016-03-23 16:37] #7 closed

[2016-03-23 16:37] #10 closed

[2016-03-23 16:41] dsifford commented on #4
@metallikat36 Just finished this. I'll be including it in the next plugin update (See [milestone 2.3.0](https://github.com/dsifford/academic-bloggers-toolkit/milestones))

I think you'll really like what I came up with :+1:

[2016-03-25 16:49] dsifford commented on #5
@metallikat36 This is going to have to be part of a much larger update. I tagged it for release 2.4.0..

2.3.0 was just released so you should see the changes from your other threads applied.

[2016-03-25 17:08] dsifford opened #11 "CSS conflict with mobile tooltip close button"

[2016-03-25 17:09] dsifford opened #12 "Desktop tooltips can be choppy -- make hover padding larger"

[2016-03-25 17:15] dsifford opened #13 "Citations need "white-space: no-wrap""

[2016-03-25 21:43] #11 closed

[2016-03-25 21:54] metallikat36 commented on #5
Sounds good.  I'll wait.

All your improvements on the tooltip work great as far as I can tell.  Thanks a lot.  This is really good.

Z-index issue is a relative thing.  In my case, hardcoding 20 does not fix it because I hardcoded my social media icons to like 1 million or something.  Nothing you can do to forsee something like that.  Maybe the best thing is to just include a note about z-index i

[2016-04-03 17:48] dsifford commented on #5
@metallikat36 I'm super close to being done with 2.4.0... You're gonna dig it I think.

Please, please let me know if I added something that doesn't feel right. I greatly appreciate the awesome feedback.

[2016-04-03 20:42] metallikat36 commented on #5
It's all great so far.  A couple nit picky details I don't really care about, but you may want to be aware of:

1.  When you apply a background color to a tooltip, the little arrow no longer seemlessly blends in with the rest of the background, since it does not change color:
http://www.earthmedresearch.org/wordpress-resources-at-siteground/
To perfectly fix this three things would need to happen:

[2016-04-03 21:05] dsifford commented on #5
@metallikat36 Good tips -- I'll make the necessary changes prior to pushing out the update.

To respond directly to some of the suggestions:

I'll have to rethink how that is written. Currently, you can't override it because depending on where the tooltip is in relation to the page, the tooltip (and arrow) are placed either above or below the citation.

This is tricky because the color of the tool

[2016-04-04 23:23] metallikat36 opened #16 "Add optional collapse reference list & peer review boxes"
An idea just came to my mind.  It's not essential, and may not be possible anyway, but it would be cool.  Make the ordered list of references expandable and collapsible.  An example of this is Mercola.com:
http://articles.mercola.com/sites/articles/archive/2010/08/10/making-sense-of-your-cholesterol-numbers.aspx
Default position would be collapsed.  This would make it easier to scroll down past th

[2016-04-04 23:34] #5 closed

[2016-04-04 23:34] #9 closed

[2016-04-04 23:34] #12 closed

[2016-04-04 23:34] #13 closed

[2016-04-04 23:44] dsifford commented on #8
@metallikat36 FYI: With release 2.4.0, a more reliable way of applying formatting to your references will be by using the css id `abt-smart-bib`

So, for example, to replace my workaround above, use this...

[code]

:+1:

[2016-04-04 23:46] dsifford commented on #16
@metallikat36 Good thought, though it's a bit of a niche change that I don't think everyone will want/need.

There are various plugins out there that can give you that functionality with mine. An example off the top of my head would be [Shortcodes Ultimate](https://wordpress.org/plugins/shortcodes-ultimate/)

[2016-04-05 17:59] dsifford commented on #16
@metallikat36 Good news: I've had another request for the ability to choose between collapsible and non-collapsible peer-review boxes...

Because of that, I think I'll put some time into writing a function to allow collapsible and non-collapsible references and peer review boxes next time I get some free time 👍

[2016-04-06 03:11] metallikat36 opened #17 "Tooltip in different browsers"
I haven't installed your 2.4.0 update yet, but this issue probably still applies.  No tooltip shows when I use Firefox or IE.  I tested this with some online browser comparison tools, so this does not seem to be an issue with my local machine as far as I can tell.  I tested the following URL:
http://www.earthmedresearch.org/wordpress-resources-at-siteground/
Works fine in Chrome, which is what I u

[2016-04-06 04:32] dsifford commented on #17
@metallikat36 Great catch! Not sure why that is. I'll download firefox tomorrow and see if I can write a polyfill for this. 👍

[2016-04-06 16:40] dsifford commented on #17
@metallikat36 - Update: Found the error. Gonna do some PHP rewriting and it should fix it.

Thanks for letting me know about this.

[2016-04-06 19:06] dsifford commented on #17
Fixed fac9e326eeebffeac2a1c5e7aba49a082269a301 👍

[2016-04-06 19:06] #17 closed

[2016-04-07 23:31] dsifford opened #18 "Object.remove() and Object.assign() issue with IE browsers"

[2016-04-09 07:55] metallikat36 opened #19 "Indentation issue"
Hi Derek,

I finally updated the plugin, and now it totally doesn't work.  =)  But one thing at a time!  The first major issue is that any new post I write is indented:
http://www.earthmedresearch.org/testing-citations-indentations/
If I deactivate the plugin and reload this page, the indentation will no longer be there.  Any ideas?

Thanks,
David

[2016-04-09 07:56] metallikat36 commented on #19
Oh I think some of the other issues I was seeing are fixing themselves...I'll let you know in more detail in the next day or two.

[2016-04-09 08:02] metallikat36 commented on #19
Oh, dang..now once I have added at least 1 citation/reference to the post, the indenting disappeared.  Guess this one fixed itself.  So downgrade this to just an FYI.

[2016-04-09 17:08] dsifford commented on #19
@metallikat36 Thanks for letting me know about this. It probably has to do with how the plugin  searches and tags or ordered lists if no smart bibliography is found..

I'll see if there's any way I can make it more accurate next time i get some free time

[2016-04-10 03:23] metallikat36 opened #20 "Feedback on 2.4.1"
Okay, so I have tested the plugin and here is all my feedback:

1.  FYI, your active installs of the plugin went from like 50 down to 30.  Probably because the update messed up posts already published with citations in them.  For me, what it did is it made all the tooltips blank.  I could fix this by editing the article, enabling smart biblio mode, and then moving my references list (which was pre

[2016-04-10 05:33] metallikat36 commented on #19
Here is some more specific symptoms of this issue.  On the following page:
http://www.earthmedresearch.org/newsletter/
you can see the indentation that should not be there.  But also the entire first paragraph of the page disappears, as long as the plugin is active.

[2016-04-10 17:10] dsifford commented on #19
Thanks for the test run.. It looks like it is doing exactly what I thought it was. I'll see if I can work on a fix later this afternoon

![image](https://cloud.githubusercontent.com/assets/5240018/14411686/71f5292a-ff1d-11e5-8530-c3fec6b6f96d.png)

[2016-04-10 17:24] dsifford commented on #20
Thanks again for all your help and suggestions David.

To touch on each of your points individually...

Oh well; ya win some, ya lose some. I think as the bugs get worked out people will come back. Not terribly worried.

You totally did not have to do that. Your help and suggestions have been more than enough in return! But I appreciate it nevertheless 👍

I was going to pursue having stuff autopop

[2016-04-10 17:29] dsifford opened #21 "Fix typo on options page"

[2016-04-10 18:09] dsifford commented on #21
Fixed e8c1de463e51715a8afdc3c19ca869a7168b452f

[2016-04-10 18:09] #21 closed

[2016-04-10 18:09] dsifford commented on #19
Fixed: e8c1de463e51715a8afdc3c19ca869a7168b452f

[2016-04-10 18:09] #19 closed

[2016-04-11 05:02] metallikat36 commented on #20
**Re:Proposed "Regenerated References" feature) ** A way to implement this kind of "regeneration" of citations and references that would not be a problem if people wanted to stop using the plugin could be as follows.  As of right now, if you deactivate the plugin, you see [cite num ="x"] in the articles, and you see a references list at the end.  This is alright, since those citations still make s

[2016-04-11 06:15] metallikat36 commented on #20
Okay, I figured out the issue with multiple PMIDs.  It works fine, unless you input a PMID that does not exist.  For example, 1234568 does not exist in pubmed.  That's why I was getting the bugs.  So maybe you need a try, catch block or something.

[2016-04-11 15:01] dsifford commented on #20
I've thought about this a bit more as well and I think the way to pull it off would be to store a hidden `<span>` element of JSON-encoded citation data to pull references from after inserting. Each `[cite num=xxx]` would instead have to be some type of citation id that can be cross-referenced in the json. Then, when the user clicks generate, it can just add them in order of occurrence in the json

[2016-04-11 17:29] dsifford opened #22 "Improve error handling of pubmed api calls"

[2016-04-11 21:25] metallikat36 commented on #20
Just brainstorming cases that might be helpful to think about, whatever the method may be:

-  Like you said, what to do with citations blocks that have more than 1 citation in them
- What happens when you reduce (rather than increase) the number of citations in a block (i.e. [cite num="1-2"] ==> [cite num="1"]
- What to do with a reference you want on the list, but don't actually want to cite
- w

[2016-04-11 22:41] dsifford commented on #20
@metallikat36 Interesting ideas.

I think I may have figured out how to go about doing it, but the execution will likely take a little while.

In short, I think I might be able to add a sidebar meta box that can collect a list of references and then interop between there and the post editor.

The only way to really go about doing that is to completely ditch shortcodes and add html on the fly. I ha

[2016-04-11 23:10] metallikat36 commented on #20
Understood.  Plugin in its present state is awesome and totally workable - in fact the only workable plugin out there at present that I know of.  So if this all gets too frustrating, no worries if we just scrap the whole idea.

[2016-04-12 23:00] metallikat36 opened #23 "Outgoing links and SEO"
Just wondering if having virtually all my links ultimately ending up in a tooltip would have any adverse effects on SEO?  Maybe search engines don't see those links?

Actually, now it occurs to me the actual links are in the references list as well, so I suppose there should be no issue.  Unless collapsing a reference list somehow hid those links in the references from search engines.

[2016-04-12 23:03] metallikat36 commented on #23
Also, you might want to reflect on how you have implemented target=blank links.  According to this guys plugi description, there are good and not-so-good ways of opening links in new windows as far as SEO goes.  It's not something I understand, but thought I would bring it up.
https://wordpress.org/plugins/open-external-links-in-a-new-window/

[2016-04-12 23:09] dsifford commented on #23
Good thought, though I don't think there really is any hit in using `target="_blank"` on external URLs. SEO for individual sites take somewhat of a hit if their own internal links to other pages within their own domain are targetless, but external links make no difference. This is so the search engine can travel through the flow of the site and generate a sitemap for itself to index.

[2016-04-12 23:09] #23 closed

[2016-04-15 01:37] someonehere15 opened #24 "Feature request"
I'll start by saying great job on the plugin, it is great!
I've been looking for a citation plugin to include on a prototype I need to present in two months and after a long search I stumbled upon yours. Unfortunately I still cannot use it though, one of the reasons being that it only uses PMIDs. So if I may, the following features would make it in my opinion the best reference plugin out there (a

[2016-04-15 04:30] dsifford commented on #24
Hi there. Glad you like it!

Good suggestions. Allow me to comment on them individually:

You should be able to add a heading just before the bibliography using the editor on WordPress. That would achieve the same result.

**1b, 1c**: Currently thinking up a better way to handle the smart-bib. Ideally some sort of click and drag functionality that would adjust the references accordingly. It become

[2016-04-15 04:31] dsifford opened #25 "Add RIS (refman) import"
See #24

cc: @someonehere15

[2016-04-15 05:56] dsifford commented on #25
Note to self: This seems to work as a halfway decent bibtex-to-json parser.. Run with it.

(assuming `bib` = a string a bibtex)

[code]

[2016-04-15 05:58] dsifford commented on #24
@someonehere15 If you can copy and paste a few examples of the bibtex you're planning on importing to #25 that would be helpful.

[2016-04-15 08:55] someonehere15 commented on #25
Here's an example:

@inproceedings{Liu1999,
abstract = {For any re-engineering of the legacy system such as alteration, modification or complete rebuild, to understand the original requirements can be important and sometimes critical. The semiotic approach we present aims at recovering requirements by studying the legacy system's behaviour. Using this approach, the requirements recovery consists o

[2016-04-15 09:10] someonehere15 commented on #24
Thanks a lot for the quick response, I appreciate it.
To be honest, not to impose, but for my case I really need a download option. And maybe I'm wrong, but I think one of the main reasons why someone needs a bibliography, is to further use it for himself, and no better way to directly download the reference.
Besides, if you already have a bibtex parser, wouldn't the other way be easier? especiall

[2016-04-15 09:17] someonehere15 commented on #25
BTW, on your plugin theres Journal, Book, and Web Page. I dont know how you would classify other types, like the example bibtex I sent. But it would be nice to add some more options, like Conference Proceedings. Or at least keep in mind to assign types without a template to similar known types, e.g. if a bibtex contains a Working Paper, it should be formatted as a Journal Article.

[2016-04-15 13:18] dsifford commented on #25
Is there any way you can send me a list of all known bibtex types?

[2016-04-15 14:18] dsifford commented on #25
I'll have to see if I can work on special characters, but the above snippet I posted was able to convert the bibtex you posted to this:

[code]

[2016-04-15 14:21] dsifford commented on #25
Also, nevermind on posting the list of types. I found this:

https://www.andy-roberts.net/res/writing/latex/bibentries.pdf

If that doesn't include all of the types, let me know

[2016-04-15 17:53] someonehere15 commented on #25
The conversion looks great! (except the special chars)

Looks like the types are all there on your pdf, but the fields maybe not, there's no URL, DOI fields, although I couldnt find any bigger list than yours. Maybe they are custom fields, but very used.
Nice job

[2016-04-15 19:43] dsifford commented on #25
@someonehere15 Thanks. I'll keep you updated on the status.

Also, looking at the test references you sent, it appears that you have background in computer science? Is that correct? Forgive me if my previous comments were insulting your intelligence.

[2016-04-16 01:36] someonehere15 commented on #25
No man, no problem at all. You've done a really good job here, seriously. It's strange that there are some reference tools for WP, but none of them does a full job. Something is always missing.

[2016-04-16 17:35] dsifford commented on #25
@someonehere15 Gonna be starting on the bibtex parser soon. In the meantime, let me know what you think of this:

https://vid.me/JYCo

cc: @metallikat36

[2016-04-16 17:46] dsifford commented on #25
Stress test: https://vid.me/DKIi

[2016-04-16 18:01] someonehere15 commented on #25
Nice, I love it! Very practical. Its a very good addition. I think this would help a lot. Watched the stress test while writing here, very responsive. Well done. Can you still also add a title for the list though, that can be set manually. I though it is better than people writing "Bibliography" manually on every post.

Let me also throw another thought out there, just an idea from an actual case:

[2016-04-16 18:13] dsifford commented on #25
@someonehere15

That can be done with css.

Add this to your stylesheet and adjust however you like best:

[code]

Demo [here](https://jsfiddle.net/dr8d2tdx/)

---

As for your other request, I'm not quite sure I'm understanding what it is you're describing. Any way you can send me a screenshot or something?

[2016-04-16 18:18] someonehere15 commented on #25
I actually tried with css but it was not working. Maybe I was using the wrong class, I'll check again.

I'll send you something later, I'm writing from my phone now.

[2016-04-16 21:13] dsifford opened #26 "Add help text for how to add a title to the reference list with css"

[2016-04-16 22:38] metallikat36 commented on #25
Awesome Derek!  I'll be happy to test it out thoroughly once it's done.

[2016-04-18 02:19] dsifford commented on #25
@someonehere15 Can you email me a sample bibtex file? Ideally, one that has a good mixture of reference types?

I'm gonna get started on the bibtex upload feature this week.

dereksifford@gmail.com

Thanks.

[2016-04-18 02:54] dsifford commented on #25
Also, just realized that most reference managers also support RIS and EndNote (xml) export formats... Either of these will be _light years_ easier to implement than bibtex. Would that be an acceptable option? Or is BibTeX mandatory for your workflow?

[2016-04-18 15:46] someonehere15 commented on #25
Hey, sorry for the delay. The reason for the bibtex is because it is also supported by latex, and besides, its the oldest and most used type. It would not be a problem personally for me, but maybe for others. If the reference types are your worry, you don't need to implement all of them anyway, there are more defined than necessary, and besides, the types would be the same with RIS, that's not rea

[2016-04-18 15:53] dsifford commented on #25
@someonehere15 Thanks for the clarification.

The reason I'm leaning toward RIS is that it is just much easier to reason about programatically than bibtex.

Here's an example of the format

[code]

Much easier; I can just split each line at the `-` and then trim the whitespace and know for certain that I have all of the information that I need. The bibtex script I wrote works fairly well too, but

[2016-04-18 16:13] dsifford commented on #25
@someonehere15 I checked into it and it looks like zotero, mendeley, endnote, and papers allows you to export in RIS format (some call it Refman format). Because it'll be easier from a maintainability standpoint, I'm going to go that route..

There are RIS to bibtex converters online that you can use to convert if you need to paste it into a latex document. http://www.bruot.org/ris2bib/ is just on

[2016-04-18 16:32] someonehere15 commented on #25
No problem, if it's easier for you then go with it. I know the format and yes, it is supported by most, so don't worry, you can use it.

[2016-04-18 16:42] dsifford commented on #25
@someonehere15 Which types did you say you would like added (to go along with website, journal, and book)?

[2016-04-19 01:30] dsifford commented on #25
@someonehere15 Early prototype: https://vid.me/jhpr

It's still not perfect (as you'll see), but it's coming along nicely.

Let me know your thoughts.

[2016-04-19 02:25] dsifford opened #27 "Error when no authors selected on website insertion"
related to `string.prototype.substr()`

[2016-04-19 10:17] someonehere15 commented on #25
Wonderful! It's coming along nicely, right?

For me probably the types conference proceedings, report, maybe also book chapter and thesis. For the types that you don't include separately, you can just add a generic type, and parse the fields that you can recognize, e.g. author, title, journal, url, etc. (eventually editors, publisher, etc.), which you also use on other types, and reference it in a

[2016-04-19 10:59] someonehere15 commented on #25
Can I give you another idea, and please keep in mind these are just ideas, so don't feel any pressure or anything, we are just discussing here after all. I think one nice additional feature would be to add an attachment link to references, e.g. by using the WordPress Media Library, or just entering a url to a file, in case e.g. someone wants to include a paper as a PDF with the reference. You can

[2016-04-19 16:01] dsifford commented on #25
Book chapter already exists - I fused it together with "book"

You are correct. I'll think about how to best handle that.

Not a bad idea. I'll add in.

Can you give me an example of how you vision this to work?

Open a separate issue for this

[2016-04-19 18:22] dsifford commented on #25
@someonehere15 @metallikat36 There's going to be an additional delay on 2.5.0 because I'm in the process of converting the current way that I parse citations into CSL format (as defined by the Citation Style Language spec) -- This will allow me to add the option for users to define their own citation style which I think will be better for the long-term.

[2016-04-19 19:37] someonehere15 commented on #25
Very nice thinking on CSL, it is pretty much standard nowadays.
For the footnotes: Beside the actual reference types, book, journal, etc., you can add a "Footnote" type, where I can just add text, and a link field, for a link. More specifically, you can format it like this: If there is only text and no link, just show the text of course, if there is a link too, you can show it "text: link" for ins

[2016-04-19 19:39] someonehere15 opened #28 "Add attachments to the references"
So, again: one nice additional feature would be to add an attachment link to references, e.g. by using the WordPress Media Library, or just entering a url to a file (and show a download icon to differentiate from the download reference link), in case e.g. someone wants to include a paper as a PDF with the reference. You can e.g. check out the papercite plugin that does it, just as a reference.

[2016-04-19 20:11] dsifford commented on #25
@someonehere15 Re: footnotes, that'll have to come in the next major release. It'll take a bit of work to pull off (correctly)

Also, I checked out the KCite plugin for giggles and... wow. The amount of errors that it throws in debug mode is scary. If you have it installed, strongly consider removing it.

[2016-04-19 20:39] someonehere15 commented on #25
hehe, no, haven't used it much, but the idea is nice.
you can check out papercite though, that is a good reference.

[2016-04-20 12:54] dsifford commented on #25
@someonehere15 @metallikat36 -- Happy to report, I managed to get full CSL support working (without having to upload the 200Mb of bloat files)

What does that mean? Next update will have 1300 citation styles, and 40 reference types supported.

Here's a demo of RIS import (using a range of different reference types)

https://vid.me/WE9U

Let me know what you think 👍

[2016-04-20 14:28] dsifford commented on #25
Also  -- I'm adding DOI support through Crossref as well. 👍 Thanks for the suggestions @someonehere15 @metallikat36

[2016-04-21 08:21] someonehere15 commented on #25
Nice touch on the unending list video ;).
You did a wonderful job on everything, so I'm speechless now.
Believe me I tried every plugin possible, and no one is as polished and this functional, so congrats. Can't wait to try it.

[2016-04-21 18:16] dsifford commented on #25
@someonehere15 Thanks for the kind words. Glad you like it!

The plugin update is pretty much complete from a literal standpoint. All that's left for me to do is work on better test coverage, some last minute file cleanup, and work on the documentation.

I'll probably have the update pushed out by the end of this weekend at the latest 👍 (assuming I don't find any difficult edge cases while running

[2016-04-21 18:46] dsifford commented on #20
@metallikat36 Closing this issue for now. Let me know if I forgot about any of your suggestions on this next update (if so, open a new issue) 👍

[2016-04-21 18:46] #20 closed

[2016-04-21 18:49] dsifford commented on #24
@someonehere15 Closing this issue for now..

### Recap of recap for release 3.0.0
- [x] ~~Bibtex~~ RIS for authors
- [ ] ~~Bibtex~~ RIS for readers
- [x] DOI parser from crossref
- [x] CSL styles
- [x] Smart bibliography that doesn't suck
- [ ] Filtering (open another issue for this if you're dying to have it + include a description on how you vision it working)

[2016-04-21 18:49] #24 closed

[2016-04-21 19:45] someonehere15 commented on #25
Sure, it's a pleasure with someone who listens, so thank you.

[2016-04-22 03:28] someonehere15 commented on #25
Hey just a question: will all the references be downloadable, or only the ones that have been imported from RIS? For instance if I have entered a reference manually, will that also be available to download as a RIS? It would be nice if all of them are downloadable, not partially.
Will you also provide a link to download a RIS file with all the references together?

One last thing I thought of: Bes

[2016-04-22 03:46] dsifford commented on #25
@someonehere15

I won't be adding reference downloading to this next release because there's already too many changes. I'd like the next release out into the wild first so that I can be sure it's working properly before spreading myself out too thin.

That said, All references (no matter where they come from) in this plugin are converted to CSL. I'd be able to easily export the references to CSL i

[2016-04-22 05:27] dsifford commented on #18
Not worth fixing for a browser that's going to be dying soon.

[2016-04-22 05:27] #18 closed

[2016-04-23 16:51] someonehere15 commented on #25
Not to sound bad here, but to be honest downloadable references are the single most important feature I needed. Of course it's clear that you have done a wonderful job with the implementation and the listening to others like us, and you improved the plugin a lot. But as I said, exporting is the only thing still keeping me from this. I was really looking forward to everything, but it won't be usefu

[2016-04-23 20:48] dsifford commented on #25
@someonehere15 Open an issue for that and I'll look into it. Just because it won't be on the next release doesn't mean that it will be a long way away.

Also, can you clarify the question that I asked above Re: exporting CSL?

[2016-04-24 05:59] dsifford commented on #25
@someonehere15 Also, I apologize if it has appeared as though I wasn't putting much work into this project over the last few days. Truth be told, it's been [quite the contrary](https://github.com/dsifford/academic-bloggers-toolkit/compare/master...3.0.0).

Please sit tight. As soon as I get this next release tested and pushed out, I'll then be able to focus on new features. Settling for some of th

[2016-04-24 19:12] someonehere15 commented on #25
I hope you didn't take my comment the wrong way, I didn't mean at all that you weren't putting a lot of effort to it. On the contrary I also think that you actually listened and tried to solve a lot more than anyone I know in such a short time. Don't get me wrong there. I just meant that in the specific case I couldn't use it, not because I don't want to, but because that specific feature was the

[2016-04-24 19:14] someonehere15 opened #29 "Add import references by file URL"
Hi again,
So as discussed, it would be nice to provide an option to enter the URL of a reference file (RIS in this case) and directly import the references from there without uploading the file locally.

[2016-04-24 19:16] someonehere15 opened #30 "Add download option to front end reference list"
As discussed again, a download option for each reference to a reference container file (RIS as you said) for front end users if they want to reuse the reference. Maybe also an additional option to download all references in one file. Good luck!

[2016-04-24 23:05] dsifford commented on #25
@someonehere15 No problem. Just didn't want you thinking that I wasn't considering your suggestions.

Re: CSL -- I was referring to the JSON (or XML, I suppose) schema. Wasn't sure if the bigger reference managers accepted that as an import. If not, I suppose I could just export back to endnote RIS format and hope that the other reference managers prepared themselves for this sort of thing (I woul

[2016-04-24 23:05] #25 closed

[2016-04-24 23:08] dsifford commented on #30
Would just an export-all be acceptable? Or did you also need single-reference exports?

[2016-04-24 23:09] dsifford commented on #29
Can you give me an example of where this url would come from? Dropbox or something? Any chance you can provide one for me to play with?

[2016-04-25 04:09] dsifford commented on #27
Fixed on 3d0f01765b1825b80606a73c75035a6b2806c4dc

[2016-04-25 04:09] #27 closed

[2016-04-25 04:09] dsifford commented on #26
Fixed 3d0f01765b1825b80606a73c75035a6b2806c4dc

[2016-04-25 04:09] #26 closed

[2016-04-25 04:10] dsifford commented on #22
Fixed 3d0f01765b1825b80606a73c75035a6b2806c4dc

[2016-04-25 04:10] #22 closed

[2016-04-25 06:13] metallikat36 opened #32 "#abt-smart-bib:before bug"
Awesome updates Derek. I will test it out more thoroughly probably tomorrow. One bug on my site is that if I try to add the before text, it does not appear:
http://www.earthmedresearch.org/community-guidelines/
The word "References" is something I wrote manually, so ignore that.

When I click Update on the override CSS box, it keeps adding more  slashes "\" to the code.  The more you click update,

[2016-04-25 06:17] metallikat36 opened #33 "z-index question"
I have manually coded in a z-index for .abt_tooltip. I am wondering if I also need to do it for the following:

.abt_arrow_up
.abt_arrow_down
.abt_tooltip_touch_close

In other words, I want to make sure all parts of the tooltip stick together. Have I got this list right, or did I miss any other elements I need to add the same z-index to?

[2016-04-25 07:09] someonehere15 commented on #30
Normally both would be the best, single ones probably better than all together because it doesn't force all if one is needed. But if you mean what I might need now, export all is also enough. Would that then be only for the references imported from RIS and not the manual ones? Just asking.

[2016-04-25 07:47] someonehere15 commented on #30
Sorry, just saw your last post on the other thread. If you're referring to EndNote XML, then it might also work. But I don't know any standard reference formats that use JSON. As we discussed, the three most popular are BibTex, RIS, and possibly EndNote XML. Anything other than that would be very limited, if any.

[2016-04-25 18:54] dsifford commented on #33
Here's how the tooltips are layered.

[code]

stated slightly differently...

|Grandparent element|Parent Element(s)|Child element|
|----|----|-----|
|`.abt_tooltip`|`.abt_arrow_up`, `.abt_arrow_down`|.abt_tooltip_touch_close|

Child elements are on top of their parent

Hope that helps

[2016-04-25 18:57] dsifford commented on #32
Hm... Looks like that field is escaping itself. I'll have to look into it.

Protip for the meantime: Sequester all frontend CSS into the same file. That way, your site only has to make one request over the network for files. The box I provide is simply for convenience, it's definitely not for optimization!

Side note: did you try double quotes? `"` -- Same result?

[2016-04-25 18:58] dsifford commented on #30
@someonehere15 Just realized that CSL parses into bibtex. I can definitely have it exported as bibtex. 👍

[2016-04-25 19:09] dsifford opened #34 "Highlight and drag reference -- bold text stays"

[2016-04-25 19:38] dsifford commented on #32
@metallikat36 nevermind. Already fixed it. Pushing the fix shortly

[2016-04-25 20:01] #32 closed

[2016-04-25 20:01] #34 closed

[2016-04-25 20:23] dsifford commented on #30
@someonehere15 Can you show me an example of how this might look? I'm trying to devise a way to make this optional, but there are several different application states that this option would have to reside in order for it to work and it's proving to be quite challenging.

Re: single exports. (Devils advocate question, so forgive me if this is perceived as condescending) -- What's the difference bet

[2016-04-26 01:42] someonehere15 commented on #30
I'm not sure I understand what you mean. The step by step process would be:
I am the author. I export a file (RIS, bibtex, whatever), from my reference manager, and import it into your plugin, and add the references in the post.
Now, the other side, I am the reader. I read the post, and I find interesting publications referenced there. For whatever reason, I want to have the reference in my own re

[2016-04-26 01:51] someonehere15 commented on #29
Oops, sorry, just saw this. Although this is not a necessity like I said, it is just something additional that would simply avoid locally downloading the file, so no worries about it.
 What I mean is something like citeulike.org for instance, where there are libraries, users, etc., and you can download files directly. For example:
http://www.citeulike.org/author/Krcmar:H is an author page. You can

[2016-04-26 01:53] metallikat36 opened #36 "mobile rendering possible bug"
Again, I am using an emulator, so this could be a false observation, but look at this:
http://mobiletest.me/iphone_5_emulator/?u=http://www.earthmedresearch.org/community-guidelines/
Hover over the first tooltip (i.e. [1,2]). Note that the long URLs do not wrap properly. Those two references are of type "Website". I don't see this problem with other types of references, which don't have long urls

[2016-04-26 01:57] metallikat36 opened #37 "Duplicate references"
I really don't care about this, but just giving you a heads up. The plugin allows for repeating the same references multiple times. Of course, anyone manually writing a paper in real life can always make that mistake, so I don't consider an automated check on that to be a necessary feature.  Just letting you know though.

[2016-04-26 02:41] metallikat36 opened #38 "IE tooltips"
I now have access to a computer with IE, and tooltips do not display.

[2016-04-26 02:41] metallikat36 commented on #38
FYI, I tested the reordering of references pretty heavily and it all works fine. Only feature I am personally still desiring is collapsible list, but the plugin is totally functional as is.

[2016-04-26 22:21] dsifford commented on #38
@metallikat36 I've decided to not concern myself with a browser that will soon be consumed completely by Edge.

IE as a whole has a ~5% global usage rate (which is shockingly higher than I would have guessed). If they are comfortable with a horrible baseline browsing experience, than no tooltips for them!

I might add a polyfill to let IE users know that they need to [get a better browser](browseh

[2016-04-26 22:21] #38 closed

[2016-04-26 22:23] dsifford commented on #37
Good point. Let me think this one over and see if there is any easy way to implement a check.

[2016-04-26 22:26] dsifford commented on #36
Yeah, I think that site is a bit shaky. Here's how it looks using chrome devtools for an iphone 5.

![image](https://cloud.githubusercontent.com/assets/5240018/14836187/4ca78278-0bdc-11e6-86f9-383c5b1609a5.png)

Closing this for now, but if something else turns up, feel free to comment back on it.

[2016-04-26 22:26] #36 closed

[2016-04-26 22:27] metallikat36 commented on #38
Agreed about IE.

[2016-04-26 22:27] dsifford commented on #33
Setting this as resolved. If you have any other questions feel free to chime back.

[2016-04-26 22:27] #33 closed

[2016-04-26 23:46] someonehere15 opened #39 "Editor toolbar disappears when ABT active"
Hey, just wanted to let you know that I just tried the plugin, and noticed that the editor buttons toolbar disappears when ABT is activated, in visual mode. Not in text mode though.
I tried in in IE and Chrome, and in two different WP setups. Am I missing something or is it a bug?

Nice touch on the jsfiddle in the settings, it's a good idea.

[2016-04-27 00:07] dsifford commented on #39
Can you send a screenshot? I'm not able to reproduce what you're describing.

[2016-04-27 00:09] someonehere15 commented on #39
![capture](https://cloud.githubusercontent.com/assets/18473637/14837961/1a69e440-0c1d-11e6-9b65-a25e4b468610.JPG)

[2016-04-27 00:34] dsifford commented on #39
@someonehere15 What other plugins are you using?

On chrome, can you load the page, press F12, click "console" and paste any errors that are there?

[2016-04-27 00:54] someonehere15 commented on #39
Well I am using various plugins, but as I said, I tried it on two completely different sites which have different plugins. These are the errors, and the files are indeed named differently on the folder that the ones mentioned here from what I saw:
[code]

[2016-04-27 00:57] dsifford commented on #39
Possibly a cache issue? Is your cite caching aggressively? Try dumping both your local and server cache and try again.

[2016-04-27 00:59] dsifford commented on #39
Also, just to confirm -- You are installing from WordPress.org, correct? If you install from this repo directly, the plugin won't work. The files need to be compiled.

[2016-04-27 01:22] someonehere15 commented on #39
Yes, you were right, cache. Its working perfectly now. Just a though: wouldn't it be better to place the Import RIS button also on the side widget, and completely eliminate the button on the editor toolbar? there is no need to separate the functions, the widget is much better.
Furthermore, is it expected that I can't insert a reference on the text editing mode, only visual?

[2016-04-27 01:24] someonehere15 commented on #39
Another thing: If I delete the bibliography list from the editor, there's no way of getting it back is there? I can only recreate it if I import a new reference.

[2016-04-27 01:46] dsifford commented on #39
Phew!

I thought that as well, but I'm keeping the button available (for now at least) until I know for sure I'm not going to need it for any other features. I'm imagining that there's going to come a time sooner or later that someone is going to request something that I have no space for on the widget.

Correct. That's actually a weakness of TinyMCE and nothing I have any control over. One thing

[2016-04-27 09:10] someonehere15 commented on #39
Ok, thanks for clarifying. But I think you misunderstood the last question. I didn't mean if I remove the references from the widget or anything, just that if I delete the generated bibliography from the text, accidentally for instance, and the references are still on the widget, the same session and everything, I cannot regenerate it on the text. Not sure if it's clear now, but I don't think you

[2016-04-27 09:28] someonehere15 commented on #30
So, not at all trying to tell you how to develop, so please don't take it the wrong way. But I was thinking, if you already save the parsed references in JSON, be it from importing RIS, from PubMed, or manually, can't you relatively easily generate a RIS file, or even bibtex for that matter? You just create the file with the RIS specs and fill the fields.
You don't even need to create a downloadab

[2016-04-27 16:49] dsifford commented on #39
Ah, yeah there's no way to regenerate the bibliography besides doing a ctrl+z. I suppose I might be able to write something in for bibliography regeneration, but I don't think it would serve any better than doing a simple undo. If the bibliography gets deleted and the post is reloaded, it'll be gone for good.

[2016-04-27 16:54] dsifford commented on #30
The difficulty for me is twofold:

1. How am I going to display the download link? A button? Where would it go?
2. How do I make this optional? Only a small minority of people would be interested in this (at least in the circle that I swim in).

Generating the file isn't much of a concern. I wouldn't be using PHP to do it though (confession: I loathe php). I'd be doing it in TypeScript like pretty

[2016-04-27 16:58] dsifford commented on #30
The source I'm describing here is the journal's website. Say for example, you add a reference with a DOI or PMID and choose to add links by selecting that option. If you click those links it takes you to the journal's website (the "source") and there you can easily export the reference to whatever format you desire. My question was, is it worth it to add this very same feature to the reference lis

[2016-04-27 22:51] someonehere15 commented on #30
Ok, from the bottom up. Yes, it would just be an additional click, but I would think of two reasons that is not always the case:
1. The source websites are usually not intuitive in the exportation of references, most academic databases are ugly looking, and this would help, and...
2. More importantly, not all references have the link. If I manually insert a reference or import from my own RIS file

[2016-04-28 10:17] billmorton opened #40 "Issue with Advanced Custom Fields"
If i click add reference, i two pop ups, one on top of the other, with no error in the console. It won't let me add a reference, the button just clicks, but doesn't close the pop up or add the reference to the page.

I have tracked the issue down to an issue with the plugin advanced custom fields. https://wordpress.org/plugins/advanced-custom-fields/

I thought it might be an issue with my theme,

[2016-04-28 18:52] dsifford commented on #40
Thanks for the info @billmorton

It's likely a naming clash. I'll check it out later this evening or tomorrow and try to get an update out sometime soon after. 👍

[2016-04-28 18:54] dsifford opened #41 "Relax the permission checks so that 'subscribers' can also use."
Currently, the plugin checks to see if `current_user_can` `edit-posts` or `edit-pages`, which is fine, but prevents contributors or subscribers from being able to use the plugin.

Relax these permissions.

[2016-04-28 18:59] dsifford commented on #29
@someonehere15 I'm not able to make the URL you provided open to exactly RIS format. Can you clarify on this?

[2016-04-28 22:02] someonehere15 commented on #29
what do you mean? it gets download perfectly for me. You click the second link and a ris file downloads.

[2016-04-28 22:17] dsifford commented on #29
Correct, but that's precisely what I don't need in order to programmatically extract it. If it rendered in its own page as plain text, id be able to consume it using a simple HTTP request. It becomes trickier if its a file glob (as is this case)...

I might be able to figure out how to extract from citeulike, but that would become a slippery slope in that if then have to do it for more individual

[2016-04-28 22:43] someonehere15 commented on #29
No problem, it was just an idea anyway, a bonus feature, but not at all required.

[2016-04-28 23:52] dsifford commented on #29
Keep the ideas comin!

[2016-04-29 00:10] Tammakit opened #42 "Cannot insert citations when set locales to Thai"
I tried to add a citation when set locales to Thai and got the error in the console.

But adding a citation in English was fine.

[2016-04-29 00:23] dsifford commented on #40
@billmorton I reached out the the ACF dev to see if we might be able to put our heads together on this. His plugin is far too large for me to reasonably sift through.

[2016-04-29 00:24] dsifford commented on #42
Can you send me a link to the reference that you used that created that issue? I think I may know the reason why...

Thanks for the heads up 👍

[2016-04-29 00:30] #29 closed

[2016-04-29 00:36] dsifford commented on #39
Closing this issue for now. If you have any suggestions for making the user experience better in this area, feel free to keep the conversation going :+1:

[2016-04-29 00:36] #39 closed

[2016-04-29 00:45] dsifford commented on #30
@someonehere15

Good points Re: manual refs not having a "source".

Let me fix the open bugs first and then I'll start working on your request.

It'll have to be an icon or something that makes it absolutely obvious to the user that if they click it, they're getting a file downloaded, so that'll be one thing for me to mull over. Also, as you mentioned before (I think?) not all browsers directly su

[2016-04-29 00:59] dsifford commented on #40
@billmorton - Issue is fixed. I'll include the fix on the next update (should be released sometime this weekend).

Thanks for the heads up :+1:

[2016-04-29 01:00] Tammakit commented on #42
I recorded a video when the error occurred.

https://youtu.be/kAqwXP5xqGU

I think the problem is at the bottom of the file tinymce-entrypoint.js.

[2016-04-29 01:06] dsifford commented on #42
Awesome, thanks so much @Tammakit !

I'm almost positive I know what the error is. I'll get working on this now and keep you posted. The fix _should_ be pushed out sometime this weekend (unless I'm wrong, then it might take a bit longer).

[2016-04-29 01:27] dsifford opened #43 "Spacing between numbers and text in reflist"
![image](https://zube.io/files/dsifford/44e2eb00ef7262156e516ddd416903a7.png)

[2016-04-29 03:43] dsifford commented on #42
@Tammakit Update: I've fixed the error on my end, however I've run into another error on the end of the CSL processor that I'm using.

I can retrieve citations using your locale, however the processor is hiccuping and sending back US locale citations for everything.

Good news: you'll be able to parse citations now (when I push the update).
Bad news: It technically won't be in the correct locale u

[2016-04-29 03:48] Tammakit commented on #42
Thank you, Derek.

[2016-04-29 03:54] dsifford commented on #42
You're very welcome. If you'd like, you can follow along here for progress updates: https://github.com/Juris-M/citeproc-js/issues/4

[2016-04-29 07:47] someonehere15 commented on #30
If you mean what I said about the browser support, I was talking about the href "download" attribute, so unless you use that, I can't think of any other problems. For the icons you can use FontAwesome for instance, many themes even already include it. What do you use for the icons in the editor?

As for the rest. My initial thought actually was to directly export them to reference managers, but I

[2016-04-29 11:01] billmorton commented on #40
Lovely job, cheers for the fantastic plugin!

[2016-04-29 12:57] someonehere15 opened #44 "Create URL for DOI in imported RIS"
Just noticed that if I import a RIS with a DOI number, but no separate URL field, the doi just appears as text. I know it is not a bug, but it would be better and much more practical if the doi is automatically linked to the resolver, especially as I said, when the imported RIS has no URL but just a DOI number.

Just an additional question: Since from what I saw, you just generate the formatting a

[2016-04-29 15:59] dsifford commented on #44
I'll look into having the DOIs from RIS linked.

To answer your question (I think)... On load, the plugin traverses the entire post editor and looks for 2 things:

1. It looks for `<span>` attributes with the class `abt_cite` and it pulls the `data-reflist` attribute and stores it as an array (in local memory).
2. It looks for an `<ol>` with the ID `abt-smart-bib` and when it finds it, it takes ea

[2016-04-29 16:02] dsifford commented on #30
I use wordpress "Dashicons" -- reason being, they're already loaded into the page so there's no extra network overhead.

I'll keep that in mind. No promises, but who knows.

[2016-04-29 16:21] #40 closed

[2016-04-29 22:16] someonehere15 commented on #30
In my experience for instance, most of the people I know use Mendeley or Endnote,mostly because universities buy licenses for them. I personally like zotero too, although each has its advantages and disadvantages, but it's not my decision for different universities anyway. Just saying so you know zotero is not enough since the whole user base is niche anyway.

[2016-04-30 01:14] dsifford opened #45 "Switch from sass to postcss"

[2016-04-30 01:22] dsifford commented on #30
@someonehere15 Good points.

I'm about to push a small update with bugfixes in a few. After I get that out into the wild I need to focus on finishing the one outstanding major issue ( #42 ) -- After I get that all sorted out I'll focus on getting this started. Sorry to keep you waiting!

[2016-04-30 01:41] #41 closed

[2016-04-30 12:18] someonehere15 commented on #30
No problem at all, thanks for even considering. I hope you solve the issue, I saw it earlier.

[2016-04-30 15:49] someonehere15 commented on #44
Yes, thats what I was asking, just curious. Thanks.

PS. If you do add the linked DOI option, don't forget also for manually entered references, so if I enter a reference manually and add a DOI in the respective field, that may also be linked.

[2016-04-30 16:30] dsifford commented on #44
@someonehere15 Already done 😄

I'm working on adding optional toggleable reference lists and peer review sections (see #16 ) and then I'll get the update pushed out

[2016-04-30 18:22] dsifford commented on #44
Resolved: 8733a491004f72a3ce66dc2f2d01cbce52907381

[2016-04-30 18:22] #44 closed

[2016-04-30 18:22] dsifford commented on #43
Resolved: 8733a491004f72a3ce66dc2f2d01cbce52907381

[2016-04-30 18:22] #43 closed

[2016-04-30 18:22] dsifford commented on #16
Resolved: 8733a491004f72a3ce66dc2f2d01cbce52907381

[2016-04-30 18:22] #16 closed

[2016-04-30 21:23] metallikat36 commented on #16
A few comments:

1. You might want to add a note about styling the bibliography heading.  Here is what I used to style mine:
[code]
2. I don't know the CSS selector for the bibliography header while in "fixed" mode. I was only able to figure out how to style the header in "toggle" mode. Might want to include a note about what that selector is too. Though I personally do not need it.

3. Switching

[2016-04-30 21:26] dsifford commented on #16
Hey there!

That should be `#abt-smart-bib-container h3` (let me know if it isn't)

Yikes!! Can you give me more details on what happens exactly? That's the trouble with modifying existing features -- Super dangerous if you don't cover all your bases!

Thanks for the feedback.

[2016-04-30 22:00] metallikat36 commented on #16
Yes, that CSS selector works.

For me, what happened after the update is the biblio heading and the biblio just disappeared completely. I think this only happened if I turned on "Toggle" mode. I think if I kept the plugin in "Fixed" mode then the biblio header and biblio displayed fine, just as they were before the update (the heading in this case being due to manual CSS code). If I applied a head

[2016-04-30 22:02] dsifford commented on #16
Can you elaborate on "biblio heading and the biblio just disappeared completely" -- Like, you weren't able to see it at all?

Any chance you could reproduce the issue and capture a screengrab (or give me the steps to reproduce)?

[2016-04-30 22:05] metallikat36 commented on #16
Like if you edited the post, deleted all the references, then deactivated the plugin, that is what I saw at hte bottom. THe inline citations were there, but at the bottom of hte post, it was like the plugin didn't even exist.

The only way I could try to reproduce is by installing an older version of the plugin. You would have to give me the files to do that.

[2016-04-30 22:06] metallikat36 commented on #16
Steps would be install the old version, and make a references list on a post. Then update the plugin to the new version, and put it in Toggle mode, and the reference list  should disappear.

[2016-04-30 22:07] dsifford commented on #16
Hm... Is there any chance it could have been a cache issue?

[2016-04-30 22:13] metallikat36 commented on #16
I don't think so. I disabled my cloudflare, cleared my cache in my HyperCache plugin, and opened the link in a private browsing window.

[2016-04-30 22:14] metallikat36 commented on #16
Well, maybe if no one else complains then it's not an issue =). If it is actually a bug, you should be getting more posts soon.

[2016-04-30 22:25] dsifford commented on #16
Hm... I'll have to dig into it more to see if I overlooked something. Thanks for letting me know.

[2016-04-30 23:15] dsifford commented on #42
@Tammakit Possibly some good news: It turns out, the fix that I pushed out earlier today _should_ have fixed all the issues you were having.

Also, the locale _should_ be correctly set to Thai.

Please let me know if your citations aren't being processed correctly and I'll troubleshoot further. As of right now, I'm going to mark this issue fully resolved.

Thanks again! 👍

[2016-04-30 23:15] #42 closed

[2016-04-30 23:27] Tammakit commented on #42
@dsifford I've already updated the plugin and it works very well. I appreciate your dedicated work.

Thank you very much. :+1:

[2016-04-30 23:30] dsifford commented on #42
Great! Thanks again for the feedback.

[2016-05-01 03:00] dsifford commented on #45
Resolved: 3e5d8c0005eec1a120abf6755d07ee9948852b79

[2016-05-01 03:00] #45 closed

[2016-05-01 03:01] dsifford opened #47 "Look into using Pug (jade) for HTML within the php"

[2016-05-01 03:02] dsifford opened #48 "Look into using webpack HTML loader to create the static view files automatically."

[2016-05-01 03:04] dsifford opened #49 "Finish test coverage for all remaining files"

[2016-05-01 14:07] sgoggins commented on #28
I agree that this is a really important feature.

[2016-05-01 14:30] someonehere15 opened #50 "Reference List on Pages"
I just noticed that the Reference List is not appearing when editing Pages, and it's not on the screen options. Is it just me? If not, can you enable it for pages at least.

BTW, great job on everything until now. It's a great plugin.

[2016-05-01 14:35] dsifford commented on #28
@sgoggins Duly noted. Thanks for the feedback.

I'd imagine that the experience would be best if you were able to insert (or upload and insert) using the native WordPress file upload utility?

Also, would this be for manually inserted references only? Or would this also be desired for references inserted using an identifier?

Can you give me an example of how you'd ideally like this to look on the

[2016-05-01 14:36] dsifford commented on #50
Good catch! I'll work on getting this pushed out in the next patch update.

[2016-05-01 17:23] sgoggins opened #51 "Headings by Year for "APA CV""
I think for websites most academics want to be able to have headings by year.

Also, "APA CV" is kind of a guess.  One that worked, but just a guess. So, having a way to sort by year or alphabetically is generally useful regardless of the citation style, I think.

[2016-05-01 17:33] dsifford commented on #51
@sgoggins Agreed.

It's totally possible, but I still haven't quite figured out how to best go about implementing it (things become tricky being that, at baseline, users are able to click and drag references around the reference list).

I'm just about to get started on an enormous update to the citation processor; the goal in mind for the update is to 1. Allow different sort-by options (either det

[2016-05-01 17:38] sgoggins commented on #28
@dsifford : attachments are of course notoriously brutal and one of the reasons I am only slowly moving from my current site to something based on wordpress.  Drupal has long had a nice plugin for citation management, called "biblio".  My current pubs are largely found there .. here's the link just so you have a general idea; http://seangoggins.net/?q=biblio&s=year&o=desc

The biblio plugin is her

[2016-05-01 17:55] dsifford commented on #28
@sgoggins First, I'd like to mention that I humbly bow to your computer science prowess. Your credentials are certainly impressive!

But anyway.... You make good points. The only issue that I foresee is that (to my knowledge) I don't believe I'd be able to consume the files during RIS import using the path specified on the L1 line because the plugin only "sees" the paths that are available to it o

[2016-05-01 17:57] sgoggins opened #52 "Pagination of Long Bibliographies"
Not sure how much effort this would involve. Or even how important it would be if there are year breakdowns ... One of the things I like about the biblio plugin on drupal is it does paginate and let you sort by year ... Here's my current publish on a test site in your tool ..

http://datascience.goggins.com/7-2/

BTW, love this plugin MUCH more than ZOTPAD ... I like how its built to be movable an

[2016-05-01 18:11] dsifford commented on #52
I greatly appreciate the kind words! 😄

I like the idea, but I think in order to do it justice this would have to be made into a feature separate from regular blog post bibliographies.

I'll tag this as `future` for now and come back to it once the dust settles from the other open issues.

For the time being, I _believe_ Biblio has a WordPress plugin as well, don't they? Maybe that would be able t

[2016-05-01 19:57] dsifford commented on #47
Added: 8ecf6958f3126223a9f6de6daa9793a64db981e9

[2016-05-01 19:57] #47 closed

[2016-05-01 20:43] sgoggins commented on #28
oK ... I have never written wordpress plugins and I know from those who do that there are limitations of sorts. and @dsifford ... one should not bow to my computer science prowess ... I'm a hack of a coder and spend more time writing words than code these days ... but I can remember when java was launched, so I am at least old ...

I have an idea for a hack that might not be too much work, and if

[2016-05-01 23:05] dsifford commented on #28
@sgoggins In theory that sounds good. But the issue would be there are (purposeful) limitations in place preventing that sort of thing from happening (to my knowledge -- if I'm wrong don't be afraid to shoot me down! Hah). What I mean is, I wouldn't be able to just reach in and grab files (even if given the path name) without more deliberate action taken by the user. Otherwise, what's to stop peop

[2016-05-01 23:14] dsifford commented on #28
Having said all that........

How does Zotero do it? Do they allow you to import RIS _with_ attachments? Can you explain the flow of that process?

I might have to call the programming supergenius/zotero mastermind/nicer-than-the-average-bear @fbennett into this conversation. I'd imagine he'd be able to share a trove of helpful information on this.

[2016-05-01 23:59] fbennett commented on #28
I'm don't know the translator/import end of things in Zotero very well, but on a quick check, RIS supports round-trip export and import of items with attachments. The export creates a directory containing the RIS object with the item metadata, and a ./files subdirectory containing the attachment files. The L1 link(s) in the RIS data are relative paths, starting with 'files/...'. I'm not sure wheth

[2016-05-02 00:05] dsifford commented on #28
That sounds ideal to me.

Thoughts @sgoggins? @someonehere15?

[2016-05-02 19:55] dsifford opened #53 "Fully localize the options page and all menus"

[2016-05-02 20:21] #50 closed

[2016-05-02 20:39] #48 closed

[2016-05-03 09:58] someonehere15 commented on #28
Hey sorry just catched up.
First of all, I think the site content would be better structured if you do use the wordpress native media library and not leave the files unlinked to wp because they may remain orphaned once not used anymore or you plugin disabled for some reason. If you can find a way to combine both using the RIS link and adding it to the library, then its OK.
On the top of my head, y

[2016-05-03 21:28] danielsefton opened #55 "Reference List shows endless spinner when Visual Editor is disabled"
The Reference List shows an endless spinner when loading the Edit Post page with the "Text" tab selected. It only loads if you click on the Visual editor.

I usually have the visual editor disabled by default since I prefer to be in control of the HTML - the visual editor can sometimes cause formatting problems.

Therefore it would be nice if it worked as it does with the visual editor, but insert

[2016-05-04 22:58] someonehere15 commented on #30
Any updates on this, or have you not had any spare time?

[2016-05-04 23:07] someonehere15 commented on #50
I just noticed that in the editor for Pages the icon appears twice, one of which is not functional, nothing happens. It does not happen for posts though.

[2016-05-05 03:45] dsifford commented on #30
@someonehere15 Haven't started it yet, but I plan on it within the next few days.

I just finished writing tests (*sigh*...finally!) for the features that already exist. It took me forever, but it had to be done.

Sorry this has taken me so long; in my defense, I had to write _a lot_ of tests! 😱

[code]

[2016-05-05 03:46] dsifford commented on #50
@someonehere15 Good catch.. I'll get a fix pushed out tomorrow sometime 👍

[2016-05-05 03:47] dsifford opened #56 "TinyMCE button appears twice on pages."
![image](https://cloud.githubusercontent.com/assets/5240018/15035657/8822eb40-1252-11e6-9f51-d403920a69b9.png)

[2016-05-05 03:49] dsifford commented on #49
Done: 99715db7506b135dda6f4055192f4b7417cb925d

[2016-05-05 03:49] #49 closed

[2016-05-05 17:25] #56 closed

[2016-05-06 01:01] someonehere15 commented on #30
hehe, well done, congrats!

[2016-05-06 01:09] someonehere15 opened #60 "ABT hiding unrelated Markdown footnotes"
I use markdown to format the posts, and just noticed something: If I want to add a footnote, which in markdown would be something like [^1], the footnote is being hidden by your plugin. The number is shown inline, but the footnote text at the end of the page is not shown. I disabled your plugin and it worked fine, so I guess there's some conflict. Can you check? I tried it with Jetpack Markdown, n

[2016-05-06 01:23] dsifford commented on #60
@someonehere15 Is the markdown you're using native? Or is a plugin that offers that functionality?

Not possible, unfortunately. Each of the tags that it adds is used by the plugin in the background while you're editing the post and adding references. It's the only way for it to keep track of where things are at.

See the [readme](https://github.com/dsifford/academic-bloggers-toolkit/blob/master/R

[2016-05-06 01:35] dsifford commented on #60
Also, I suppose I should mention that I'm going to be looking into getting the reference list to work on the text editor soon. See #55

[2016-05-06 01:47] dsifford commented on #30
@someonehere15

Not sure if I asked this already, but can you send me a screenshot or a doodle of how you'd want this to look?

Are you thinking of just having a link or something after the citation or?

So, for example...

1. doe j. blah blah. citation 2015; 150-53. `[export]`

I can't really think of any way to do this cleanly.

[2016-05-06 04:16] dsifford commented on #30
Also, FYI: The [mendeley importer](https://chrome.google.com/webstore/detail/mendeley-importer/dagcmkpagjlhakfdhnbomgmjdpkdklff) extension for chrome currently works with the plugin.

[2016-05-06 09:08] someonehere15 commented on #60
No problem for the shortcodes. As I said I use jetpack markdown because wp does not natively support markdown anyway. I don't see why it should be a problem since your plugin uses [1]  whereas markdown uses [^1].but as I said the footnote is not shown while your plugin is active, but only when there are no references for ABT to show on the post. It would be a big problem.

[2016-05-06 12:39] someonehere15 commented on #60
I was also thinking, but didn't get the chance to try it yet. Normally markdown converts the code to html when rendered, so maybe ABT has problems not with markdown directly but with lists at the end or something, which would be a bigger problem. I can't check right now but if I do I will let you know. The markdown thing happens anyway though.

[2016-05-06 12:46] someonehere15 commented on #30
I can send you something later if you need, but basically you can just add a Download link at the end of the text as you said, in my opinion an icon would be even nicer. I think it's enough, people intuitively get it. Maybe add a title attribute to the link to say Download this reference in RIS format or something,for those who don't know what it does. The frontend part is basically this, simple,

[2016-05-06 17:35] dsifford commented on #60
I'll download jetpack later and try it out. It's likely related to how they parse the markdown.

[2016-05-06 17:47] dsifford commented on #60
Can't seem to reproduce here on my end.

![image](https://cloud.githubusercontent.com/assets/5240018/15081412/e786072c-1390-11e6-9625-37a841c7f079.png)

![image](https://cloud.githubusercontent.com/assets/5240018/15081423/f2accbe0-1390-11e6-8914-2643822d844a.png)

That said, if you are having issues and you singled the issue down to ABT, then it's likely because I still have some legacy code in it

[2016-05-06 19:00] someonehere15 commented on #60
Yes, because you are inserting a reference from ABT too. Try just leaving your plugin active, but without adding references. Just create a new post, insert a footnote, and that's it.

[2016-05-06 19:23] someonehere15 opened #61 "Jump to reference at the end"
Could you add anchors or similar to the references, so that when an inline citation is clicked, it jumps right at the full reference at the end of the post?

[2016-05-06 19:25] dsifford commented on #60
Ah, yeah that'll be because of the legacy code that still exists. I was meaning to take it out within the next couple of releases. If you want you can remove [this function](https://github.com/dsifford/academic-bloggers-toolkit/blob/master/lib/backend.php#L526) from your version which should work until I get it fully depreciated

[2016-05-06 19:29] someonehere15 opened #62 "Tooltip not showing with Customizr"
I tried to use the Customizr theme, and noticed that the ABT tooltips do not show up with that.
Based on [this link](https://gist.github.com/eri-trabiccolo/76efe3633e44ed75105b) which enables tooltips for another plugin with Customizr (because it uses Bootstrap and conflicts witht its own tooltip), I modified it for ABT:
[code]
It doesn't seem to work however. Any chance you could help me out?

[2016-05-06 19:30] dsifford commented on #61
I opted for tooltips, rather than anchors for this because I feel like jumping to a reference interrupts the flow of the person's reading.

Question: What do you think the benefit of anchors is over tooltips? In my mind, the tooltip shows you the full reference, with clickable links, so there really isn't a downside.

When the person is done and he/she wants to export the reference, then he/she ca

[2016-05-06 19:34] dsifford commented on #62
Not totally sure. What I do know is that `wp_print_scripts` has been depreciated since WordPress 3.3, so that might be some of the issue.

Tooltips for this plugin are just HTML elements created and destroyed on the fly. There really shouldn't be any reason why they shouldn't work.

Perhaps send a screenshot? Also, (if you're on chrome or firefox) press F12 and copy and paste any errors in the "co

[2016-05-06 19:52] someonehere15 commented on #62
Yes, you are right about `wp_print_scripts`, did not check. I did however just try with `wp_enqueue_scripts` and still nothing. I can send you a screenshot but basically nothing happens nor changes, on the console also nothing.

[2016-05-06 19:55] someonehere15 commented on #61
Well, as I wrote on the other thread, tooltips may not work on every theme, and besides, IE may be problematic, not saying I found any bugs now, but just in general. and having the possibility to jump at the end for thos who want to may be a compatible alternative.

[2016-05-06 20:05] dsifford commented on #61
Unfortunately, there really isn't a way to get this to work both ways. On mobile, I need to have the "touch" event free for rendering tooltips.

To clarify: On IE, there is most definitely an issue rendering tooltips. However, I don't believe it is worth the hassle to work harder for people who prefer a worse browsing experience at baseline. If they enjoy the hassle of browsing with IE, they can h

[2016-05-06 20:07] dsifford commented on #62
What led you to that code snippet? I imagine this is an indication that other people have had issues with the theme as well? Have you tried contacting the customizr theme people and filing an issue there?

[2016-05-06 20:23] someonehere15 commented on #62
I could only find one question about it, [here](http://presscustomizr.com/support-forums/topic/jquery-tooltips-suppressed/). I cannot contact them on their forum because that is only for pro users, and I don't have that yet.
I was hoping to fix it myself but the solution there doesn't work for me.

[2016-05-06 20:38] dsifford commented on #62
Ah, I see..

Yeah I'm not using any external plugins (eg. jQuery) with my plugin. It's all done in vanilla JS, so you shouldn't be having the issue that the person on that forum was having.

In other words, it shouldn't matter what order this is loaded for it to work correctly.

My guess is they wen't crazy with their `z-index`. I'll look into this more later and see if that's the case.

[2016-05-06 20:51] dsifford commented on #55
Update: This is possible, but it's going to take a lot of work. (WordPress and TinyMCE has made this, which should be so super simple, into a gigantic chore).

Will report back with updates as progress is made

[2016-05-06 20:52] dsifford commented on #60
If that doesn't work let me know and I'll reopen this.

[2016-05-06 20:52] #60 closed

[2016-05-06 20:55] someonehere15 commented on #62
Hey, you were right. I just added the z-index to the tooltip class of ABT and it worked perfectly. Thanks a lot.

[2016-05-06 20:58] dsifford commented on #62
Awesome. I think I'll bump up what I have set for my z-index so that these sorts of issues don't happen as often. I tried to keep it reasonable because there are some circumstances when you need stuff above the tooltip (eg, alert modals, etc).

[2016-05-06 20:58] #62 closed

[2016-05-06 23:21] dsifford commented on #61
Closing this for now. Feel free to reopen if you think there's more to be discussed.

[2016-05-06 23:21] #61 closed

[2016-05-09 18:44] dsifford commented on #55
@danielsefton Waiting on a reply [here](https://github.com/tinymce/tinymce-docs/issues/339) then I'll be able to get started on this.

[2016-05-11 20:53] metallikat36 opened #63 "Conference proceedings bug"
Just entered by first reference to a conference and it did not seem to parse the location and date that I manually entered. The reference is there, with the title and author. And the tool tip shows fine. But they are both just missing the date and location.

[2016-05-11 21:07] dsifford commented on #63
Can you give me the details on what exactly you entered and for what citation type?

[2016-05-11 21:11] metallikat36 commented on #63
Try inputting the following reference as a Conference Proceeding:

International Conference on AIDS: Magnesium Level and Peripheral Neuropathy; S. Stroud, et al.; August 1994

[2016-05-11 21:12] metallikat36 commented on #63
Make up anything for the Location field.

[2016-05-11 21:21] metallikat36 opened #64 "Consider Putting References List at bottom of sidebar"
Right now the references list is at the top of the sidebar in the Editor screen. Say I am adding some text at the bottom of an article. Then I want to insert a reference. I have to scroll to the top of the screen to reach the button to add a reference. If the References List was the bottom item rather than the top item, that might save users some scrolling up and down.

[2016-05-11 21:46] dsifford commented on #64
You are able to move that with your mouse to wherever you'd like on the sidebar. Just click and drag.

[2016-05-11 21:47] dsifford commented on #63
Which citation style?

[2016-05-11 21:51] metallikat36 commented on #64
Oh duh..Thanks.

[2016-05-11 21:54] metallikat36 commented on #63
Oh wow that's a lot of options. I have Academy of Management Review selected by default and have been using that. I noted that bug with that. Haven't tried with another style. My site is medical related so maybe I should have been selecting something else like American Medical Association for all my citations.

[2016-05-11 21:57] dsifford commented on #63
Yep, give another one a shot and let me know...

Some popular ones would be AMA (as you mentioned), nature, bmj, critical care, harvard, etc.

Once you find one you like, you can set it as the default on the options page

[2016-05-11 21:58] #64 closed

[2016-05-11 22:08] metallikat36 commented on #63
I tried AMA and the reference to a Conference Proceeding only shows the author and the content name. It is missing the name of the conference, the location, and that date. So AMA style is actually missing more information than the Academy of Management Review style is missing.

[2016-05-12 00:29] metallikat36 commented on #63
Just wanted to let you know I wrote my first real referenced article with your plugin, and it works like a charm:
http://www.earthmedresearch.org/neuropathy-natural-medicine/
The plugin is probably the single most irreplaceable component of my website.

Thank you...

[2016-05-12 01:57] dsifford commented on #63
Do you know for sure that AMA format uses those fields for conference preceeding citations? (I'm not familiar, so just making sure). I do know that there are going to be a bunch of scenarios where there are more fields than needed for some citation types. Had to include all of the fields I could possibly think of so that it works across the board.

If you're certain that it should be there with AM

[2016-05-12 02:02] metallikat36 commented on #63
I actually don't know the answer for sure. Though this link seems to suggest that location and date should be there when citing a conference presentation AMA style:
http://blogs.library.ucla.edu/biomedical/2011/10/26/cite-it-right-citing/

[2016-05-12 02:05] dsifford commented on #63
Hmm.. Good to know. Not sure either.

I'll mark this as a bug for now and check it out when I get some time. 👍

Thanks for letting me know.

[2016-05-14 01:02] dsifford opened #65 "Bug: Tooltip special HTML character encoding"
![image](https://cloud.githubusercontent.com/assets/5240018/15265259/fdda43fe-194d-11e6-8262-ea2e29986778.png)

Pulls & from the citation, encodes it to &amp; and then encodes it again as &amp;amp; on render

[2016-05-17 20:51] #65 closed

[2016-05-20 13:54] halatkins opened #66 "Use with custom post types?"
We're using custom post types to organize article types for our journal (research, news, editorial, etc.). How do I get each of these custom post types to show the reference list in the editor?

[2016-05-20 17:32] dsifford commented on #66
Interesting. That's not something I thought of. I'll see if I can add support for that on the next update. 👍

[2016-05-20 17:54] halatkins commented on #66
Awesome! I'm testing your work out on a beta installation of our journal. Really, really impressed - and glad that you've come up with this.

[2016-05-20 17:56] dsifford commented on #66
Sweet!

There's still a lot of work yet to be done. I'm working on a major update that will allow for the in-text citations to be correctly aligned with the chosen style. (right now it simply inserts a range of citation numbers surrounded by brackets).

Stay tuned.

[2016-05-20 18:01] halatkins commented on #66
So a general question - is anything stored in the post database? I see that it writes the references to the post as nice and tidy HTML - but are you storing any of the DOIs or PMiDs in the post_meta?

[2016-05-20 18:18] dsifford commented on #66
Not yet. The next update will require a single write to the database though. It'll be a JSON-encoded hidden field that will represent the current application "state" the moment the page was saved. That way you'll be able to come back and adjust citations at a later time without the processor state getting out of sync with the document.

The current version is completely stateless. This is the idea

[2016-05-20 18:26] halatkins commented on #66
Understood (mostly). I was just wondering if there would be some means of integrating a custom field - we are moving toward importing our articles from XML. Most of the front matter will get imported into custom fields - and I've been trying to think of a good solution for the back matter - then I happened upon your work.

[2016-05-20 18:38] dsifford commented on #66
Not super familiar with how your system works. Can you describe it in greater detail? What would the custom field be for exactly?

[2016-05-20 18:51] halatkins commented on #66
Here's the basic workflow that we are working toward. The article, in its final form, is converted to JATS XML. From that XML, we can will produce a formatted PDF, metadata for repositories such as CrossRef and PubMed, deposit into PubMed Central - and finally (via an XML transform), and XML file that can get imported into Wordpress.

The XML that gets imported in to Wordpress will go in to severa

[2016-05-20 19:04] dsifford commented on #66
Hmm.. very interesting. I've never heard to JATS XML, but after a google search it seems like that's what pretty much everyone needs to be using in the journal world.

Unfortunately, I don't think importing identifiers into a custom field will work for this plugin. I have a deep, unadulterated hatred for PHP (PHP and I are total enemies!) and, because of that, all of the business logic happens on

[2016-05-20 19:08] halatkins commented on #66
No - I'm not married to the use of custom fields for this at all. Actually, as far as I see it, things could work together. A custom field could simply store the identifiers, and a simple cut and paste into your work would do the job for the presentation layer.

Anyway, I've gotten way off track from my original question. But let me reiterate how excited I am for what you've got going - and I'd lo

[2016-05-20 19:58] dsifford commented on #66
I'd have to know a bit more about your workflow. Perhaps, if you'd like, open another issue about that specifically and when you get time give me a detailed description (as detailed as you can or are willing to be) on how you get your stuff into wordpress and what output (or result) you'd like to receive back from that input and we can go from there.

Glad you like what I've done so far! Makes me

[2016-05-25 23:41] OllieCo opened #67 "Peer Review User Library"
Hi, I really like the plugin, and after reading through some discussions in your issues area, look forward to seeing whats to come. I like the peer review component of the plugin and was wondering if you have any plans on further enhancing this component?

Ideally, it would be nice if the plugin could allocate peer reviewers automatically based of the native WP user library, and a defined user rol

[2016-05-26 15:48] dsifford commented on #67
Hi there!

Admittedly, I've been neglecting that component for some time now.

That's an interesting idea. You're correct that it would take some thought on getting all the implementation details in order. Happy to brainstorm about it though after I get this next update pushed out (adding full inline citation support - it's gonna be huge).

Re: collaboration -- I'd never turn down anybody that's w

[2016-05-29 19:06] dsifford commented on #55
@danielsefton This won't be possible unfortunately. Finalizing the latest update now which includes real-time in-text citation parsing based on citation type and a slew of other options and it just can't be done without the visual editor.

[2016-05-29 19:06] #55 closed

[2016-05-29 19:10] dsifford commented on #51
@sgoggins Automatic sorting based on citation type will be added in the next update I'll be pushing out shortly. 👍

[2016-05-29 19:10] #51 closed

[2016-05-29 19:17] dsifford commented on #63
@metallikat36 Fixed. It was indeed a bug. Good catch.

Pushing out with the giant update sometime within the next few days

[2016-05-29 19:17] #63 closed

[2016-05-29 19:22] dsifford commented on #30
@someonehere15 I'm now in a position where I can probably add optional export features. Let me finish up this next gigantic update and then we can chat more about this.

[2016-05-29 19:25] dsifford commented on #66
@halatkins Are you still interested in this feature?

If so, could you copy and paste your init scripts here for you custom post types so I can test the implementation. (specifically, your `register_post_type` scripts).

Thanks 👍

[2016-05-30 04:21] dsifford commented on #66
@halatkins Scratch the request. I added support for all post types to the next major update.

I'll be pushing it out soon (likely tomorrow).

[2016-05-30 04:21] dsifford commented on #66
Done 9bd9d7274762b1f1a87dcc80647f0b94c779d205

[2016-05-30 04:21] #66 closed

[2016-05-31 23:42] fbennett opened #70 "Cite editing"
I've cloned and installed the project, and brought up the environment locally with `sudo docker-compose up -d`. I get a syntax error with `gulp` (I think because my version of `node.js` or `npm` lags behind that used for ABT development). I can connect to `localhost:8080` though, and WordPress comes up. I have a question and a couple of issues.

The question is about running with the local ABT sou

[2016-05-31 23:53] fbennett commented on #70
Also, where in the top-level source code does manipulation of the DOM take place? If I come across glitches when I get things set up, the symptoms should turn up there, but I don't know where to look.

[2016-06-01 00:02] dsifford commented on #70
Can you copy and paste the error message?

One thing I may have forgotten to document is that after you build your docker environment for the first time, you have to run `npm run chown` which regains ownership of the directories that docker took hold of during build.

The docker environment should be installing the plugin for you. It won't be activated though, so you'll have to just go into the pl

[2016-06-02 19:29] dsifford commented on #70
@fbennett Were you able to get it figured out?

[2016-06-04 13:02] dsifford commented on #70
@fbennett I noticed you've been hard at work with updates to citeproc, so I'd hate to bother you.

If you still need help getting in, let me know.

I'm going to close this issue for now. Feel free to reopen.

[2016-06-04 13:02] #70 closed

[2016-06-04 13:13] fbennett commented on #70
Sorry for the silence. It was (and is) crazy-busy at work, with proofing of
student bibliographies. Juris-M is a great productivity tool, but all those
little decisions and tweaks take their toll...
On Jun 4, 2016 22:02, "Derek Sifford" <notifications@github.com> wrote:

[2016-06-04 14:15] dsifford commented on #70
No apology necessary. I can only imagine how busy you must be!

Fire back on this when you get caught up and I'll walk you through it (if you haven't already figured out how to get it up and running). 👍

[2016-06-05 21:33] someonehere15 commented on #30
Sorry, just noticed. Sure, we can do that. Happy to help

[2016-06-07 00:01] dsifford commented on #67
@OllieCo Haven't heard back from you so I'm closing down this issue.

Feel free to open it back up.

[2016-06-07 00:01] #67 closed

[2016-06-10 02:22] OllieCo commented on #67
Sorry, I have been trying to organise a developer to help take on this component. It appears everyone is keen, but it may take some time before we get someone to actually help. I'll reopen this when we have someone.

[2016-06-11 17:36] dsifford opened #71 "Add ability to float reference list"

[2016-06-11 17:37] dsifford opened #72 "Inserting and deleting 'uncited' items cause processor to go out of sync at times."

[2016-06-16 21:25] GAtherton opened #73 "Ref list import - ordering and deleting"
I have erroneously imported 620 references that are uncited via a imported Endnote library.
All references in the uncited list are ordered by author rather than in the order in which they were uploaded (by year).

The combined effect of these two is that finding the references I want to cite is very time consuming - lots of slow scrolling and no search/filter of the uncited list. I only seem to be

[2016-06-16 22:42] dsifford commented on #73
Good point. I'll see if I can set aside some time in the next week or so to work on this.

I didn't think anybody would be needing to import their entire library of citations, but I suppose if that's the case, finding what you're looking for could be difficult.

[2016-06-16 23:10] bskienhvqy opened #74 "Option for creating own custom citation style"
Hi,

This plugin has many citation styles for choosing (very useful) but many means making confuse (also have some errors) !!!
(as my experience I couldn't choose the best one for my site)

Someone who just need some basic information insert into citation list with their own styles.

It's very helpful if we can have this function (or any chance to make our own style). It would make this plugin mor

[2016-06-17 00:25] dsifford commented on #74
Hi there,

I don't have the time right now to add custom styles, but an option for you for the meantime would be to use [this tool](http://editor.citationstyles.org/searchByExample/) to help you find a style that best fits what you're looking for.

Hope that helps.

[2016-06-17 00:25] #74 closed

[2016-06-17 07:41] bskienhvqy commented on #74
Thank you guys. That would be helpful !!!

[2016-06-21 21:13] metallikat36 opened #75 "Feature idea: copy and paste between articles"
One possibly idea came to my mind that might be nice. Have the ability to copy a segment of a post that contains inline citations to the clipboard, then go to another post, and be able to past it there with the inline citations and references being added to the new post.

David

[2016-06-21 21:39] dsifford commented on #75
Cool idea.

Just to be clear: You're suggesting a situation where you only copy and paste inline citations to a new post and then the bibliography get's generated on the new post, correct?

Might be possible.

I've been neglecting this plugin for the last couple weeks due to schoolwork and other things occupying most of my time. Once I get caught up, I'll see if this would be something I can add.

[2016-06-21 21:48] metallikat36 commented on #75
Yes, you got it. Say I copy a paragraph that has some sentences and some inline citations. I paste it to a new post. The new posts adds those references to the references list, and reassigns the correct new numbers to those inline citations.

Oh man you're still in school? Don't let programming hobbies mess you up. =)

[2016-06-22 21:59] sash3x opened #77 "how to cite reference in-text using JabRef with out DOI"
Hi there,

I have my BibTeX library imported into JabRef and when i try to use this reference list on WordPress, it asks for the PMID/DOI. However, most of my references are websites that do not have DOI's.

How do i use this academic bloggers toolkit to upload my BibTeX library for in-text citation (i am trying to avoid having to do this manually)?

Many thanks in advance.

[2016-06-23 02:24] dsifford commented on #77
@sash3x Currently, the only supported import type is RIS format.

JabRef should support exporting in that format (sometimes it's referred to as "Endnote" format, though that's technically a misnomer).

Hope that helps.

[2016-06-23 02:24] #77 closed

[2016-06-24 09:53] bamcc opened #78 "Compatibility problem?"
I'm trying to use this plugin in conjunction with team showcase (http://codecanyon.net/item/team-showcase-wordpress-plugin/4936368) to display publications on individual team member pages, but when PMIDs are entered, pub info is not added to the page. Also doesn't work on pages. Using showcase pro theme on the genesis framework.

[2016-06-24 17:49] dsifford commented on #78
@bamcc I won't be able to troubleshoot this since the plugin isn't free.

Can you confirm that you're using the latest version? (3.2.2)

Also, can you attempt to insert a citation again and after it fails can you copy and paste the output from the javascript console? (To do this, press F12 to open dev tools, then click "console", then copy everything there)

What browser are you using? What versio

[2016-06-25 04:23] bamcc commented on #78
Thanks for writing back so quickly, @dsifford. Yes, I am using the latest version, using Safari 9.1.1.
Is this it?
[Log] JQMIGRATE: Migrate is installed, version 1.4.1 (load-scripts.php, line 9)
[Warning] Unexpected CSS token: ; (post.php, line 1226)
[Warning] Invalid CSS property declaration at: #11CAA5 (post.php, line 1227)
[Error] Failed to load resource: the server responded with a status of 5

[2016-06-25 08:56] metallikat36 commented on #75
One more request would be that this copy/paste feature would not require editing a post and then copying from the backend of wordpress. Rather it would be easiest it the url of the post itself could just be viewed like a regular user, and then copy and paste from there. Have no idea if that is possible, but just suggesting it.

[2016-06-25 15:34] dsifford commented on #78
@bamcc

It looks like some other plugin (or theme) that you have installed might be the root of these issues.

**Not loading javascript file (not one of mine)**
`[Error] Failed to load resource: the server responded with a status of 500 (Internal Server Error) (color-pickr.js, line 0)`

**Invalid CSS selectors being used (not one of mine)**
`[Warning] Unexpected CSS token: ; (post.php, line 1226)

[2016-06-25 15:34] #78 closed

[2016-07-23 22:59] dsifford opened #89 "Having a bibliography of only a single reference seems to not show up sometimes."
Bibliography shows up as soon as a second reference is added.

Not sure if this happens every time or just sometimes.

[2016-07-24 22:12] dsifford opened #90 "Add ability to refresh processor state."

[2016-07-24 22:12] dsifford opened #91 "Add ability to dump processor completely and start over fresh"

[2016-07-24 22:13] dsifford opened #92 "Fix shoddy insertion of PMIDs and other URLs"

[2016-07-24 22:15] dsifford opened #93 "Version 3.3.0"

[2016-07-25 00:12] dsifford opened #94 "Fix "unknown prop type" warnings"

[2016-07-25 03:17] #71 closed

[2016-07-25 03:17] #90 closed

[2016-07-25 03:17] #91 closed

[2016-07-25 03:17] #92 closed

[2016-07-25 03:17] #94 closed

[2016-07-25 03:29] dsifford commented on #93
Done 4bfbc1f6942634c3581c3514b6970cfedb7902a2

[2016-07-25 03:29] #93 closed

[2016-07-26 15:34] Vitaliy-1 opened #95 "Having troubles on Edge and Safari browsers"
Pluging doesn`t work well on Edge, IE or Safari browsers.

Edge and IE - Peer Review boxes are not shown (only "null" text).
Safari - Peer Review boxes are also empty and Bibliography is not displayed correctly (footnote numbers are above reference and journal titles are too _inclined_).
On Firefox and Chrome all works fine.

Or only I have such problems because of specific wordpress theme? (pardo

[2016-07-29 12:52] Vitaliy-1 commented on #95
Hmmm.
Now reference numbers are displayed above the reference text in all browsers. Perhaps after the last update.
For example, i have this code on my page:
[code]
And the number of citation (9) is displayed above the reference.
I`m not a programmer, but i suppose there is something wrong in this :)

[2016-07-29 16:56] dsifford commented on #95
@Vitaliy-1 Hi there.

Safari will be completely fixed once Safari 10 gets released. It's in open beta now and should be released relatively soon. Safari 9 is _extremely_ behind the rest of the browsers which is why I assume these issues are happening.

The issues you're reporting with Edge are likely similar to the ones with Safari. Once Edge 14 moves from Insider Preview to stable, the issues wil

[2016-07-29 21:39] dsifford commented on #95
@Vitaliy-1 Let me know if the release I just pushed out fixes your issue.

[2016-07-30 01:38] Vitaliy-1 commented on #95
I just have tested plugin new release with new posts and it worked fine. Reference numbers are inline with bibliography text (tested with Chrome)

When I tried to regenerate the bibliography in the post where it was earlier - the list disappeared and subsequent work with the references on that page have leaded to WP suspending (adding new references if to be more precise). Don`t know if this probl

[2016-07-30 01:41] dsifford commented on #95
Can you explain this in greater detail? Can you confirm that you pressed the `Refresh Reference List` button and not the `Delete All References` button?

[2016-07-30 08:25] Vitaliy-1 commented on #95
Yes, bibliographic list on the page disappeared after pressing _Refresh Reference List_. But I already had problems with citations on that page - while bibliography list actually was on page it didn`t displayed at all in reflist editor. So after refreshing bibliographic list disappeared according to blank reflist editor.

[2016-07-30 09:05] Vitaliy-1 commented on #95
I have tested this moment once more on Edge and noted that it concerns to _American Medical Association_ citation style but not to Vancouver style or for example APA style. So there is only a little problem here.

[2016-07-30 09:56] dsifford commented on #95
I see. Let me know if this happens again and I'll dig deeper into this. For now, I'll attribute it to one of the small bugs that I fixed in the recent update.

This is very interesting. There should be no interop between the Peer Review boxes and the bibliography/reference list.

To clarify, you're saying that the peer review boxes do not render when you use AMA format, but do render when you use

[2016-07-30 19:26] metallikat36 opened #99 "What did last update do? Is biblio format correct?"
Hi Derek.  I updated just now. Though the description did not have any info on what the update included.  Only thing I can notice is different is that the bibilography now seems to start a new line after each number:
http://www.earthmedresearch.org/neuropathy-review-natural-treatments-drug-risk-factors/
Personally I think this looks clunkier and was sleeker when those line breaks weren't there.

D

[2016-07-30 19:58] dsifford commented on #99
@metallikat36 The last update fixed a handful of other citation styles. To fix the ones that you linked, try editing the page and clicking "refresh bibliography list" and they should fix themselves and go back to being on the same line.

Basically, the HTML was being generated slightly wrong which caused citation styles which should have flush indents to be reverse-hanging.

I also added a polyfil

[2016-07-30 20:18] metallikat36 commented on #99
That fixed it. No problem. Thanks.

[2016-07-30 20:18] #99 closed

[2016-07-31 09:43] Vitaliy-1 commented on #95
Exactly :) That`s on Edge and Safari.

[2016-07-31 17:51] dsifford commented on #95
@Vitaliy-1 if you can share a screencast of this behavior, that would be very helpful. https://www.opentest.co/

[2016-08-01 09:15] JLJu opened #100 "Problems with URLs"
Thank you for your work!
I use the following toolchain/procedure to publish references with your plugin.
Zotero->Export RIS -> Plugin, Choose citation style  "IEEE With URL->Plugin, Import RIS -> Plugin, Insert selected reference.

Some chars are added at the end of the cited URLs and so the published URL is invalid. See for example the following code from WP.

[code]

Those added chars ```&lt;/di

[2016-08-01 10:55] Vitaliy-1 commented on #95
this program is only for Chrome. On Chrome AMA format works fine.
here`s a printscreen from Edge:
[url=http://pixs.ru/showimage/refjpg_9658379_22785169.jpg][img]http://i11.pixs.ru/thumbs/1/6/9/refjpg_9658379_22785169.jpg[/img][/url]

[2016-08-01 16:06] Vitaliy-1 opened #101 "Bug with citation tooltip rendering"
Another issue that I discovered is dyssync. of peer review boxes with numeral list
For example: http://i11.pixs.ru/storage/3/5/5/ref3jpg_8469584_22788355.jpg
This issue especially true when downloading a .ris file (from zotero) and after it adding additional reference by PubMed number. This was my case.

There is another issue with dissync. of all reference editor by can`t understand the mechanism

[2016-08-01 16:08] dsifford commented on #95
Hm... This could possibly also be due to your locale not being processed properly.

These issues aside, can you tell me if the citations have been properly formatted for your locale? At first glance, it looks like they may still be in english/US locale.

[2016-08-01 16:09] dsifford commented on #100
Hi there.

Looks like the html is stripping the `>` symbols and replacing it with encoded values. Can you tell me what browser you are using?

Thanks for the report.

[2016-08-01 16:13] dsifford commented on #101
Hm.. Thanks for letting me know.

Is there any chance you can share with me the URL of one of the affected pages so I can inspect it?

[2016-08-01 19:17] JLJu commented on #100
Hi,
Here we are.
Chrome 52.0.2743.82 (64-bit) under Fedora 23.
Chrome 52.0.2743.82 (64-bit) under Windows 10.
Regards

[2016-08-01 22:29] dsifford commented on #100
@JLJu Fellow Linux user, eh? Nice!

Thanks again for the report. I'm working on a massive update to the plugin's data flow and processing at the moment, so I'm going to hold off on working on a patch for this issue for the time being.

The next update _should_ fix this on it's own, but I'll be sure to test this specifically before pushing the changes to WordPress.org. If you'd like, you can track

[2016-08-02 06:26] JLJu commented on #100
Yes, Linux is great!
It's good to hear your news.

[2016-08-02 08:59] Vitaliy-1 commented on #95
"Locale" - is for locale language?
If so I use only references in english or transliteration from cyrillic. There shouldn`t be any problem with this. And yes, citations are properly formatted.

[2016-08-02 09:36] Vitaliy-1 commented on #101
For now I can share only with test page. I have emulated this two problem there:
http://www.e-medjournal.com/uk/artpost/%D1%82%D0%B5%D1%81%D1%82%D0%BE%D0%B2%D0%B0/
The first problem with dyssync were duplicated by deleting one reference in the refmanager (look at 5 and 6 ref items).
The second maybe because of problems with .ris creating by Zotero but the link is not completely broken.
I`m just wo

[2016-08-02 13:30] Vitaliy-1 commented on #100
I think my issue with text which goes beyond the Peer Review box is because this added chars from RIS file.

[2016-08-04 00:52] dsifford commented on #100
@JLJu @Vitaliy-1 I haven't forgotten about you both 😃

I'm making pretty tremendous strides on the next update. The current work-in-progress is _much_ more stable than the current release, so I think you'll both be happy about that. It's also a touch faster too!

Anyway... Two things:

1. @JLJu can you send me the RIS file that you used that triggered this error so I can try to trigger it here?
2.

[2016-08-04 01:36] metallikat36 commented on #100
Unfortunately, I won't be able to test this one Derek. Presently too busy at the moment. We'll I mean I will try some basic stuff for 5 minutes, and let you know, but I won't try to break it.

[2016-08-04 01:55] dsifford commented on #100
@metallikat36 No worries! You've been more than helpful with everything up to now. Thanks anyway 👍

[2016-08-04 06:15] JLJu commented on #100
1. Sure http://www.basicairdata.eu/commenti/References.ris
2. Sure. However, right now it is not feasible for me. What about September?

[2016-08-05 01:20] dsifford commented on #100
@JLJu Thanks!

Might be all tested and ready by September, but I'll keep that in mind. 👍

[2016-08-05 17:27] dsifford commented on #75
Wont be possible after next update because I slimmed down the size of the saved data. All information is computed on the fly from a minimal representation of the data and that won't be something that will be easily copied from one place to another.

[2016-08-05 17:27] #75 closed

[2016-08-05 19:06] metallikat36 commented on #75
Okay, no problem.

[2016-08-06 04:20] dsifford commented on #100
@JLJu Where did you export that RIS file from? There are some non-standard fields included in it which creates issues in some cases. Gonna see if I can track down the spec for your particular reference manager...

[2016-08-06 08:28] JLJu commented on #100
http://zotero.org(Release 4.0.29.10 64  bit)-> File -> export Lib -> Format RIS file (all options unticked)

[2016-08-06 18:32] dsifford commented on #100
Ah, that's right you mentioned zotero in your first comment. Whoops, sorry for overlooking! Thanks

[2016-08-06 18:36] dsifford commented on #37
@metallikat36 Thanks for the suggestion. This will be included in the next release.

[2016-08-06 18:42] dsifford commented on #30
Unfortunately I won't be able to add this with the next release. I liked the idea, but it's just outside of the scope of the plugin.

If demand for this feature increases in the future, I'll reevaluate. I'll keep this issue open in the meantime.

**To anybody who may be reading this:** Use the 👍 on the first comment in this discussion if this is a feature that would be helpful for you. If I get en

[2016-08-06 18:45] dsifford commented on #73
@GAtherton I added a delete all feature to the last update. I'm going to assume that that was an acceptable solution to this issue.

If not, feel free to chime back with further suggestions.

[2016-08-06 18:45] #73 closed

[2016-08-06 18:45] #89 closed

[2016-08-06 18:53] dsifford commented on #100
@JLJu What citation style were you using when this issue occurred?

[2016-08-06 18:57] JLJu commented on #100
Never mind. Citation style "IEEE With URL" within the plugin. I don't think the RIS file is affected by styles.

[2016-08-06 18:58] dsifford commented on #101
@Vitaliy-1 I'm sitting down to try and tackle this issue now and I noticed that the test page you shared is no longer available.

Any chance you can make a new one and share with me again?

Also, what language is your wordpress installed in? (If unsure, you can find that information by selecting `Settings` -> `General` and scrolling to the bottom.

[2016-08-06 19:00] dsifford commented on #100
Ok thanks for the clarification.

I think I fixed it. I can't reproduce it with the new version I'm working on. I'll call this "fixed until proven otherwise". Let me know if you still have the issue after the next release and I'll re-evaluate.

[2016-08-06 19:20] JLJu commented on #100
Roger. Thank you!

[2016-08-06 22:25] Vitaliy-1 commented on #101
I changed URL in the previous post. URL had broken because of conflicting 2 plugins after their update...

About the languages: there are 25 languages installed, but site language is English (US).

[2016-08-06 23:12] dsifford commented on #101
@Vitaliy-1 Can you confirm that the improper citation tooltips resulted by the plugin itself and there was no physical manipulation of the html by you or anybody else?

The reason I ask, the plugin is actually doing what it's supposed to do. In the link above, citation number 6 shows citations 1-4, which looks like an error, but upon inspection, it looks like the saved metadata for that individual

[2016-08-07 03:59] dsifford commented on #95
Closing this for now as this _should_ be fixed in the next update. If that's not the case, feel free to reopen. 👍

[2016-08-07 03:59] #95 closed

[2016-08-07 08:09] Vitaliy-1 commented on #101
Those citation were made by importing RIS file from zotero. Than I placed them in text ONLY by plugin.
Citation numbers were  shifted after I deleted one of the reference also only by plugin.

I don`t remember if I changed citation style on this page. When I will have a free time I check this issue once more.

[2016-08-07 15:56] dsifford commented on #101
Hm. Not sure what to tell ya. There's nothing I can do on my end that reproduces your issue.

The best I can tell you for that page is to wait for the next release and see if that fixes the issue. The backend is much, much stronger in the next release.

[2016-08-07 16:30] dsifford commented on #53
@Vitaliy-1 @Tammakit & other multilingual plugin users out there who may be following this discussion:

I'm working on translating this plugin to multiple languages and I need your help to do it!

I'm using a service called POEditor, which allows for crowd-sourced translations from the community on projects like these.

If you're interested in translating this plugin into your native language, ple

[2016-08-08 06:27] #101 closed

[2016-08-08 12:26] gillespieza opened #103 "Javascript error in Entrypoint.js"
I get this error on my WPMU site:

Uncaught TypeError: Cannot read property 'parentElement' of null in file Entrypoint.js

[2016-08-08 15:29] dsifford commented on #103
Thanks for the report.

Can you tell me exactly what page this is happening on?

[2016-08-10 21:43] #37 closed

[2016-08-10 21:43] #53 closed

[2016-08-10 21:43] #72 closed

[2016-08-10 21:43] #100 closed

[2016-08-10 23:04] dsifford commented on #103
Haven't heard back. I assume the latest update fixed this.

Closing this issue for now. Feel free to reopen if the issue persists.

[2016-08-10 23:04] #103 closed

[2016-08-11 08:04] floaltvater opened #105 "BaseURL in Constants.ts gets stripped to domain instead of actual WP url"
Hi,
After installing your plugin, whenever I want to add a reference, all I see is "Insert Formatted Reference". The main body (iframe) doesn't open. The Firefox console gives me a
"Load denied by X-Frame-Options: https://www.ocf.berkeley.edu/wp-content/plugins/academic-bloggers-toolkit/lib/js/tinymce/views/reference-window.html does not permit framing".

What's interesting is, that the blog lives

[2016-08-11 15:24] dsifford commented on #105
Darn, I thought changing how I had it might create an issue.

Previously I relied on wordpress sending the URL to the plugin directory prior to having the application start up. I switched to computing the URL on this last release (which was obviously a poor decision).

I'll work on a fix and push it out sometime in the next hour or so.

Thanks for the report!

[2016-08-11 16:47] #105 closed

[2016-08-11 21:59] floaltvater opened #107 "Citation style: American Physics Society with title and doi"
Would it be possible to implement the American Physics Society with title and doi link? Preferably like

J. D. Watson and F. H. C. Crick, "Molecular structure of nucleic acids; a structure for deoxyribose nucleic acid," Nature **171**, 737 (1953). doi:[10.1038/171737a0](https://doi.org/10.1038/171737a0)

Thanks!

[2016-08-11 22:06] floaltvater opened #108 "Biblio not showing when only one reference"
Hey,
When I insert only one citation in a post, it doesn't create the biblio at the end of the post. It doesn't matter how often I cite that one reference. Only when I include a second reference in the post, will it create the reference list. Is that intentional, or am I missing something?

Thanks!

[2016-08-11 22:20] dsifford commented on #108
Nope, not intentional. Good catch. 👍

I'll work on a fix.

[2016-08-11 22:23] dsifford commented on #107
How does American Physics Society currently format that citation?

Have you checked [here](http://editor.citationstyles.org/searchByExample/) to see if there are other citations that match what you're looking for better?

[2016-08-11 23:01] floaltvater commented on #107
This is what the above reference looks like in standard APS:

J. D. Watson and F. H. C. Crick, Nature **171**, 737 (1953).

And I already checked that page. Although Frontiers in Optics includes the title, it also puts the publisher in with the year, which I really don't like. That doesn't show on CSL, however, as it doesn't have publisher info in the examples. And it also is missing the doi.

I c

[2016-08-11 23:14] dsifford commented on #107
@floaltvater

Adding the ability to use user-defined CSL styles has actually been on my radar.

Let me finish up these last few stray bugs and I'll work on getting that implemented. Not able to give a timeframe, but assuming I don't run into any difficulties, it shouldn't take longer than a week or two.

[2016-08-11 23:21] floaltvater commented on #107
Well, that would simply be amazing and border-line mind-blowing :) Thank you so much for your time and effort.

[2016-08-11 23:48] floaltvater opened #109 "Scrolling in citation style drop down list in hamburger menu broken"
Sorry for adding so many things to your list...

I click on the "hamburger menu" on a page or post, to choose an individual citation style for that page/post. When I click and drag the scroll bar, I can see and scroll down to "American Chemical Society Author Date". Scrolling further down only shows whitespace instead of style names. When I scroll with the wheel, or release the scroll bar and move

[2016-08-12 00:35] dsifford commented on #109
No apology necessary! I appreciate the feedback. As you might have guessed, it's tough for just me to catch all the little stray bugs. By all means, keep 'em coming!

I noticed the scroll issue as well just a bit ago. I'll see if I can get it sorted out.

The reason why it works on the options page vs the posts screen is because on the posts screen I'm forced to use a virtualized representation of

[2016-08-12 01:09] floaltvater commented on #109
Autocomplete would definitely work, but is not quite as user friendly, I think.

What about having an extra option in the general settings to specify individual citation styles that would then appear in the posts screen drop-down? A comma-separated list maybe? Then it wouldn't have to load all styles when opening the menu.

In my case I would want to allow a handful of authors to specify their own

[2016-08-12 18:35] dsifford commented on #108
@floaltvater I can't reproduce this.

Can you make this happen somewhere and then share the link with me?

Thanks

[2016-08-12 19:28] floaltvater commented on #108
Hope this is what you meant:

https://www.ocf.berkeley.edu/~altvater/private/wp_neaton/?p=146

This post originally had two references. I just deleted one, and the biblio disappeared again.

[2016-08-12 19:29] dsifford commented on #108
@floaltvater Thanks.

Hmm.. Is the bibliography mission on the editor page as well?

[2016-08-12 19:36] floaltvater commented on #108
Yep. Very reproducible.

[2016-08-12 19:47] dsifford commented on #108
Strange... I just can't get that to happen here. What other plugins are you using?

[2016-08-12 19:56] floaltvater commented on #108
I just deactivated all plugins and changed the theme to Twentysixteen and it still happens. Not sure what else I could debug.

[2016-08-12 19:58] dsifford commented on #108
Hm.. That's the same theme I'm using as well.

Can you tell me exactly the steps you take to make this happen? Or perhaps take a [screen recording](https://www.opentest.co/) of this behavior?

Thanks for the help!

[2016-08-12 20:12] dsifford commented on #108
@floaltvater Nevermind. I just got it to happen. 👍

[2016-08-12 20:12] floaltvater commented on #108
Sweet! There was really nothing special about it. So what triggered it for you?

[2016-08-12 20:14] dsifford commented on #108
To be honest, I'm not sure. I added and removed a citation a few times and also added and removed the bibliography heading. Gonna investigate it further.

[2016-08-12 20:15] floaltvater commented on #108
Interesting. For me it happens every single time. No matter if I just add one citation, or remove one of two. As long as there is only one reference, I don't get a biblio.

Let me know if I can help any further with this.

[2016-08-12 20:16] dsifford commented on #108
Will do. Thanks again!

[2016-08-12 20:29] dsifford commented on #108
Found it. 👍

Compared to `null` where I should have compared to `''` when setting the bibliography.

I'll package this up and send out a release soon.

[2016-08-12 20:31] floaltvater commented on #108
Awesome! Thanks so much!

[2016-08-12 20:36] #108 closed

[2016-08-12 22:40] dsifford commented on #67
@OllieCo FYI: I'm working on depreciating the peer review component in its current form so any feedback on how to improve would be encouraged.

The reason for the depreciation: The way it works currently is fundamentally against the beliefs of the plugin. As it currently stands, if you were to use the peer review component, that would introduce a dependency to this plugin on your site, meaning you

[2016-08-13 18:34] dsifford commented on #67
@OllieCo Next update will remove the peer review boxes entirely. At least, until I can think of a better way of handling them (which may never happen).

To be able to still use this feature after the depreciation, you'll need to install this:

https://github.com/dsifford/abt-depreciated-peer-review

[2016-08-14 21:57] dsifford commented on #107
@floaltvater

Update: Implementing this was a little bit easier than I thought it would be.

I just finished an early working implementation which adds the ability to use custom user-defined CSL.

I'd be interested in some feedback on it prior to releasing this live. Let me know if you'd be willing to critique.

Thanks

[2016-08-15 02:25] dsifford opened #110 "Footnote-type citations generate "footnotes" list with empty bibliography."
![image](https://cloud.githubusercontent.com/assets/5240018/17654163/04761850-626e-11e6-952b-c8771d6ddd43.png)

[2016-08-15 02:34] floaltvater commented on #107
I'd love to. Just let me know how I can get the non-live version to work. Will I have to compile it? (Running Linux, so that might help.) If so, any instructions/pointers are welcome, also since the contributer's guide says that it would need to be updated.

[2016-08-16 03:17] dsifford commented on #107
@floaltvater Sorry for the delay in getting back with you.

I was originally thinking of just sharing a few screenshots and such with you for your comment, but if you're feeling up to pulling the repo and checking it out yourself, by all means!

I'll work on getting the contributing guide updated here in a few.

In the meantime, here's the gist of the next update:

### Peer review boxes fully depr

[2016-08-16 03:47] floaltvater commented on #107
I think that's pretty straight-forward. Especially if you document it like this somewhere. And I agree that one custom citation style should be fine for most cases.

Looking great!

I'll just wait then until you pushed the update.

[2016-08-16 18:37] dsifford opened #112 "Conflict with "Page Builder by SiteOrigin" plugin"
Reported by a user. https://wordpress.org/plugins/siteorigin-panels/

[2016-08-16 20:22] #112 closed

[2016-08-17 01:13] #107 closed

[2016-08-17 01:14] #109 closed

[2016-08-17 01:14] #110 closed

[2016-08-17 03:37] Tammakit commented on #53
@dsifford I joined for Thai.

[2016-08-17 03:44] dsifford commented on #53
@Tammakit Awesome! Just approved you. Thanks 😄

[2016-08-17 04:18] aroy1962 opened #114 "Bug of your Academic Blogger Toolkit"
HI,
I use your plugin in my website (epidis.net) and after la last update, I can not access to my administrator panel.  I checked the error.log file of my website, and read the following line:
Parse error: syntax error, unexpected '[' in /home5/epidemi2/public_html/epidisnet/wp-content/plugins/academic-bloggers-toolkit/academic-bloggers-toolkit.php on line 73

Then, I deleted the folder of the plu

[2016-08-17 05:21] dsifford commented on #114
Sorry to hear you're having issues, @aroy1962

From what you're describing, it sounds like your php version is outdated. Do you know off hand what version you are running with your wordpress instance?

This plugin requires PHP 5.6 or greater.

[2016-08-17 05:46] dsifford commented on #114
If that is indeed the issue (which I'm almost certain it is) I would highly recommend upgrading your PHP version to at least version 5.6.

All earlier versions are at "end of life" status on PHP.net, meaning there is a potential for security vulnerabilities.

See more on this [here](http://php.net/supported-versions.php)

[2016-08-17 09:43] gillespieza commented on #103
Hi, sorry, I've been off sick with flu for the last week.

This was happening on the edit screen - posts or pages, when I try to insert references.

Or it least, it *was* happening. I can't reproduce that console error any more (perhaps something to do with the latest WP update or plugin update to 4.0?)

Now, I get a popup alert saying "" and the animated spinner just sits there in the background

[2016-08-17 13:27] floaltvater opened #115 "Clash with Advanced Custom Fields plugin"
Hi,
I updated the plugin to 4.0.0. When the Advance Custom Fields plugin is activated, the Reference List meta box keeps loading indefinitely, and the Browser console spits out:

    TypeError: tinyMCE.activeEditor.dom is undefined                    post-new.php (line 2232, column 19)
    tinyMCE.activeEditor.dom.addStyle("\r\n                .mce-content-body .h1, .m...
    _|

(where "_|" shoul

[2016-08-17 15:14] dsifford commented on #115
I've had an issue with Advanced Custom Fields [in the past](https://github.com/dsifford/academic-bloggers-toolkit/issues/40). I'll see if I can sort this one out as well.

[2016-08-17 15:20] dsifford commented on #115
@floaltvater Can you list the precise steps you take in order to have an error triggered? I can't get it to happen by just activating the custom fields plugin.

Thanks

[2016-08-17 15:29] dsifford commented on #115
@floaltvater would disabling my plugin for "acf" post types be an acceptable solution? I'm not sure what someone would use that plugin for so it's hard for me to make that decision without some background.

[2016-08-17 20:36] metallikat36 opened #116 "Bibliography toggle icon not rendering"
Hi Derek. Five comments on the latest 4.0 release:

1. FYI, the custom CSS got deleted on update. Perhaps you did that intentionally. In any case, no worries, I always keep copies of my custom CSS code in a Word file.

2. See screenshot below in mozilla. The expand button is weird.
![image](https://cloud.githubusercontent.com/assets/17968340/17751854/f2f71d2e-647d-11e6-82f6-8f781f0a22de.png)

3. I

[2016-08-17 20:58] floaltvater commented on #115
Currently, all the steps it takes is, activate ACF, Add New post or Edit post, triggers error, also when there's already a citation.

It would certainly be nice to be able to use ABT with ACF post types. However, I understand that it is hard to figure out and protect against any interference.

In my case right now, I would prefer to have it, as it would allow our group members to put references on

[2016-08-17 21:05] dsifford commented on #115
I see.

Can you try going to the page that you'd add references to on a profile and type this in the console and show me what the output is:

`wpActiveEditor`

and then

`tinymce.editors`

To guard against ACF "stealing" the references on post editor pages, I had to make this plugin only communicate with tinymce editors with the id of `content`.

The author of ACF chose to mount a hidden tinymce e

[2016-08-17 21:14] floaltvater commented on #115
`wpActiveEditor` gave `null`

`tinymce.editors` gave

    [Object { documentBaseUrl="https://www.ocf.berkeley...ate/wp_neaton/wp-admin/",  settings={...},  id="content",  mehr...},
    Object { documentBaseUrl="https://www.ocf.berkeley...ate/wp_neaton/wp-admin/",  settings={...},  id="acf_settings",  mehr...}]

That sounds like very bad coding practice from the ACF side :(

[2016-08-17 21:28] floaltvater commented on #115
Trying this again resulted in `"content"` for `wpActiveEditor`. Same for `tinymce.editors` as far as I can tell. Not sure what I did the first time. Sorry for the confusion.

[2016-08-17 22:30] dsifford commented on #116
Shoot! You're right. I had to shuffle a lot of options around and after checking, it looks like I missed that one.

If anything, that tempt people to load their CSS through their child theme, rather than using that box. I still maintain that that box is horribly inefficient.

Rendering of the toggle button depends on wordpress built-in "dashicons". I didn't have that explicitly set as a dependency

[2016-08-17 22:40] dsifford commented on #115
Hm... Yeah, I'll have to play around with it. It's tough to run tests when I don't have any custom fields set up.

Would there be any way for you to share the custom fields you have for the group member pages? A screenshot maybe?

Can't say that. It's an enormous plugin with (as I recall) over a million active installs. He looks to be quite experienced with PHP so I'm sure there's a reason why he'

[2016-08-17 22:41] metallikat36 commented on #116
Yes, I did need to refresh all articles with references - which for me was only a grand total of two articles, One of them had only three references. I noted the third tooltip in that article actually displayed the first reference. The other article had 50 references and I noticed the 50th tooltip similarly displayed the the wrong reference. I think it was also displaying reference number 1 if I r

[2016-08-17 22:43] dsifford commented on #116
Correct. As long as the post meta agrees with the current state of the document, this should work.

Heck, rollbacks might even work if the rollbacks also include post meta. I'm not sure.

[2016-08-17 22:45] dsifford commented on #116
What citation style are you using? This update fixed an issue that was lingering that caused something similar to what you described to happen to the tooltips. This might have just fixed that issue. Updates from now on _shouldn't_ require any post updates.

[2016-08-17 22:49] floaltvater commented on #115
This is the current setup. It is only used for a custom post type. But should probably work on normal posts as well. The External link and External instructions only shows if the External page is set to true.

![group-member-acf](https://cloud.githubusercontent.com/assets/6099666/17755945/d3259d9a-6491-11e6-9049-92c17c0f2950.png)

If you need more details, let me know. Thanks!

[2016-08-17 23:01] metallikat36 commented on #116
I use AMA style.

What's post meta? Does "post meta agreeing with current state of a document" in anyway depend on a sitewide rollback being as recent as possible?

My real concern in the event of either a sitewide restores or a rollback of an individual post is just to make sure the info is all there somewhere/somehow, even if it takes some work to make it function again.  As long as I can someho

[2016-08-17 23:06] dsifford commented on #116
The state of the reference list is saved and attached to the post as post meta. Things like the post author, post type, categories, etc are all saved as post meta and attached to each individual post for use behind the scenes.

I'm 99.999% positive that a site rollback will not affect your references in any way because you'd be rolling back everything, including the post meta.

Hope that makes sen

[2016-08-17 23:17] dsifford commented on #115
@floaltvater None of the fields listed use the WYSIWYG editor in the image above. Is that correct? Where at would you want to use my plugin on that page?

Also, can you share the conditionals for those fields that you are using? Thanks!

[2016-08-17 23:30] floaltvater commented on #115
Correct, no WYSIWYG editor. I still have the regular post editor visible, where they can enter their research interests etc. This is where the publications would go. I had a WYSIWYG editor at first to specifically put in their publications, but decided to make it less convoluted for them and just have one box for whatever they want to put in.

Conditionals:
- Name, Portrait, Email, Office, Externa

[2016-08-18 00:08] dsifford commented on #115
Ah, okay... This shouldn't be a problem then.

Thanks for confirming the fields and conditionals... Let me play around for a bit and see if I can cause my plugin to break. 👍

[2016-08-18 00:43] dsifford commented on #115
@floaltvater As long as you don't plan on using the plugin while your _creating_ custom fields (on the custom field editor page), I'm pretty sure it should work fine.

I can't seem to get it to break, and I'm trying quite hard!

That said, I was never able to get it to break the same way you did, so I could have missed your issue altogether.

Would you be willing to try out this next version on yo

[2016-08-18 02:51] dsifford commented on #115
If so...

[academic-bloggers-toolkit.zip](https://github.com/dsifford/academic-bloggers-toolkit/files/424049/academic-bloggers-toolkit.zip)

Thanks for the help 😄

[2016-08-18 06:08] floaltvater commented on #115
When I have version 4.0.1 and the ACF activated, I get the same result (`TypeError tinyMCE.activeEditor.dom is undefined`). I even deleted all of the ACF groups, without effect. I am not editing any ACF groups at the point I Add or Edit a post. But the meta box is still not loading. Could I do any debugging on my side to try to track it down?

When I deactivate ACF I get the follwing error three t

[2016-08-18 13:04] gillespieza opened #118 "Cannot read property 'properties' of undefined when inserting references with PMID"
Hi there

Since the latest update, when I try to insert a reference using a pubmed ID/DOI, instead I now get a popup alert saying "Cannot read property 'properties' of undefined" and the animated spinner just sits there in the background and nothing happens... No console errors logged either.

This is happening even if I switch to the default TwentySixteen Theme and de-activate all other plugins.

[2016-08-18 13:15] dsifford commented on #118
Duplicate of #115

I think I may have an idea on what's going on. What style are you using?

Also can you clear your browser cache and try again once more?

[2016-08-18 13:28] gillespieza commented on #118
I'm using style AMA (American Medical Association), but choosing a random other style makes no difference.

It seems that the error messages are different, depending on the browser.

I switched to FireFox (Private Window) and the popup error changed to "this.registry.citationreg.citationById[r[0]] is undefined".

Chrome Incognito mode error reads "Cannot read property 'properties' of undefined"

I

[2016-08-18 13:30] dsifford commented on #118
Does this happen when creating a brand new post, or is it just with old posts?

[2016-08-18 13:32] gillespieza commented on #118
Ah, how interesting... it works if I create a brand new post ... Cool.

[2016-08-18 13:33] dsifford commented on #118
On the old post, can you try to click "refresh reference list" and see if that fixes it?

[2016-08-18 13:36] gillespieza commented on #118
Nope, same error. Shall I try "Delete All References" and see if I can insert a new one?

[2016-08-18 13:39] dsifford commented on #118
If you can afford to, that will for sure work. Otherwise, if you can afford to wait, I may be able to fix "refresh reference list" so that it fixes the issue non-destructively.

This issue is caused because before the update, I wasn't storing reference data 100% properly. I fixed that in the update, but all old posts are still using cached reference data unaware of the fix

[2016-08-18 13:43] gillespieza commented on #118
Great. I'll just continue with creating a new post in the mean time. Thanks for being so responsive!

[2016-08-18 13:58] gillespieza commented on #118
FYI, deleting all references fixes the old post.

[2016-08-18 15:59] dsifford commented on #118
@gillespieza Do you know what version the plugin was in when you created one of the posts that trigger the error?

I just rolled back my local version to 3.4.3 and created a bunch of test posts and tried editing them with 4.0.0 and everything works fine.

Thanks

[2016-08-18 16:44] gillespieza commented on #118
Sadly, I don't remember. The plugin did sit unused for several months until I "got around to it", but that's all I can tell you. If I manage to reproduce this on an independent site (not my WPMU installation), I'll let you know...

[2016-08-18 16:50] dsifford commented on #118
Sounds good. Thanks.

In the meantime, I'm going to install and test `3.2.0 -> 3.3.0 -> 3.4.0 -> 4.0.0` to see if I can trigger the issue that way.

[2016-08-18 16:51] gillespieza commented on #118
I was also using WP < 4.6.

[2016-08-18 18:59] dsifford commented on #118
@gillespieza @floaltvater

I went back several versions and incrementally created test-posts using each of the versions.

![image](https://cloud.githubusercontent.com/assets/5240018/17786620/9f79154a-6553-11e6-9594-b70c24b1d3d5.png)

Then, I installed the latest version and attempted to get it to fail in the same way you both were describing for each of the test posts.... I could not reproduce you

[2016-08-18 18:59] #118 closed

[2016-08-18 19:01] gillespieza commented on #118
I totally understand. Thanks for being so helpful. As long as it works now (which it does), I'm a happy camper. :)

[2016-08-18 19:05] dsifford commented on #115
@floaltvater see #118

Closing this because I have no way of reproducing this. Sorry for the inconvenience.

[2016-08-18 19:05] #115 closed

[2016-08-18 19:16] dsifford opened #119 "Citation "ranges" disassemble inappropriately in some cases"
![gif](http://i.giphy.com/l0MYQWV73IBIzF3OM.gif)

[2016-08-18 19:18] dsifford opened #120 "CSL locales created in old versions of plugin need to be cleaned / sanitized on load."

[2016-08-18 19:29] dsifford opened #121 "Font issues..."
Wordpress 4.6 fonts render wildly differently depending on OS. Because of this, all fonts should be converted from bold to thin. for better uniformity across the board.

[2016-08-18 22:14] floaltvater opened #122 "Clash with Customizr theme"
I finally tracked down my `tinyMCE.activeEditor.dom.addStyle is not defined` error. It is actually the customizr theme, of which I'm using a homemade child. I don't know why it didn't occur to me earlier to actually try to find the `tinyMCE.activeEditor.dom` in the code. The line appears in the Customizr theme files (customizr/inc/admin/class-fire-admin_init.php).

To summarize: With the Customizr

[2016-08-18 22:29] dsifford commented on #119
Pending reply: https://github.com/Juris-M/citeproc-js/issues/13

[2016-08-19 00:30] dsifford commented on #122
@floaltvater I just installed customizr to my test site and tried with my plugin and it doesn't seem to be an issue for me.

Are you doing anything fancy with your child theme?

[2016-08-19 00:32] dsifford commented on #122
Oh, wait.. Didn't read this line...

Let me test that real quick.

[2016-08-19 00:36] dsifford commented on #122
Yep, it's an issue with customizr, and not ABT.

I actually had this same issue in the past and had to correct it. Like I said before, ACF creates a hidden tinymce editor on every admin page.

Customizr doesn't have a check to make sure that the editor they are adding the styles to is the "content" editor. Because of that, it fires the script for both the content editor and the `acf_settings` edit

[2016-08-19 00:38] dsifford commented on #122
If you show the theme developer this line, he should be able to fix this quite easily:

https://github.com/dsifford/academic-bloggers-toolkit/blob/4.0.1/src/lib/js/tinymce/index.ts#L10

[2016-08-19 00:42] dsifford commented on #122
The reason why my plugin breaks is because his script executes before mine does and it causes an uncaught exception to be thrown which then causes the rest of the execution to fail.

No way I can defend against that.

[2016-08-19 00:42] #122 closed

[2016-08-19 02:36] toomuchnoise opened #123 "Add ability to create publication lists"
Currently it is possible to add publication citations by creating a reference and then bibliography at the end of a page. Often times you simply just want a curated list of publications on your pages. Example uses include a bio page listing your publications or a lab page listing publications related to your project / team / or grant.

Possible workflow:

1. Divide the administrative section with

[2016-08-19 02:48] toomuchnoise commented on #123
Looking over your last release notes I see a strong desire to not use shortcodes. The same idea above could be implemented but rather than insert the list via a shortcode you could simply place your cursor at the place of insertion and add publications through the Reference List panel with the addition of a button to insert tagged lists. Lists could still be maintained the same way as described ab

[2016-08-19 17:21] dsifford commented on #123
Hi @toomuchnoise thanks for the feedback.

A few thoughts:

This is correct. The shortcode API I think was originally intended as a way for individuals to add quick functionality to their own websites, rather than for consumption in plugins or themes. I'm against the use of them in distributed plugins because it automatically creates a breaking dependency on the plugin for the user.

Another reaso

[2016-08-20 13:16] dsifford commented on #114
@aroy1962 Any updates? Were you able to get it working?

[2016-08-20 14:56] aroy1962 commented on #114
Thanks by your response and concern.

I configured my web hosting to work with php5.6 and your plugin works fine.

Also, I want to tell you that your plugin is awesome.

Regards,

Adriel

El 20/8/2016 8:16 a. m., "Derek Sifford" <notifications@github.com>
escribió:

[2016-08-20 15:45] dsifford commented on #114
Awesome. Glad to hear you got it working, and glad to hear you like it. 👍

[2016-08-20 15:45] #114 closed

[2016-08-20 22:26] #116 closed

[2016-08-20 22:26] #119 closed

[2016-08-20 22:26] #120 closed

[2016-08-20 22:26] #121 closed

[2016-08-21 00:58] dsifford commented on #52
Closing in favor of #123 (this would be a feature of that) -- feel free to chime in there.

[2016-08-21 00:58] #52 closed

[2016-08-22 12:32] gillespieza opened #124 "Bibliography stopped rendering on front-end"
Hi there

My bibliography is suddenly not rendering anymore, on my website front-end. I get the following console error in Chrome:
`Frontend.js:1 Uncaught TypeError: Cannot read property 'children' of null`

and in Firefox:
`TypeError: e.bibliography is null  Frontend.js:1:833`

URL is: http://demo4.salamanderthemes.net/mindfulness/scientific-research/

[2016-08-22 14:14] dsifford commented on #124
Hm, strange. I haven't touched that stuff, so there shouldn't have been a change.

I'm away on vacation until Friday so I won't be able to look into it until then.

[2016-08-22 15:44] dsifford commented on #124
One thing I will mention: the bibliography _never_ has to be rendered. It is a static element and does not need my plugin installed to render it once it has been generated on the post editor page.

The only responsibility of the script that you mentioned is rendering tooltips. The error you specifically mentioned leads me to believe the bibliography does not exist. Can you open the post editor and

[2016-08-23 07:56] gillespieza commented on #124
The reference list exists as html in the post, but doesn't appear to be attached to the Reference List any more... The div containing the references is there in HTML/text view but seems to disappear when I toggle to Visual Mode (and then stays disappeared).

Very odd. It must be a plugin conflict. I've restored an autosave, and will remind clients not to edit that particular post.

[2016-08-24 14:11] englebip commented on #123
I would love to see this as well! I came across this plugin when building a site for an academic research group. It is definitely miles ahead of the other plugins I found, however the main purpose I would like it to serve is to build a list of publications from the group. This list can be procured as a RIS (from Mendeley, for example), but then:

* te bibliography should be reverse sorted by date

[2016-08-25 13:09] danieldekay commented on #123
Would love to see something like this as well.

[2016-08-25 13:11] danieldekay opened #126 "A Page that lists all references"
I am working on a blog that discusses publications.
Ideally there would be an easy way to create a summary page of all publications that have been referenced by your toolkit.

[2016-08-27 13:08] dsifford commented on #126
Closing in favor of #123

[2016-08-27 13:09] dsifford commented on #124
Has this been resolved @gillespieza ?

I'll check into CMSMasters and see if it's something I can guard against.

[2016-08-27 13:22] dsifford commented on #123
Thanks for the suggestions everybody.

Just got home from vacation this week. I'll read through these more and see if I can work something out. It shouldn't be too difficult (in theory). However, the main difficulty would be in applying the feature without cramming the UI.

Will keep everybody posted as progress is made.

[2016-08-27 13:26] dsifford opened #127 "Build target for PHP versions < 5.6 (unfortunately)"
Seems as though lots of users are still using PHP < 5.6. I'll have to target earlier PHP versions in the distributed codebase.

[2016-08-27 17:49] dsifford commented on #123
To the group:

Before diving into this, can you explain to me what exactly makes using `American Psychological Association 6th edition (curriculum vitae, sorted by descending date)` a non-viable option for satisfying your needs?

![image](https://cloud.githubusercontent.com/assets/5240018/18029119/10111e0a-6c5d-11e6-937d-8477d8f383f1.png)

Is it solely the fact that the plugin injects inline citat

[2016-08-27 18:25] danieldekay commented on #126
Don't see it as a duplicate. Whereas #123 wants a publication list for one page or post, I want it for the whole site, incoporating all citations ever made.

[2016-08-27 18:41] dsifford commented on #126
@danieldekay Not sure I understand the use-case.

Can you explain this a bit further?

[2016-08-27 19:00] JLJu commented on #126
@dsifford I understand the needs expressed by @danieldekay

We've got on our project site a web page with all the references used within all the articles, with the correct numbers(article dependent) and the hyperlinks to the correct articles pages. All the references were created by hand, so It's some work.

The first time I saw your plugin I tried to use it just as @danieldekay suggest.
Now we ar

[2016-08-27 19:06] dsifford commented on #126
@JLJu Do you have some example of this somewhere that I can take a look at? Still not sure I'm understanding completely.

[2016-08-27 21:17] dsifford commented on #123
**Update:** Assuming my hunch above was correct, I've nearly completed a working implementation of this. Demo to follow shortly.

[2016-08-27 21:44] dsifford commented on #123
@toomuchnoise @englebip @danieldekay Let me know if this satisfies what it is you all were looking for: https://vid.me/6ggS

Not going to push any updates until I hear back. Thanks 👍

[2016-08-28 01:21] dsifford commented on #124
Closing this for now. I checked the URL you listed in your first comment and it appears that everything is working for you now.

FYI: CMSMasters' custom editor will not work with ABT. ABT requires the default TinyMCE editor. There's really no way to get both plugins to play nicely together since CMS Masters uses a custom editor.

[2016-08-28 01:21] #124 closed

[2016-08-28 18:24] dianne92 opened #129 "Change the anchor text of the citations"
I just found about Academic Blogger's Toolkit 3 days ago and since then I'm struggling to change the anchor text from [PubMed] to be the entire actual citation?

Actual example:

Instead of:

1. E. Solovieva, K. Farrahova, A. Karneev, and D. Chipova, “[Phospholipids metabolism disorders in acute stroke].,” Zh Nevrol Psikhiatr Im S S Korsakova, 116 [1] 104–12 (2016).[[PubMed]](http://www.ncbi.nlm.n

[2016-08-28 20:18] dsifford commented on #129
Hello again @dianne92 😄

I like the idea. I'm sure you're not the only person who'd prefer links formatted in the way you're describing.

Let me play around for a bit and see if there's a scalable way I can add this into the plugin. More than likely it'll be the way described below:

**URL Options:**

- `whenever possible - subtle`: Insert links whenever possible using [PubMed] and (I think?) [Cro

[2016-08-29 00:52] dsifford opened #130 ""Remove Item" for cited items should bump item back to uncited, rather than delete permanently."
Workflow should be this:

[code]

after selecting `paper 1` and clicking `remove`:

[code]

Then selecting `paper 1` again and clicking remove again:

[code]

[2016-08-29 01:25] toomuchnoise commented on #123
This look great. A couple of questions:

   1. Is it possible to have the same publication on more than one list on
   a page, or multiple lists and as a citation?
   2. Does the interface scale to support long lists? 50 or more
   publications?

Matt

On Sat, Aug 27, 2016 at 5:44 PM, Derek Sifford <notifications@github.com>
wrote:

--
Matthew LaPointe, MBA
web + graphics + communications
matt@uni

[2016-08-29 01:38] dsifford commented on #123
@toomuchnoise Yes and yes.

The only caveat (perhaps) is that once you generate a static list, it persists in a detached state from the state of the reference list.

In other words, say you have a reference list that looks like this:

[code]

and a document that looks like this:

[code]

Now, lets say you decide to delete `ref e`, `ref o`, and `ref u` from the reference list.

Here's what your ref

[2016-08-29 01:43] toomuchnoise commented on #123
Makes sense. Thank you. Looking forward to the commit.

Matt

On Sun, Aug 28, 2016 at 9:38 PM, Derek Sifford <notifications@github.com>
wrote:

--
Matthew LaPointe, MBA
web + graphics + communications
matt@unifiedmediallc.com
phone 703-679-7131
fax 703-649-6290
-----------------------------------------
www.unifiedmediallc.com

[2016-08-29 05:29] elliotcondon commented on #115
Hi @floaltvater

Elliot here from ACF
How's it going? I think I've fixed this issue.

If possible, can you please download and test the latest build of ACF PRO (5.4.3 RC1)?
​
1. Login to your account online: http://www.advancedcustomfields.com/my-account
2. Click on the ‘see all versions’ link next to your license
3. Download the latest 5.4.3 RC1 version​​

Please let me know if this fixes the iss

[2016-08-29 10:19] JLJu commented on #126
Sure thing @dsifford
I have some old HTML fragment from the CMS.

Imagine this section placed within a file "Reference.html", the example shows the references of the Pitot page only.  Each page with references cited should have a manual section(with proper anchor) created within the "Reference.html".

[code]

[2016-08-29 20:21] englebip commented on #123
Hi Derek,

Indeed, this would make me very happy! :+1:

And you got the issues right: no references needed in the main text, and perhaps more than one list of references is to be included.

Concerning the CSL style, yes, you got it right, something like that could work. I was thinking of using something like the ACS (American Chemical Society) format as it is relevant for the field of research of

[2016-08-29 23:29] dsifford commented on #126
@JLJu What is the benefit of having references detached from the referring document? IMHO, that pattern sounds like it will ostensibly make fact checking and portability of academic writings much more difficult to accomplish (the latter of which is not just difficult; but impossible).

With all due respect, and perhaps I could still be misinterpreting the utility and use-case of your example, I ju

[2016-08-29 23:30] #126 closed

[2016-08-30 06:54] JLJu commented on #126
@dsifford. It is a web-specific aspect, we will not miss this feature. In fact, we moved to a most classical layout; from our new "References page"(a list of all the references used within the whole website site) the users are able to download the RIS file.

The light architecture of ABT is a plus.

[2016-08-30 12:35] dianne92 commented on #129
Hi Derek!

I have seen at least one more website using this type of citations, not sure if he's using the Academic Blogger's Toolkit plugin or not but this seems to be a reasonable way of linking to the source of citations.

The way you presented the URL Options makes perfect sense so I'll be the first one to encourage you to make it happen.

Regarding the index.js edit, well, I only located the [

[2016-08-30 15:58] dsifford opened #131 "Double URL insertion for some manual citations"
![image](https://cloud.githubusercontent.com/assets/5240018/18096681/1386967a-6ea9-11e6-8eed-da7aaa2ee53e.png)

[2016-08-30 19:43] floaltvater commented on #115
Hi @elliotcondon
Thanks for tuning in here, and sorry for my delayed response. I am currently not an ACF PRO user, so I don't know if I could download that version anyway (and I don't have an account yet). However, version 4.4.8 of the free version seems to have fixed the issue for me. So whatever you did there presumably also works for the PRO version. Thanks so much for your quick response to th

[2016-08-31 06:04] dsifford opened #132 "Guard against styles without bibligraphies."
See here: https://github.com/Juris-M/citeproc-js/issues/16

[2016-08-31 20:32] dsifford opened #135 "Adjust scrollhandler to account for menu height if menu is open"

[2016-08-31 20:33] dsifford opened #136 "Trim whitespace for instances where bibliographys aren't defined and exits early."

[2016-08-31 22:40] dsifford commented on #136
Must have been a fluke. Can't reproduce anymore.

[2016-08-31 22:40] #136 closed

[2016-09-01 03:06] dsifford opened #141 "Use webpack to load fonts"

[2016-09-01 17:52] dsifford commented on #141
Not worth the trouble / increase in file size.

[2016-09-01 17:52] #141 closed

[2016-09-01 19:39] #123 closed

[2016-09-01 19:39] #127 closed

[2016-09-01 19:39] #129 closed

[2016-09-01 19:39] #130 closed

[2016-09-01 19:39] #131 closed

[2016-09-01 19:39] #132 closed

[2016-09-01 19:39] #135 closed

[2016-09-01 20:27] toomuchnoise commented on #123
This is a fantastic update. Is there a way to edit a static list once on
the page? It doesn't look like you are able to edit the static lists or
change the format of the citations once inserted (though you can change
citation format of the inline citations. Not sure if this was deliberate.
Thank you.

On Thu, Sep 1, 2016 at 3:39 PM, Derek Sifford <notifications@github.com>
wrote:

--
Matthew LaPoi

[2016-09-01 20:45] dsifford commented on #123
@toomuchnoise Thanks!

To answer your questions....

Nope. It's a one and done deal. If you want to add or remove references, you'll have to delete it and regenerate (any other way would be too memory-intensive, require a heap of additional meta to be saved to posts, and require a gigantic rewrite of the codebase).

Can you explain what you mean here? Are you saying that you'd like the citation st

[2016-09-01 21:26] toomuchnoise commented on #123
To the first point, that is unfortunate. Most people would use this feature
to update a publication list which isn't static as people publish on an
ongoing basis. If there are only a few in a list it's not so much of a
hassle, but once the list gets long could be very cumbersome.

As I'm not familiar with the code behind the scenes for this not sure if I
can offer anything constructive. Would it b

[2016-09-01 23:47] dsifford commented on #123
to update a publication list which isn't static as people publish on an
ongoing basis. If there are only a few in a list it's not so much of a
hassle, but once the list gets long could be very cumbersome.

All the citations will still remain in your reference list, so it's really just a matter of selecting and regenerating.

If that's not a feasible option, you could always chunk your publication

[2016-09-01 23:51] toomuchnoise commented on #123
publication list. Would that be helpful?

Yes. That would be awesome! If it was able to insert it in date order (not
just append) that would be ideal.

Thank you.

On Thu, Sep 1, 2016 at 7:47 PM, Derek Sifford <notifications@github.com>
wrote:

--
Matthew LaPointe, MBA
web + graphics + communications
matt@unifiedmediallc.com
phone 703-679-7131
fax 703-649-6290
-------------------------------------

[2016-09-01 23:53] dsifford commented on #123
Yep, it would be inserted according to the specifications of your chosen citation style. Assuming it's one that sorts by date, then it'll be inserted in the proper position. 👍

[2016-09-01 23:53] dsifford commented on #123
@toomuchnoise Can you create an issue spelling this out when you get time so I don't forget?

[2016-09-02 00:27] toomuchnoise commented on #123
Yes. I'll add a feature request. Thank you.

On Thu, Sep 1, 2016 at 7:53 PM, Derek Sifford <notifications@github.com>
wrote:

--
Matthew LaPointe, MBA
web + graphics + communications
matt@unifiedmediallc.com
phone 703-679-7131
fax 703-649-6290
-----------------------------------------
www.unifiedmediallc.com

[2016-09-02 02:16] dsifford commented on #123
@toomuchnoise Yep, just tried my hunch real quick and both of the above things I mentioned are going to be possible.

I'll add it by the next release. 👍

[2016-09-02 04:52] dsifford opened #144 "Add guard against citation items which resolve to an error string"
See here: https://github.com/citation-style-language/styles/issues/2196#issuecomment-244282316

[2016-09-02 19:33] dsifford commented on #123
@toomuchnoise I just finished up (for the most part) adding both of the features we discussed yesterday.

Still have a little cleanup and testing to do, but I should have the update pushed out within the next 3 hours. Going away for labor day weekend, so I'm trying to get this finished before then. 👍

Here's an example...

![gif](http://i.giphy.com/26uf6y7SHkFqT3eCY.gif)

Hope this satisfies what

[2016-09-02 21:23] dsifford commented on #123
@toomuchnoise Out of time for now, but it's mostly working.

I know for a fact there's still a small bug somewhere because every once in a while I'm able to make things screw up. The bug isn't really a big deal though, so I'll just push out what I have now and fix whatever it is on Sunday.

That said, if you experience a bug and can figure out how to reproduce it, please please report back with th

[2016-09-02 21:24] toomuchnoise commented on #123
Great. I'll take a look to see if I can trigger it.

Matt

On Friday, September 2, 2016, Derek Sifford <notifications@github.com>
wrote:

--
Matthew LaPointe, MBA
web + graphics + communications
matt@unifiedmediallc.com
phone 703-679-7131
fax 703-649-6290
-----------------------------------------
www.unifiedmediallc.com

[2016-09-02 21:37] #144 closed

[2016-09-05 18:38] dsifford commented on #123
@toomuchnoise Back home. Any success in triggering that bug?

[2016-09-12 06:16] Greentreegarden opened #151 "Can't get URL right"
**ABT Version:** 4.2.0

**PHP Version:** 5.6

**Theme:**

**Plugin List:**

**Expected behavior:**
Use "http://capital-gain.eu/wp-content/uploads/sites/2/2016/09/test.ris" as RIS file.
I have copied the URL exactly from Media Library.
Note this is a multisite URL.

**Actual behavior:**
"The provided URL is not a valid file in your WordPress upload directory."

**Console messages:**
[code]

This is

[2016-09-12 16:20] dsifford commented on #151
Thanks for the report. @Greentreegarden

I hadn't considered multisite installations. I'll try and push out a fix with the next update (it's gonna be a big one!).

[2016-09-12 16:26] dsifford commented on #151
@Greentreegarden Looking at this now. It should be working for multisite as-is.

Can you give me an idea of what your wordpress multisite directory structure looks like? What is the path to your uploads directory?

Thanks

[2016-09-12 17:05] Greentreegarden commented on #151
.mceResizeHandle {position: absolute;border: 1px solid black;background: #FFF;width: 5px;height: 5px;z-index: 10000}.mceResizeHandle:hover {background: #000}img[data-mce-selected] {outline: 1px solid black}img.mceClonedResizable, table.mceClonedResizable {position: absolute;outline: 1px dashed black;opacity: .5;z-index: 10000}
Hi Derek,
 
see attached. It is the standard structure, as far as I kno

[2016-09-12 17:37] dsifford commented on #151
@Greentreegarden Oh, ok I'm sorry I misunderstood what you were attempting to do.

RIS importing does not happen through the media library. That happens on the editor page.

Instructions for how to accomplish that can be found here: https://github.com/dsifford/academic-bloggers-toolkit/wiki#adding-references-using-ris-file

Please let me know if this still does not work for you.

[2016-09-12 19:34] Greentreegarden commented on #151
.mceResizeHandle {position: absolute;border: 1px solid black;background: #FFF;width: 5px;height: 5px;z-index: 10000}.mceResizeHandle:hover {background: #000}img[data-mce-selected] {outline: 1px solid black}img.mceClonedResizable, table.mceClonedResizable {position: absolute;outline: 1px dashed black;opacity: .5;z-index: 10000}
hmm.
 
I only see the turning circle on the right hand side (attachment

[2016-09-12 19:37] dsifford commented on #151
This leads me to believe that you do not have the visual editor enabled. The wordpress visual editor is a requirement for the plugin.

If you are using some other custom editor or the "text" editor, the plugin will not work (it's deeply integrated into the default one).

Also, FYI: I'm not getting any of the attachments you are sending. If you'd like to post an image, you'll have to do so at this

[2016-09-12 20:01] Greentreegarden commented on #151
![abt file structure](https://cloud.githubusercontent.com/assets/22142544/18450717/62cd6b42-7934-11e6-9227-e7264f95d11f.png)
![abt reflist](https://cloud.githubusercontent.com/assets/22142544/18450716/62cb31a6-7934-11e6-99f8-c6fb7c7bd37e.png)

[2016-09-12 20:01] Greentreegarden commented on #151
.mceResizeHandle {position: absolute;border: 1px solid black;background: #FFF;width: 5px;height: 5px;z-index: 10000}.mceResizeHandle:hover {background: #000}img[data-mce-selected] {outline: 1px solid black}img.mceClonedResizable, table.mceClonedResizable {position: absolute;outline: 1px dashed black;opacity: .5;z-index: 10000}
trying to find out what "visual editor" is. 
https://www.google.de/#q=w

[2016-09-12 20:03] Greentreegarden commented on #151
I have visual editor enables as in https://en.support.wordpress.com/visual-editor/

[2016-09-12 20:08] dsifford commented on #151
Hm... Not sure why it isn't working.

I'm on my way to class now so I'll have to check in on it later.

In the meantime, can you try the following:

1. disable all other plugins besides ABT. Does it work then?
2. on the editor page, hit <kbd>F12</kbd> and paste any error messages over to here.

Thanks!

[2016-09-12 20:20] Greentreegarden commented on #151
.mceResizeHandle {position: absolute;border: 1px solid black;background: #FFF;width: 5px;height: 5px;z-index: 10000}.mceResizeHandle:hover {background: #000}img[data-mce-selected] {outline: 1px solid black}img.mceClonedResizable, table.mceClonedResizable {position: absolute;outline: 1px dashed black;opacity: .5;z-index: 10000}
I am at conferences and travelling until Wed next week - and this is a

[2016-09-12 21:03] jourkameleont opened #152 "Wordpress stops working when ABT is activated"
**ABT Version:** 4.2.0

**PHP Version:** 5.6

**Theme:** Baskerville

**Plugin List:** Contact form 7
Custom Facebook Feed
Custom Post Type Widgets
Jetpack
Simple yearly archive

**Expected behavior:** Updated ABT yesterday

**Actual behavior:** Suddenly I can't edit posts or write new posts. The text has disappeared and everything below the Reference list widget heading on the Wordpress panel is

[2016-09-12 21:09] dsifford commented on #152
@jourkameleont Thanks for the report.

Can you send me a screenshot?

Also, can you open the javascript console (hit F12) and copy/paste any error messages over to here?

[2016-09-12 23:23] dsifford commented on #151
Back home now.

Let me know if you get it working or if you're able to come up with more clues that could help point me in the right direction.

[2016-09-12 23:25] dsifford commented on #152
Just read this. Glad you were able to get it working. 👍

I'm going to be pushing a rather gigantic update with some cool new features here within the next couple days so be prepared for that! 😄

[2016-09-12 23:25] #152 closed

[2016-09-13 08:11] jourkameleont commented on #152
That's great news. Perhaps add a plain text feature then? Just a field
where you can write anything you like, like a footnote. And remove some of
the compulsory fields overall. Would be great!

2016-09-13 1:25 GMT+02:00 Derek Sifford <notifications@github.com>:

[2016-09-13 13:14] dsifford commented on #152
@jourkameleont

I'm not sure if I understand what you're asking here.

What exactly would something like that be useful for? What separates that from just writing text in the editor without using the plugin?

Thanks for the suggestion.

[2016-09-13 13:59] jourkameleont commented on #152
Because then it gets sorted with the other references, gets the same pop-up
window and everything. And some kinds of sources doesn't really fit with
any of the templates so then you could freestyle the entry.

And while we're at it: why did the default citation style (American Medical
Association) change från numbers in brackets to superscript? Now I can´t
find any citation style that matches the

[2016-09-13 17:52] dsifford commented on #152
@jourkameleont

What other citation type did you need specifically? I can add a "Generic" type if you think that might help.

Here are the other available types that I do not yet have currently implemented.

- Book - Review
- Dataset
- Entry - Generic
- Entry - Dictionary
- Figure
- Generic
- Graphic
- Interview
- Manuscript
- Map
- Music - Musical Score
- Music - Song
- Pamphlet
- Personal Commun

[2016-09-13 17:53] dsifford commented on #151
Any updates @Greentreegarden ?

[2016-09-13 23:54] fbennett opened #153 "citeproc-js update (1.1.127)"
Hi Derek,

I've pushed a change to `citeproc-js` ([tag 1.1.127](https://github.com/Juris-M/citeproc-js/tree/1.1.127)) that might be useful to you. The new version dereferences `citation` and `Item` objects when first encountered during a processor run. There should be no change to the behaviour of the processor, but you may be able to remove the application-side dereferencing operations in your ow

[2016-09-13 23:57] dsifford commented on #153
Haha shoot! I just pushed the latest plugin update to wordpress about 30 seconds ago 😝

I'll add it to the next update for sure. In the meantime, I'll play around with it locally and let you know!

Thanks for the fix!

[2016-09-14 00:02] fbennett commented on #153
Here's hoping it doesn't break stuff. :cold_sweat:

[2016-09-14 01:05] robinjoha opened #155 "Feature request: blank (absolute) style"
Hi. I have used different styles, but sometimes I just want a complete blank style. Really blank. A textform to fill out, with formatting options (bold/italic/underline/url etc) and nothing more. There should be a choice on how the inline citation should be, like numbers etc. But other than that, just complete blank.

It would make my day for sure. Then you could also use this for "notes" other th

[2016-09-14 01:14] robinjoha commented on #155
For examples something like this:

1. I visited **this town** last year, _but also in 2001_ - see more about this town here: [something.com/some-url](something.com/some-url)
2. See also my earlier posts about this topic: [something.com/some-other-url](something.com/some-other-url)
3. I have written about this topic before, so take a look through my archives to see other examples.

[2016-09-14 01:39] fbennett commented on #155
For flexibility, maybe this could be addressed by auxiliary plugins to support references stored in Zotero and Mendeley? Both tools have APIs that can provide references in the format used in ABT. A user managing personal references in one of those could then easily reuse them across multiple documents.

[2016-09-14 02:08] dsifford commented on #155
@fbennett which format would those be? `Generic`? I could probably just build that into the plugin with the other ones.. (I skipped a whole bunch of the rarely-used ones).

[2016-09-14 02:17] fbennett commented on #155
Actually, I think misunderstood the gist of the feature request. I'll have
to read through the past posts (as I should have done in the first place).

On Sep 14, 2016 11:08, "Derek Sifford" <notifications@github.com> wrote:

[2016-09-14 02:23] fbennett commented on #155
Ha. There aren't earlier posts, those links are just examples, aren't they.

Those "blank references" aren't references as the processor understands
them. You could get something like this with a "note" style, if the editor
has the ability to set footnotes/endnotes independently of the citation
processor.

On Sep 14, 2016 11:17, "Frank Bennett" <biercenator@gmail.com> wrote:

[2016-09-14 02:29] dsifford commented on #155
@fbennett Haha no worries! I thought that might be the case.

@robinjoha I'll have to think this over a bit to see if this will be something I could reasonably add to the plugin. Although it sounds like a benign addition, it will undoubtedly add a large layer of complexity for the processor(s) to be able to reason through them while maintaining the document's bibliographic citations in the correct

[2016-09-14 04:23] robinjoha commented on #155
It could also be a "Citation Type" instead of a style - just like Journal Article, Book and Web Page for instance. Just call it "Blank" or something like that.

And one text-field only - with (or without) formatting options. No need for author, title etc. Just "content" and that is all. And/if more options, just make them all not mandatory.

@fbennett the links where just examples of references

A

[2016-09-14 05:22] dsifford commented on #155
This makes sense in theory, however the logic behind how the citations are physically generated is incredibly complex. In order for the processor to be agnostic to any one specific citation style, it must abide by a [strict specification](http://docs.citationstyles.org/en/stable/specification.html). Included in this spec is a set of [citation types](http://docs.citationstyles.org/en/stable/specifi

[2016-09-14 07:14] fbennett commented on #155
Unfortunately, having everything in one field would break in styles that
sort the bibliography according to field-specific rules. (Also, the item
types available are specified in CSL, so it's not possible to add fresh
ones without going through specification review.)

On Sep 14, 2016 13:23, "robinjoha" <notifications@github.com> wrote:

[2016-09-14 14:21] vvolz opened #156 "Couldn't install"
**ABT Version:** 4.3.0

**PHP Version:** 5.6

**Layers:**

**None**

**Browser:** Google Chrome (Version: xxx)

**Expected behavior:**

**Actual behavior:**

**Console messages:**
[code]

[2016-09-14 15:04] dsifford commented on #156
He there.

It sounds like you are using PHP version < 5.5, which would definitely throw this error.

I can make the fix for this so that it works for that version of PHP, however, I'd still _strongly_ recommend that you update your PHP version to at least 5.6 since older versions have security issues and are no longer supported by the PHP team.

[2016-09-14 15:42] dsifford commented on #156
@vvolz
Can you install this plugin (or something similar) and show me the output:

https://wordpress.org/plugins/wordpress-php-info/

[2016-09-14 15:44] dsifford commented on #156
ABT now requires the `DOM` and `libxml` PHP extensions to be installed. Both are installed by default with PHP. I just want to make sure that you have those.

[2016-09-14 16:03] dsifford commented on #153
@fbennett After looking at this, I think the issue was just that citeproc didn't like the shape of the observables. They are Maps, rather than plain objects. I ended up a few weeks ago converting out of the observable state before sending the information to citeproc and that worked for me.

The fix that you included wouldn't likely work without the change that I already made on my end because once

[2016-09-14 16:04] #153 closed

[2016-09-14 16:06] dsifford commented on #155
@fbennett while we're on this topic, is there a list somewhere that you know of that states the required fields for each of the defined citation types? That was one thing I struggled with when initially putting this together (and was one of the reasons that I didn't add all of the citation types in the first place)

[2016-09-14 17:22] jourkameleont commented on #152
Yes, a "Generic" with no mandatory fields (but possibly several optional)
would be superb! Ok, I will look into making my own style, thanks!

2016-09-13 19:52 GMT+02:00 Derek Sifford <notifications@github.com>:

[2016-09-14 17:49] vvolz commented on #156
Hi,

I've installed it. Here is the info:
System	Linux fbsdpcu184.leeds.ac.uk 2.6.32-573.7.1.el6.x86_64 #1 SMP Tue Sep 22 22:00:00 UTC 2015 x86_64
Build Date	May 10 2016 21:40:16
Configure Command	'./configure' '--build=x86_64-redhat-linux-gnu' '--host=x86_64-redhat-linux-gnu' '--target=x86_64-redhat-linux-gnu' '--program-prefix=' '--prefix=/usr' '--exec-prefix=/usr' '--bindir=/usr/bin' '--sbindir

[2016-09-14 17:51] dsifford commented on #156
What is the PHP version? Should be listed just before all that information you pasted.

Thanks

[2016-09-14 17:53] dsifford commented on #156
(Pasting again for easier reading)

[code]

[2016-09-14 17:54] vvolz commented on #156
Sorry, yes it is 5.3.3. I guess I will ask IT to update it.

Thanks,

Veronica

On Sep 14, 2016, at 01:51 PM, Derek Sifford <notifications@github.com> wrote:

What is the PHP version? Should be listed just before all that information you pasted.
Thanks
—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-09-14 17:59] dsifford commented on #156
@vvolz

This line in your configure command is going to also create issues...

![image](https://cloud.githubusercontent.com/assets/5240018/18523714/6cbb41ce-7a83-11e6-8758-27d19f241680.png)

I can probably add in something that reduces plugin features for installations that don't have `DOM` enabled, but if you want a full-featured experience, you'll need to remove that.

[2016-09-14 18:16] vvolz commented on #156
Thanks very much. I will forward it to them and ask for its removal. Then try again.

All the best,

Veronica

Sent from my iPhone

[2016-09-14 19:06] dsifford commented on #155
@robinjoha New developments have been made.. Might be able to add something along the lines of what you're requesting.

Standby for a demo....

[2016-09-14 19:23] dsifford commented on #155
@robinjoha Let me know if this is similar to what you were looking for....

![gif](http://i.giphy.com/d31w2OMZyQrVFV4Y.gif)

I haven't tested this heavily, but I think it may work.

[2016-09-14 19:44] robinjoha commented on #155
Yeah! That was what I was requesting, I would have liked to have formatting options as well, but that is not as important. Very good!

[2016-09-14 19:48] dsifford commented on #155
Links will automatically be converted. Can't add rich formatting because that would make the processor fragile + would also allow people to circumvent style rules.

[2016-09-15 19:04] dsifford commented on #155
@robinjoha

I tested this on a handful of different citation types sorted by a handful of different sort-keys.

If the citation type specifies a sort-key that isn't available in the generic "note", it'll spit out an error in the document.

![image](https://cloud.githubusercontent.com/assets/5240018/18563421/92aabd06-7b55-11e6-8c9b-6770564ad86f.png)

Because this isn't a "crash" and the plugin seem

[2016-09-15 19:18] robinjoha commented on #155
Looks great in my opinion.

[2016-09-16 00:08] #156 closed

[2016-09-16 00:09] dsifford commented on #151
@Greentreegarden I'm closing this issue for now since I haven't heard back. Feel free to reopen if you're still having issues.

[2016-09-16 00:09] #151 closed

[2016-09-17 00:28] dsifford opened #157 "Add Autocite for Books using ISBN"

[2016-09-17 16:21] davidandrew52 opened #158 "Error in new installation"
**ABT Version:** 4.3.0

**PHP Version:** 5.6

GalaNight

Askimet
Blog2Social
Breadcrumb NavXT
Fast Secure Contact Form
Google Analytics Dashboard for WP
Google XML Sitemaps
Grunion Ajax
Postie
RichTextEditor For WordPress
Ultimate Social Media PLUS
UpdraftPlus - Backup/Restore
Yoast SEO

**Browser:** Google Chrome (Version: xxx)

Installation and operation

The box under Reference list has a rotat

[2016-09-17 17:16] dsifford commented on #158
Thanks for the report @davidandrew52

There's a couple things that could be happening...

### 1. Are you _certain_ that you have rich editing enabled?

The only way that the message you're speaking of should show up is if that option is not set in your database. Can you go into your user page and make sure the "visual editor" checkbox is checked?

### 2. Adblocker blocking scripts
From the log mes

[2016-09-17 17:17] dsifford commented on #158
@davidandrew52 Actually, after just looking into it, I'm absolutely certain it's because you are using `RichTextEditor For WordPress`. This plugin is not compatible as it's deeply integrated with the default editor.

[2016-09-17 17:41] davidandrew52 commented on #158
Thank you for the quick response - all sorted.

David

[image: photo]

<http://facebook.com/davidandrew52>
<http://us.linkedin.com/in/davidandrew52>
<http://twitter.com/davidandrew52>
David Andrew
Individual and Organisational Psychologist, Ministering to a better world

0208 144 6753
david@mcraeandrew.co.uk
mcraeandrew.co.uk

On Sat, 17 Sep 2016 at 18:18 Derek Sifford <notifications@github.com> w

[2016-09-17 17:43] dsifford commented on #158
Great! Glad to hear you were able to get it sorted out. Hope it works well for you. 👍

[2016-09-17 17:43] #158 closed

[2016-09-20 17:49] #157 closed

[2016-09-20 17:49] #155 closed

[2016-09-20 18:01] dsifford commented on #155
@robinjoha Just pushed out the next release that adds this feature.

Let me know if it works out for you. 👍

[2016-09-20 19:30] robinjoha commented on #155
Brilliant! Just what I needed!

[2016-09-21 17:03] dsifford opened #160 "Fix breaking change to react-virtualized-select"
See here: https://github.com/bvaughn/react-virtualized-select/blob/master/CHANGELOG.md

[2016-09-21 21:12] chrisaldrich opened #161 "Can't add different citations with the same title"
**ABT Version:** 4.4.0

**PHP Version:** 5.6

2016 (child theme with few modifications)

**Plugin List:**
IndieWeb Plugins, but likely not the issue

Google Chrome: 53.0.2785.116 (Official Build) m (32-bit)

**Expected behavior:**
Put in several book citations with the same title, but different authors/publishers and expected to list them separately.

**Actual behavior:**
Citations with the same t

[2016-09-21 21:25] dsifford commented on #161
Hi there,

This is precisely correct. That happens [here](https://github.com/dsifford/academic-bloggers-toolkit/blob/master/src/lib/js/reference-list/Store.ts#L24-L28). I had a feeling this might eventually become problematic.

The good news is that I'll be able to fix this quite easily. I'll likely just add in a check for author names along with the title and that should be enough to allow for th

[2016-09-22 03:12] dsifford commented on #161
@chrisaldrich Just finished an update that should handle this issue, but I wanted to make sure my logic is correct.

In the current version, a citation is marked as a duplicate and "intercepted" if just the titles match.

In the update, I added an additional "deep equality" check that runs if the titles match. Basically, once it's found that the titles match, if any additional field matches exactl

[2016-09-22 07:35] chrisaldrich commented on #161
<a href="https://github.com/dsifford/academic-bloggers-toolkit/issues/161#issuecomment-248747889" class="u-in-reply-to"></a>@dsifford My case will not likely be seen frequently in the first place, so I suspect that your fix should handle the largest number of cases.  I don't think one would ever(?) face the issue with respect to journal articles and it's probably only books where it may crop up.

[2016-09-22 13:22] GAtherton opened #163 "Installing new version gives error"
**ABT Version:** 4.4.0

**PHP Version:** 5.6

**Theme:**iCare nonprofit...

**Plugin List:** Advanced iFrame Pro,
Advanced Image Styles, Advanced Sidebar Menu, Akismet, Buttons Shortcode And Widgets, Contact Form 7, Custom Facebook Feed, Disable Comments, Display Widgets, Dynamic Widgets, External Links, Featured Video Plus, Image Widget, Limit Login Attempts, MailChimp, Media Library Assistant, S

[2016-09-22 13:31] GAtherton commented on #163
Sorry - I just checked closed issues and found my solution.  I will try to upgrade php but as that might cause other problems could you let me have the plugin version that will work with earlier versions of php?

Thanks

[2016-09-22 13:43] GAtherton commented on #163
All seems well at php5.6 - please ignore the above requests for help

[2016-09-22 14:51] GAtherton commented on #123
I am currently using this new function to creat static lists from RIS files without inserting into the content text (as there isn't any in this instance, we just want a list of publications for each year) - this is particularly great as it was something I was trying to do a few months back.

I have achieved great lists with style Harvard but when the list is created there are no spaces between ref

[2016-09-22 14:56] dsifford commented on #123
@GAtherton

Hi there. Can you paste a screenshot of what you're describing?

Also, I was notified that your site triggered (at least) 3 errors when importing RIS files. Are you still having issues there or have you figured that out?

[2016-09-22 15:39] GAtherton commented on #123
Certainly - screenshot attached. Indenting of the second & subsequent lines
would be a good alternative to bullets & spaces.
It does look better now I have viewed the lists after saving as of course
styling has been applied (removing the need to comply with one of my
requests - see second screenshot). Some spacing or bullets would still be a
good idea.

I ran into an issue with Google Chrome - the

[2016-09-22 15:54] dsifford commented on #123
@GAtherton FYI: Email attachments don't show up in the issues thread. Can you paste it over directly?

I don't think it's chrome that's causing the issue. I'm running Chrome Canary (Version 55; the most bleeding-edge version of chrome) and I haven't been able to trigger the errors that you are experiencing.

Can you walk me through the steps that you take to trigger these errors?

[2016-09-22 16:01] GAtherton commented on #123
Sure - I have created a static publication list for 2015 (see attachments
shortly).

I now want to add a couple of new publications to that list that I found in
Endnote/Pubmed. I export those publication references to RIS and
successfully import them into ABT - I can now select them as citations in
the plugin list.

I click on the 2015 list which highlights, then click to insert exactly
like this

[2016-09-22 16:11] GAtherton commented on #123
When you have a moment I found another bug - the links in the static publication lists (mostly to pubmed) all have a trailing > character which breaks them - they should not be part of the link see http://www.asperdev.co.uk/FIT/achievements for my lists

http://www.ncbi.nlm.nih.gov/pubmed/26546263> does not work
http://www.ncbi.nlm.nih.gov/pubmed/26546263 does work

[2016-09-22 16:25] dsifford commented on #123
@GAtherton Great, I'll wait and have a look at those screenshots when you get them uploaded.

This was fixed a few versions ago. I can't reproduce this anymore. Can you clear your cache and see if that still happens?

[2016-09-22 16:26] dsifford commented on #123
Also, what citation style are you using?

[2016-09-22 16:57] dsifford commented on #123
@GAtherton

I was able to reproduce the error that triggered when additional references were added to the static pub lists. I think I have that all sorted out now.

Re: formatting of the publication lists -- I think this comes down to two factors...

1. Does your theme have `wpautop` disabled? (That's the function that automatically inserts `<p>` tags in your editor when you hit enter.
2. What cit

[2016-09-22 18:04] dsifford opened #164 "Fix uncaught error in insertStaticBibliography"

[2016-09-22 18:06] dsifford opened #165 "Improve CSS naming conventions"
https://en.bem.info/methodology/quick-start/

[2016-09-22 19:05] GAtherton commented on #123
Sorry at home now. I am using Harvard I think the one top of the list
offered but will confirm tomorrow.

Many thanks for your work

Graham

On 22 Sep 2016 5:27 p.m., "Derek Sifford" <notifications@github.com> wrote:

[2016-09-22 19:41] dsifford commented on #123
@GAtherton

There are 73 variants of the `Harvard` style. The one closest to what you are describing is `Harvard - Anglia Ruskin University` which, incidentally, is also the only version that seems to be affected by the html closing bracket bug (see below screenshot).

![image](https://cloud.githubusercontent.com/assets/5240018/18763330/dfab8768-80da-11e6-9aec-08998361d1bc.png)

My recommendation

[2016-09-22 20:08] GAtherton commented on #123
What are the chances - well they were 73:1

Many thanks for your extremely prompt support - great plugin!

Graham

On 22 Sep 2016 8:41 p.m., "Derek Sifford" <notifications@github.com> wrote:

[2016-09-22 20:10] dsifford commented on #123
@GAtherton

Thanks for your patience. Glad to hear you like the plugin!

I've fixed the closing bracket issue and will include that in the next update 👍

[2016-09-23 12:15] jourkameleont opened #166 "Problem with RIS file import and disappearing references"
![ris](https://cloud.githubusercontent.com/assets/22134572/18784783/af977b26-8194-11e6-9eff-09fb6822f3da.PNG)

**ABT Version:** 4.4.0

**PHP Version:** 5.6

**Theme:** Baskerville

**Plugin List:**
Contact form 7
Custom Facebook Feed
Custom Post Type Widgets
Jetpack
Simple yearly archive
Open external links in a new window
Akismet

**Browser:** Google Chrome (Version: xxx)

**Expected behavior:**

[2016-09-23 12:33] dsifford commented on #166
@jourkameleont

Need a few things:

1. Can you confirm your version of php?
2. What version of chrome are you running?
3. Any console warnings (hit F12 on the affected page to check)

Thanks

[2016-09-23 12:36] dsifford commented on #166
Additionally, can you post a screencast of your second issue? That's hard to believe since switching from the visual editor to the text editor fundamentally doesn't even come close to modifying the state of the reference list under the hood. (Not calling you a liar, just find it hard to believe and need clarification to make sure I'm understanding you correctly)

[2016-09-23 13:11] jourkameleont commented on #166
Sorry, I am not using Chrome but Firefox, version 48.0.2.

I can´t find any warnings and I don't know how to check PHP version.

It's hard do screenshot the disappearance, it simply is an empty reference list and no references in the text. I also find it hard to believe but nonetheless it has happened several times...

[2016-09-23 13:43] dsifford commented on #166
On firefox, to access the console you need to press <kbd>ctrl</kbd> + <kbd>shift</kbd> + <kbd>i</kbd>.

If you can find any messages there at all, that would be the most helpful.

I've added a check to the options page. Just go to that page and it'll be printed there.

If you can't get a screen recording of this happening, then a list of detailed steps to trigger this error would be necessary for

[2016-09-23 16:30] jourkameleont commented on #166
F12 works as well but I can't find any warnings or other messages.

Great, PHP version 7.0.11.

[2016-09-23 16:34] dsifford commented on #166
Kudos on using PHP 7! You're one of the few smart cookies out there 😄  (PHP 7 offers a big speed boost from its predecessors)

Hm, that's a shame Re: no console messages.

Can you send me a copy of the RIS file so I can try to replicate your issue exactly? dereksifford@gmail.com

Thanks

[2016-09-23 18:06] dsifford commented on #166
Closing since I can't reproduce this.

[2016-09-23 18:06] #166 closed

[2016-09-23 19:13] #160 closed

[2016-09-23 19:13] #161 closed

[2016-09-23 19:13] #163 closed

[2016-09-23 19:13] #164 closed

[2016-09-24 03:37] dsifford opened #168 "Look into caching locales, rather than fetching on every pageload"

[2016-09-24 17:22] dsifford commented on #168
HTTP cache is fine actually. Disregard

[2016-09-24 17:22] #168 closed

[2016-09-25 16:03] gumush opened #170 "RocketTheme plugins conflict with ABT"
**ABT Version:** 4.4.2

**PHP Version:** 7.0

**Theme:**
RocketTheme Ambrossia

**Plugin List:**
Rokbox

Chrome,Edge,Firefox

Post or page editing , Reference List box shown but nothing under. Down arrow did not changed anything.

Errors on JS Console

JQMIGRATE: Migrate is installed, version 1.4.1load-scripts.php:9:542
Deprecated TinyMCE API call: <target>.onNodeChange.add(..)

I removed all plug

[2016-09-25 22:28] dsifford commented on #170
A lot of.

^ That is extremely relevant in this situation. I'll need to know all of them to be able to figure out what's going on.

[2016-09-26 04:34] gumush commented on #170
Updated.
And i guess i found the problem too.

[2016-09-26 04:56] dsifford commented on #170
@gumush thanks for the update.

To clarify, did every "RocketTheme" plugin trigger the failure individually, or was it just one specific plugin that did it?

[2016-09-26 06:51] gumush commented on #170
Rokbox , RokSprocket  , RokAjaxSeach trigger the failure individually.

[2016-09-27 21:12] dsifford commented on #170
@gumush I responded to your email. Did you get that?

[2016-09-28 00:30] dsifford commented on #170
@gumush Unfortunately, RocketThemes isn't open source and I can't physically see how they implement their TinyMCE interfaces (which is where I'm sure the issue is occurring).

My recommendation would be to delete those plugins and choose a vendor who embraces open source.

In addition, a search in the plugin vulnerability database turned up that [several of their plugins](https://wpvulndb.com/sear

[2016-09-28 00:30] #170 closed

[2016-09-28 17:22] dsifford opened #172 "Importing citations that don't have a title triggers errors"
[code]

Possibly relevant line: https://github.com/dsifford/academic-bloggers-toolkit/blob/c7ebc03e1712d3db1c6c4c6f4b646e967b89a8cb/src/lib/js/reference-list/Store.ts#L26

[2016-09-29 16:54] #172 closed

[2016-10-02 20:08] dsifford opened #175 "[Rollbar] TypeError: Cannot read property 'properties' of undefined"
This error has been thrown over 20 times on 4 sites beginning September 19 2016:

[code]

any ideas here @fbennett ?

[2016-10-02 20:20] dsifford opened #176 "[Rollbar] TypeError: t.children is undefined"
This error has been happening periodically over the past month or so on several different sites (total of 8 times at time of writing this).

[code]

any ideas @fbennett ?

[2016-10-02 20:29] dsifford opened #177 "[Rollbar] TypeError: this.sys.retrieveLocale is not a function"
This error has been thrown 5 times in the last 3 days across 3 sites.

[code]

Any ideas @fbennett ?

[2016-10-06 11:51] cwbullet opened #182 "Bug: Default Citation Style Does not Change"
**ABT Version:** 4.4.4

**PHP Version:** 5.5.38

**Theme:** MH Newdesk

**Plugin List:**
Academic Blogger's Toolkit
Ad King Pro
Akismet
Categories Images
Cleverness To-Do List
Contact Form 7
Content links
Duplicate Page
Fancy Lightbox
Google Analytics Counter Tracker
Image Watermark
Jetpack by WordPress.com
Post Type Switcher
Rating-Widget: Star Review System (Premium)
Recipe Schema Markup
Review

[2016-10-06 13:11] dsifford commented on #182
Thanks for the report. That's definitely not what's supposed to happen. I'll check this out a bit later today and see if I can fix.

One thing I will mention: Changing the default citation style will have no effect on posts that already exist with citations in them. It will only set the default style for all new posts (from your comments, I have a feeling that you already knew this, but just wante

[2016-10-06 17:02] dsifford commented on #182
@cwbullet This works as expected for me.

Any chance you might be able to make me an account on your site so I can try to reproduce the issue there?

[2016-10-06 18:19] jhcarrell opened #184 "Webpage Citation Issue"
**ABT Version:** 4.4.4

**PHP Version:** 5.4.42

**Theme:** Juster

This is concerning webpage citations that have no known published date.  When using the manual add feature, Date is a required field and will not accept anything but the predefined date formats.  However, for the sake of accuracy it would be useful to be able to enter n.d. if the published date is unknown.

Do you have any suggest

[2016-10-06 18:21] dsifford commented on #184
@jhcarrell Good point. I hadn't considered that possibility.

I'll remove the requirement from the next release. Thanks for the feedback. 👍

[2016-10-06 18:51] cwbullet commented on #182
ok.  I did.

walkingoffpounds.com
login: testme
password: TestMeNow2016!!%%GG

[2016-10-06 19:14] dsifford commented on #182
Cool, I'll check it out now..

PS: I edited your comment to remove the password.

[2016-10-06 19:25] dsifford commented on #182
@cwbullet Are you having server issues? Your site load speed is at a crawl. Who is your hosting provider?

[2016-10-06 19:27] dsifford commented on #182
Also, I just logged in and opened a new post. It looks like the default is set to Chicago. Is this not the case for you?

[2016-10-06 19:39] cwbullet commented on #182
It works now.  No sure what we did.  Thanks

[2016-10-06 19:45] dsifford commented on #182
Great! Glad to hear that.

It may have just been your browser caching the AMA format option. No way to know for sure.

If you run into any other issues, please let me know! 😄

[2016-10-06 19:45] #182 closed

[2016-10-07 19:48] dsifford commented on #184
@jhcarrell Pushing the update now.

Hopefully this works well for you 👍

[2016-10-07 19:49] #184 closed

[2016-10-08 02:13] jhcarrell commented on #184
Thanks, I'll update and check it out.

[2016-10-08 20:59] scalice opened #186 "Footnote text in addition to citation."
First, I *love* the plug-in.

I'm using the plug-in for writing in the humanities and we routinely have extensive footnote text in addition to the citation.

For example, my footnote would read "On the idea of hidden transcripts, see Scott1990." Is there a way I can incorporate this text with ABT? Perhaps I'm missing something obvious, but I don't see how to do this at present.

Thanks.

Joseph

[2016-10-08 21:23] dsifford commented on #186
Thanks for the feedback. Glad you like it!

Give this a look and let me know if this is what you're describing: https://github.com/dsifford/academic-bloggers-toolkit/issues/155#issuecomment-247125334

[2016-10-09 00:09] scalice commented on #186
This may be a solution, although I'm not entirely certain how to implement it successfully.

For my minimal example, if I am understanding correctly, I would have two entries.

The first, Generic (text), would read "On the hidden transcripts, see"

And the second, Book, would "James C. Scott, _Domination and the Arts of Resistance_, Yale University Press (1990).

I have combined both citations int

[2016-10-09 00:18] dsifford commented on #186
If I'm understanding you correctly, it seems like you want to prepend a citation with the text "On the hidden transcripts, see".

The resulting inline citation would then be `On the hidden transcripts, see James C. Scott, Domination and the Arts of Resistance, Yale University Press (1990)`

Is that correct?

Wouldn't the text that you're wanting to prepend be implied, given that the inline citatio

[2016-10-09 00:26] scalice commented on #186
That's about the case, I was describing, but perhaps I can give a better example so it doesn't seem so trivial.

I have a footnote which reads:
"This manuscript was translated and edited by Encarnacion Alzona as Encarnacion Alzona, ed., Julio
Nakpil and the Philippine revolution (Makati: Carmelo & Bauermann, Inc., 1964). Images of Nakpil’s handwritten manuscript and score are included. Relevant ma

[2016-10-09 16:55] dsifford commented on #186
@scalice It's not possible to manually edit either the inline citation text or the bibliography/footnote text because they are all generated/regenerated continuously as the document is edited and additional citations are added in.

No details of the actual final citation exists in memory. Instead, all citations are generated using CSL XML (basically the blueprints for how the final citation needs

[2016-10-09 18:25] scalice commented on #186
That's helpful. I can use a parenthetical citation style like APA 5th and the Generic citation to create what I need. Thanks very much.

[2016-10-09 18:39] dsifford commented on #186
Great. Sorry I wasn't able to be more helpful.

Thanks for the feedback. 😄

[2016-10-09 18:39] #186 closed

[2016-10-09 20:33] dsifford opened #187 "Fix "double-sourcing" DOI (and potentially other) identifiers"
![image](https://cloud.githubusercontent.com/assets/5240018/19223441/12ce2b30-8e3e-11e6-9718-27d8f82465f8.png)

Reference: http://stemlynsblog.org/is-this-the-reason-to-use-uss-in-cardiac-arrest-st-emlyns/

[2016-10-14 05:51] hrzepa opened #192 "Error: undefined is not an object (evaluating 't.children.length')"
**ABT Version:** 4.4.6

**PHP Version:** 5.5.31

**Theme:** Default

**Plugin List:**

**Browser:** Google Chrome (Version: xxx)

**Expected behavior:**

**Actual behavior:**

**Console messages:**
[code]
An unexpected error occurred.

Error: undefined is not an object (evaluating 't.children.length')

[2016-10-14 17:04] dsifford commented on #192
Hi @hrzepa -- Can you describe how you were able to make this error happen? I'm aware that these errors exist, but I am not able to reproduce them. As much detail as to how this happened as you can possibly tell me would be helpful.

Thanks so much.

[2016-10-14 18:13] hrzepa commented on #192
Derek,

On a fairly vanilla  WP installation (latest version),  I simply install ABT using WP and then try to edit. The attached  is immediately seen.
(Safari browser,  macOS Sierra 10.12.1) Tried it also on another WP instance with lots of plugins  (not disabled) with an identical result.

In reality  I have used  KCite for many years,  but recently it stopped resolving  DataCite DOIs (Crossref D

[2016-10-14 18:18] dsifford opened #193 "Add support for resolving datacite DOIs"
Context: https://github.com/dsifford/academic-bloggers-toolkit/issues/192#issuecomment-253879799

[2016-10-14 18:19] dsifford commented on #192
@hrzepa Thanks for the clarification.

I don't have support for datacite yet, but I think that's a great idea. If you wouldn't mind helping me target this particular issue first, I'll work on adding datacite resolution after. I've created another issue for that specifically here: https://github.com/dsifford/academic-bloggers-toolkit/issues/193

PS: Attached files when responding via email don't sh

[2016-10-15 00:29] #165 closed

[2016-10-15 00:29] #187 closed

[2016-10-15 00:41] dsifford opened #194 "ISBN autocite failures for some books"
Error can be seen using: 1338099132

[2016-10-15 01:33] dsifford opened #195 "Add dynamic injection of mobx devtools (based on process.env)"

[2016-10-15 04:23] dsifford commented on #192
Update: I'll definitely be able to add datacite DOI resolution. Just looked into it. It'll be on the next update. 👍

[2016-10-15 19:18] MattGowan opened #197 "Bug - Will no longer add existing reference or new one after update"
TypeError: this.registry.citationreg.citationById[r[0]] is undefined

[2016-10-15 19:22] dsifford commented on #197
@MattGowan

What version of plugin were you using when you originally created the post?

Do you have any "cited" references currently living in the document?

[2016-10-15 19:33] MattGowan commented on #197
Hi Derek;

Thanks for responding. I was loving the plugin and I intend on donating some money to you because it’s a real time saver for me. Great work!

It was working perfect but then I was having issues with the older version I downloaded last week.  It would not allow me to insert an existing cited reference.  But it was working perfect the day before?

I decide to update to Version 4.4.7 hopin

[2016-10-15 19:38] dsifford commented on #197
@MattGowan

Sorry for the trouble! I'd be happy to get this worked out for ya.

If you wouldn't mind emailing me login information, that would be helpful. My email address is dereksifford@gmail.com.

Can you also include those screenshots in the email? They don't attach to the issues thread if you respond via email.

Lastly, how long ago did you a) install the plugin for the first time and b) crea