[2016-10-15 22:57] dsifford commented on #197
Confirmed bug. Fix coming next release.

[2016-10-16 01:04] dsifford commented on #175
Reopening due to this not being fully fixed in the latest release -- It's now fully fixed in the next release.

[2016-10-16 01:29] dsifford opened #198 "[Rollbar] SyntaxError: Unexpected token u in JSON at position 0"
Triggered when given processing a list of valid PMIDs with a single invalid ID at the end.

Reproducible example: `047563, 02987364, 082973465`

[2016-10-16 18:37] dsifford commented on #176
### Solution:

**STOP USING SAFARI BROWSER.**

[2016-10-16 18:37] #176 closed

[2016-10-16 19:54] dsifford commented on #192
This is an issue with Safari browser.

Safari blocks http requests to https endpoints when the user's client certificate is invalid in their apple toolchain; even if the client certificate isn't required for the http request!

Solution: Use a different browser.

[2016-10-16 19:54] #192 closed

[2016-10-17 01:01] #175 closed

[2016-10-17 01:01] #193 closed

[2016-10-17 01:01] #194 closed

[2016-10-17 01:01] #195 closed

[2016-10-17 01:01] #197 closed

[2016-10-17 01:01] #198 closed

[2016-10-17 11:07] cwbullet opened #200 "Revolving Arrow - Reference entry never loads"
ABT Version: ?  Last update

PHP Version: 5.5.38

Theme: MH Newdesk

Plugin List:
Academic Blogger's Toolkit
Ad King Pro
Akismet
Categories Images
Cleverness To-Do List
Contact Form 7
Content links
Duplicate Page
Fancy Lightbox
Google Analytics Counter Tracker
Image Watermark
Jetpack by WordPress.com
Post Type Switcher
Rating-Widget: Star Review System (Premium)
Recipe Schema Markup
Review Content

[2016-10-17 16:19] dsifford commented on #200
Hi @cwbullet

First things first. Can you try to clear the cache from both your site and your browser? WordPress has a nasty habit of caching old files.

If that doesn't work, can you create me a username on your site so I can check it out? My email is dereksifford@gmail.com.

[2016-10-17 17:16] cwbullet commented on #200
Thanks.  It is a cache issue.

Sent from my iPad

[2016-10-18 00:11] cwbullet commented on #200
Can we reopen this?  I cannot get it to open the search box.

I created a login
user tester
pass 2288TestMeNow2015!!!!!

[2016-10-18 00:55] dsifford commented on #200
What is your site URL @cwbullet ? I don't recall.

[2016-10-18 00:59] dsifford commented on #200
Nevermind. I found it. Checking now..

[2016-10-18 01:00] dsifford commented on #200
@cwbullet The test account doesn't have proper permissions. I need to have enough permissions to create a post.

Let me know when that happens.

[2016-10-18 01:04] cwbullet commented on #200
Ok I fixed that.  Sorry

[2016-10-18 01:10] dsifford commented on #200
What issue are you experiencing exactly @cwbullet ? Everything seems to be working fine for me.

What web browser are you using?

[2016-10-18 01:22] cwbullet commented on #200
Ok, I click the add reference box and it comes up with add reference ina box but no blank to add the search.  It will not let me Add a reference.

[2016-10-18 01:24] dsifford commented on #200
Can you post a screenshot?

What browser are you using?

[2016-10-18 01:28] cwbullet commented on #200
I have tried in on my iPad, Mac, and PC.

[2016-10-18 01:30] cwbullet commented on #200
safari and explorer

[2016-10-18 01:36] dsifford commented on #200
Ok can you post a screenshot?

You've cleared your cache on both your site and your browser too, correct?

Also, just a friendly FYI: Safari and Internet Explorer are the two worst browsers you can use in general (performance, speed, features, etc). Shouldn't cause this issue though.

[2016-10-18 01:38] cwbullet commented on #200
I posted a screen shot

[2016-10-18 01:38] dsifford commented on #200
Where at? Not seeing it

[2016-10-18 01:38] cwbullet commented on #200
Yes caches cleared

[2016-10-18 01:39] cwbullet commented on #200
Sorry it is is in a draft post called a test image.  I could not figure out how to put it here.

[2016-10-18 01:43] dsifford commented on #200
It works for me using chrome and firefox. I don't have access to safari or IE so can't test those.

I saw your screenshot and I've never seen it load that way before. Assuming you cleared your cache on both your browser and your site, it's likely a conflict with some other plugin you have installed. Can you try disabling all of your other plugins temporarily and seeing if the issue still exists?

[2016-10-18 02:09] cwbullet commented on #200
If uninstall and reinstall will it delete my data.  I have not added and plugins and this was the only recent update.  It does not work on chrome for me.

[2016-10-18 02:09] cwbullet commented on #200
I will try firefox

[2016-10-18 02:12] dsifford commented on #200
Disabling won't harm your data. You are correct though. If you completely uninstall, some plugins might dispose of their data.

Because it's not working for you on chrome either, it seems like it's a local issue to your computer. Can you try in chrome using incognito mode?

[2016-10-18 02:12] cwbullet commented on #200
No luck with Firefox either

[2016-10-18 02:12] cwbullet commented on #200
I have used 4 different computers including the one at work.

[2016-10-18 02:13] dsifford commented on #200
Hmm.. In that case, let me clear _my_ cache and try again...

[2016-10-18 02:17] dsifford commented on #200
Yep, tried both with FF and chrome again and it still works fine for me. What version of firefox do you have installed?

[2016-10-18 02:21] cwbullet commented on #200
49.01.  Just installed it.  Odd.  This is not a cache issue.  It happened on computers  that had never been on my site.

[2016-10-18 02:23] cwbullet commented on #200
Also not a plugin issue.  I turned them all off and removed my cache.  Still happens.

[2016-10-18 02:24] dsifford commented on #200
Alright try this (thank you for being patient!)...

1. Open a post editor page using firefox.
2. Trigger the error
3. Right after the error is triggered, hit F12 and copy/paste all console messages over to here so I can read them.

[2016-10-18 02:34] cwbullet commented on #200
This site appears to use a scroll-linked positioning effect. This may not work well with asynchronous panning; see https://developer.mozilla.org/docs/Mozilla/Performance/ScrollLinkedEffects for further details and to join the discussion on related tools and features!post-new.php
Use of getPreventDefault() is deprecated.  Use defaultPrevented instead.editor.js:2:6229
TypeError: e[n] is undefined
[L

[2016-10-18 02:36] dsifford commented on #200
[code]

This might be the winner... Strange that I'm not getting that same error here.

Can you click the file on the right hand side of that message and see where it takes you and copy/paste over the relevant stuff from there?

[2016-10-18 02:47] dsifford commented on #200
@cwbullet Would you mind installing a development verison of the plugin if I sent you a zip file? The development version is unbundled -- it'll be easier for me to target the exact issue.

Let me know. Thanks

[2016-10-18 02:48] cwbullet commented on #200
I will instal it

[2016-10-18 02:49] dsifford commented on #200
Ok give me a moment and I'll attach a zip file.

[2016-10-18 03:07] dsifford commented on #200
Sorry for the delay. After you install this, trigger the error again and then copy over the error logs like last time.

[academic-bloggers-toolkit-4.5.0.zip](https://github.com/dsifford/academic-bloggers-toolkit/files/535182/academic-bloggers-toolkit-4.5.0.zip)

[2016-10-18 03:14] cwbullet commented on #200
GET
http://walkingoffpounds.com/wp-admin/post-new.php [HTTP/1.1 200 OK 2903ms]
GET
http://walkingoffpounds.com/wp-admin/load-styles.php [HTTP/1.1 304 Not Modified 166ms]
GET
http://walkingoffpounds.com/wp-content/plugins/universal-star-rating/includes/usr_style.php [HTTP/1.1 200 OK 127ms]
GET
http://walkingoffpounds.com/wp-content/plugins/wp-fastest-cache/css/style.css [HTTP/1.1 200 OK 162ms]
GET

[2016-10-18 03:18] dsifford commented on #200
Two things:

1. I think you're still using a cached version of the code because `e[n]` should be actual words with the zipped plugin.
2. After you clear you cache and try it again, can you uncheck `net` and `css` from your console before copying over the logs?

Thanks in advance

[2016-10-18 03:27] dsifford commented on #200
@cwbullet I think this might be an issue with your cache plugin. I've tried clearing your site's cache (including the minified sources) and I just can't get the fresh code to load on your post editor page.

This is likely the root of all problems

[2016-10-18 03:28] dsifford commented on #200
It's also likely why it works for me and not for you. You were able to get older resources cached than I was. The old resources will most definitely cause issues.

[2016-10-18 03:30] cwbullet commented on #200
Odd.  The caches plugin was turn off and it is also no on for administrators

[2016-10-18 03:33] dsifford commented on #200
I'm not exactly sure what's happening to be honest, but what I do know is that when I navigate to the plugins page and click "edit" for ABT and then select the `vendor.bundle.js` file, I see the correct, non-minified file.

However, when I go to a post editor page, pull up the console, click `debugger`, and click on `vendor.bundle.js`, I see an old, minified, version of that file.

Not sure why or

[2016-10-18 03:39] dsifford commented on #200
This may or may not be helpful for you: https://codex.wordpress.org/I_Make_Changes_and_Nothing_Happens#I.27ve_tried_everything_above_and_my_changes_still_aren.27t_displaying

[2016-10-18 03:41] dsifford commented on #200
I've never heard of wp-fastest-cache. One thing I will tell you is that wordpress caching is _really_ easy to screw up.

If you're able to get this fixed, I'd recommend choosing a better cache option (W3 Total Cache I believe is developed by Automattic; the same people that develop WordPress itself).

[2016-10-18 03:44] dsifford commented on #200
@cwbullet I set up a test site on one of my servers. Would you be willing to test to see if it works for you there so we can pinpoint if the issue stems from your site or not?

[2016-10-18 03:58] dsifford commented on #200
Looks like the account you gave me access to no longer exists.

It's bed time here in my neck of the woods. The offer still stands if you'd like to test out the plugin on my test server. If you'd be willing to, shoot me an email and I'll give you login details.

dereksifford@gmail.com

Sorry for the trouble.

[2016-10-18 03:59] cwbullet commented on #200
I wil test it tomorrow.  I tuen off all plugins but yours.  I deleted cache.  I can't even get it to work with another admin account.

I changed the password so I try a different admin "VV*4T!Jqlrzz4X8K)Ud8(R7i"

[2016-10-18 03:59] cwbullet commented on #200
I am headed to bed also.  Thanks.

[2016-10-18 04:02] dsifford commented on #200
I'm confident we'll get this sorted out... Shoot me an email tomorrow when you're available and I'll get you the login info.

Thanks for your patience. (I removed the login info from your comment above since this is an open forum)

[2016-10-19 02:25] cwbullet commented on #200
Thank you for helping.  I figured it out.  It was another cache that I did not know about.  Cloudflare is used by my ISP.  I deleted it and it started working again.

[2016-10-19 02:27] dsifford commented on #200
🎉 🎉 Wooo!

Glad you were able to pinpoint it.

Thanks for reporting nevertheless. Feel free to chime back if anything else comes up.

[2016-10-19 02:27] #200 closed

[2016-10-19 02:28] dsifford commented on #200
@cwbullet  Oh! Don't forget to uninstall the development version and re-install the production version! The development version is much, much slower!

[2016-10-20 01:47] dsifford opened #202 "Citation tooltip event target"
Currently using `e.target`

Should be using `e.currentTarget`

[2016-10-20 01:48] dsifford opened #203 "Inline citation CSS -- Needs pointer events"
Not sure why or how `pointer-event`s got disabled in the CSS, but that needs to be re-enabled.

[2016-10-22 19:45] dsifford opened #205 "Look into adding altmetric"

[2016-10-22 23:40] #203 closed

[2016-10-24 20:15] #202 closed

[2016-10-24 21:32] dsifford opened #207 "Implement some sort of hover numbering on the reference list"

[2016-10-24 21:33] dsifford opened #208 "Some stray references aren't being properly cleared from document. (ending up as the first line of the document)"

[2016-10-24 22:30] metallikat36 opened #209 "4.6.0 CSS bugs"
I think the update messed up some CSS stuff. My original override CSS was:

[code]

So here is what I note:

1.  The selector .abt-cite still works. So that is backwards compatible. But trying the new selector .abt-citation loses the CSS.

2. The tooltip only appears on click. It used to be on hover. Confirm this is intended? Personally, I preferred the hover on PCs, but no big deal.

3.  The old

[2016-10-24 23:05] dsifford commented on #209
@metallikat36

1. Have you tried clearing your cache and reloading the page? That might fix. If that doesn't can you tell me exactly where it's not working?

2. Correct. I've made a switch to only show the tooltips on click because some older browsers don't work with the hover event listeners. (IE specifically).. Actually, IE still doesn't work, but I'm working on fixing that.

3. Ah shoot... I fo

[2016-10-24 23:50] metallikat36 commented on #209
1. Here is where:
http://www.earthmedresearch.org/neuropathy-review-natural-treatments-drug-risk-factors/
Note the inline citations are orange and larger font than the default. This is with the old .abt_cite selector. If I switch to using .abt-citation, it loses it. If I switch back again, it regains it. I have disabled cloudflare and cleared my caching plugin, so it's not cache related.  Trying t

[2016-10-24 23:58] dsifford commented on #209
The issue with your inline citations is that you need to be targeting the superscript element.

So, in other words:

this...
[code]
needs to be this...
[code]

Does the example code say to use `.abt-bibliography__header`? If so, then _that's_ the typo. The correct selector is `.abt-bibliography__heading`.

[2016-10-25 00:18] metallikat36 commented on #209
I tried
[code]
You can see on my site at the moment that the CSS is not there. So this also does not work.

The section called "CSS Selectors used in this plugin" says ".abt-bibliography__heading", whereas the example code uses ".abt-bibliography__header".  So the example code does have a typo.

[2016-10-25 00:24] dsifford commented on #209
Ah, now I see.

You'll have to keep the old selectors as well as add in the new selectors for the citations. This is because posts that you've created prior to the update will still have the old selectors.

so, in other words...

if this is what your old selectors looked like prior to the update...
[code]

you need to just do this to it...
[code]

Thanks for pointing out the discrepancy in the exa

[2016-10-25 00:26] metallikat36 commented on #209
Oh okay. If I refresh the old posts biblios, will that fix it?

[2016-10-25 00:27] dsifford commented on #209
Yep, that will also

[2016-10-25 00:59] metallikat36 commented on #209
Refreshing the posts have now made the new bibliography selectors work, but the ".abt-citation sup" selector still does now work on these existing posts.

[2016-10-25 01:12] metallikat36 commented on #209
Making a new test page, the .abt-citation sup selector does work. So it is an issue with previously existing posts.

[2016-10-25 01:15] metallikat36 commented on #209
If its not fixable, I can just republish those posts as new posts. I can do that since I only have a couple, but some other uses may not be able to do that.

[2016-10-25 01:19] metallikat36 commented on #209
Also, using the old selector ,abt_cite still does not give full control for existing posts. For example, I am unable to make the inline citations have a color when hovering. Neither of the following code blocks works for that:

[code]
[code]

[2016-10-25 01:22] dsifford commented on #209
Can you link me to a page that isn't working and tell me what you're trying to set?

[2016-10-25 01:25] metallikat36 commented on #209
Here is a pre-existing post where I want to set the inline citation style:
http://www.earthmedresearch.org/neuropathy-review-natural-treatments-drug-risk-factors/
The new selectors "abt-citation" and "abt-citation" do not work. The old selector ".abt_cite" does work for changing the style, but does not seem to work for changing the hover color of the inline citations.

A new page from scratch work

[2016-10-25 01:49] dsifford commented on #209
To change the style for all posts, existing and new, you need to add coverage for the outdated and new selectors to your stylesheet.

So, in other words, assuming you want the inline citation to be bold and orange, set your css to this:

[code]

that will cover everything

[2016-10-25 02:08] metallikat36 commented on #209
That code would work mostly, but like I said, there is still no way that works to make the hover color different. For example, the following doesn't do it:

[code]

I don't need a fix for this, since I am just going to make new posts, but this might be an issue for otheres.

[2016-10-25 02:10] dsifford commented on #209
Give me just a second and I'll look at that specifically

[2016-10-25 02:12] dsifford commented on #209
The above selector you pasted doesn't work for you? Looks like it works fine on my end.

[2016-10-25 02:17] metallikat36 commented on #209
That's correct. It does not work on pre-existing posts. Of course, it does work on a brand new post.

[2016-10-25 02:18] dsifford commented on #209
If I copy and paste that to the pre-existing post that you linked it works. I'm not sure why it's not working for you.

[2016-10-25 02:18] metallikat36 commented on #209
hold on gimme a minute

[2016-10-25 02:20] metallikat36 commented on #209
Okay crazy, now it works. Seriously it was not working before though.

So ya, then the way to keep old posts just to keep the old selectors in addition. Everything sgood.

[2016-10-25 02:20] dsifford commented on #209
Sweet! Sorry for the trouble

[2016-10-25 02:20] #209 closed

[2016-10-28 22:51] dsifford opened #210 "Add keyboard shortcut for pinning reference list"

[2016-10-29 01:02] dsifford opened #211 "Fix docket number field regex..."
Docket numbers aren't just "numbers"

Fix that...

Here's one for example: `99 CA 2971`

[2016-10-29 01:06] dsifford commented on #211
Also, perhaps this site has an API to consume? https://www.courtlistener.com/

[2016-10-29 03:46] dsifford opened #212 "Insecure origin - DOI lookup. Need to make it an https url"

[2016-10-29 19:41] dsifford opened #214 "Make sure generated <span> ids for citations are not a starting with an integer."

[2016-10-29 23:15] dsifford opened #215 "Add ability to add literal author name (for publication collab groups, etc)"

[2016-10-31 16:57] dsifford commented on #214
Fixed in 4.6.1

[2016-10-31 16:57] #214 closed

[2016-10-31 19:03] dsifford opened #216 "Scroll stubbing not working in the down direction on reference list"

[2016-10-31 19:47] dsifford opened #217 "Inserting new citation in the middle of document does not fix citation numbers below where it was inserted"

[2016-11-01 18:42] #207 closed

[2016-11-01 18:42] #210 closed

[2016-11-01 18:42] #211 closed

[2016-11-01 18:42] #212 closed

[2016-11-01 18:42] #216 closed

[2016-11-01 18:42] #217 closed

[2016-11-01 20:44] noreliacob opened #218 "PageSpeed Insights Notifications"
**ABT Version:** 4.7.0

**PHP Version:** 5.6

**Theme:**News7paper by tagdiv

PageSpeed Insights gives me a poor score for the new website and part of the suggested fixes are related to your plugin. Can you, please, suggest a solution? Thank you. https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2Fwww.semneletimpului.ro%2F&tab=desktop …
Flag this message  Delete this message

[2016-11-01 23:40] dsifford commented on #218
@noreliacob Would it be possible to make me a temporary account on your site so I can see what's going on?

Not sure why your theme triggers `is_singular()` on your homepage. That shouldn't happen.

Still investigating....

[2016-11-02 00:30] dsifford commented on #218
![image](https://cloud.githubusercontent.com/assets/5240018/19912604/006d45f2-a072-11e6-9975-991ca9cf0bb6.png)

Not much of a speed improvement, but I'll include this in the next release @noreliacob

[2016-11-02 03:50] noreliacob commented on #218
Thank you.
Sorry for not answering promptly to your message. It was night time here.

Looking forward to update your plugin.

Greetings,
Norel Iacob / redactor-șef
Revista Semnele timpului
www.semneletimpului.ro

[2016-11-02 04:48] dsifford commented on #218
@noreliacob You're very welcome. If you have any other suggestions, please don't hesitate to let me know.

Also, If this fix works well for you and you're overall enjoying the plugin, would you mind leaving a review on wordpress.org? I received another (somewhat suspect) negative review this evening and it's really hurting the overall plugin rating 😞

Thanks so much

[2016-11-02 04:49] noreliacob commented on #218
Sure. My pleasure.

Norel Iacob / redactor-șef
Revista Semnele timpului
www.semneletimpului.ro

[2016-11-02 17:45] dsifford opened #219 "long hyperlinks extending beyond bounds of tooltips/bibliography"

[2016-11-03 03:52] HoussenMoshine opened #220 "Reference List is blocked"
**ABT Version:** 4.7.0

**PHP Version:** 5.6.4-4ubuntu6.4

**Iconic:**

**Plugin List:**
-Academic Blogger's Toolkit
-Add Meta Tags
-Advanced Custom Fields
-Akismet
-Amazon Web Services
-AmazonJS
-AMP
-AP HoneyPot
-Better WordPress Google XML Sitemaps
-BNS Featured Category
-Breadcrumb Trail
-Fast Secure Contact Form
-Google Analyticator
-Google XML Sitemaps
-Importateur WordPress
-IP Geo Block
-J

[2016-11-03 06:04] dsifford opened #221 "Tooltip callouts aren't being positioned correctly in some circumstances (typically mobile)"

[2016-11-03 14:45] dsifford commented on #220
Hi @HoussenMoshine

I'm not able to say for sure, but I'm nearly certain your issue is that you have a plugin conflict somewhere, given the amount of plugins that you have installed.

Can you try disabling all of your plugins but ABT and see if it works then? If so, reenable your plugins sequentially, one at a time, and let me know which one is creating the conflict.

Thanks

[2016-11-03 18:15] dsifford opened #222 "Figure out issues with IE 11"

[2016-11-03 20:51] #218 closed

[2016-11-03 20:51] #219 closed

[2016-11-03 20:51] #221 closed

[2016-11-03 20:57] dsifford commented on #222
Fixed in #223

[2016-11-03 20:57] #222 closed

[2016-11-04 01:36] dsifford opened #224 "Figure out a way to make citation insertion play nicely with image caption boxes"

[2016-11-04 06:16] HoussenMoshine commented on #220
Hi @dsifford, i have found the conflicting plugin. It's [SiteOrigin Widgets Bundle](https://wordpress.org/plugins/so-widgets-bundle/). For now, i have disabled it.

[2016-11-04 20:56] dsifford commented on #220
Thanks @HoussenMoshine

I'll look into the conflict soon.

[2016-11-07 01:17] dsifford opened #226 "If last element before bibliography is childless (e.g. <img>) it get's removed."

[2016-11-10 06:25] metallikat36 opened #229 "Bibliography heading doesn't change."
**ABT Version:** 4.7.1
**PHP Version:** 5.6.27
**Theme:** Dazzling

**Plugin List:**
Academic Blogger's Toolkit
Ajax Search Lite
All In One WP Security
Disqus Conditional Load
Easy Google Fonts
Give - Donation Plugin
Hyper Cache
Jetpack
Popular Posts Tabbed Widget for Jetpack
PopupAlly
Social Popscroll
Super Socializer
UpdraftPlus - Backup/Restore
WP Smush
Yoast SEO

Tried to change the Bibliograp

[2016-11-10 17:30] dsifford commented on #229
@metallikat36 You're correct that it's not caching.

Setting the heading using the heading option will only change headings for posts created after the heading is set. To get the new option to apply to past posts, you'd have to open the post editor for each post and hit save again.

It's a necessary evil. Setting headings using some other "just in time" method would jeopardize the longevity of the

[2016-11-10 19:13] metallikat36 commented on #229
Problem solved.

[2016-11-10 19:13] #229 closed

[2016-11-10 20:00] dsifford commented on #229
Great!

With the above said: You can get away with setting the heading for all posts if you do it with a clever css `:before` selector. However, that won't apply to you if you've got the toggle option set.

[2016-11-12 02:38] dsifford opened #230 "Use https url for pubmed links to avoid redirects"

[2016-11-15 12:26] jugdemon opened #233 "Feature request: Import *.bib files"
I would highly appreciate it if it was possible to import bib-files to load references.

[2016-11-15 14:21] dsifford commented on #233
Hi @jugdemon

Can you explain where it is that the `.bib` files are coming from? Are you exporting from a reference manager? Some online source?

Thanks!

[2016-11-16 01:45] dsifford commented on #220
@HoussenMoshine

Finally got around to testing. The plugin seems to be working fine with `SiteOrigins Widgets Bundle` installed. Perhaps their latest update fixes the issue? Looks like they pushed one 6 days ago.

[2016-11-16 01:45] #220 closed

[2016-11-16 02:09] #224 closed

[2016-11-16 02:09] #226 closed

[2016-11-16 02:09] #230 closed

[2016-11-16 12:34] jugdemon commented on #233
There are several sources. I have them on my computer from projects (the accompanying latex files).
Another source would be the export button from google scholar.

I usually collect references as bibs so I can easily use them with latex. So I have many of them around.

The features that would be useful would be either to provide a bib-file or to paste a bib-entry into a text field that is then tra

[2016-11-16 12:49] dsifford commented on #233
Yep, makes sense.

This feature already exists for `.ris` files, so my question was really just trying to see if you would be able to export in that format vs `.bib`. That solution would work for google scholar, but unfortunately not for scattered `.bib` files existing on your disk.

The immediate issue with adding support for `.bib` is that it would take a significant amount of work to do it. `.b

[2016-11-16 12:58] jugdemon commented on #233
I like your plugin and I would consider helping, but I haven't messed around with typescript (though I have a fair share of javascript experience) and at the moment I won't have time.

Would you consider using external libraries? Such as this one: https://github.com/chbrown/tex

[2016-11-16 19:38] jugdemon commented on #233
Thanks for putting it on the list of consideration. I understand the problems as I maintain a medium-sized framework and it is causing trouble to have outside dependencies.

[2016-11-17 05:01] dsifford opened #240 "Add support for PMCID resolution"

[2016-11-17 05:17] chrisaldrich opened #241 "Can't add different citations with the same title"
I'm circling back on this issue (https://github.com/dsifford/academic-bloggers-toolkit/issues/161) though I thought it had been cleared up, but I've retested my original post. Perhaps we hadn't tested it well enough originally, or something has changed in the erstwhile to change the behavior?

In any case, here's what I'm seeing presently (with the latest Version 4.7.2, WP 4.6.1):
Books with the s

[2016-11-17 15:25] dsifford commented on #241
Hi @chrisaldrich

Any chance you have that list of references saved as a RIS file that I can play around with?

I've been hesitant to add strict, deep equality comparisons to the reference parser because scenarios exist where the exact same citation can be acquired using different sources (eg PMID and DOI) and, because the sources don't always send precisely the same information, deep equality wil

[2016-11-18 05:38] floaltvater opened #244 "Plugin not loading - insecure operation from headwayapp.co/widgets/"
**ABT Version:** 4.7.2

**PHP Version:** 5.6.27

**Theme:** Twentysixteen

**Plugin List:** ABT

**Browser:** Firefox (Version: 49.0.2)

**Expected behavior:**
The "Reference List" frame shows the interface.

**Actual behavior:**
Reference List doesn't load at all.

**Console messages:**
[code]
Not sure if I'm missing anything obvious. I cleared the cache, deactivated all plugins, tried on differe

[2016-11-18 17:23] dsifford commented on #244
headway is the service I use for displaying the in-app changelog... Strange. I've never had this issue.

Can you tell me about your server? Apache host? Nginx?

If apache, can you share with me your `.htaccess`. If Nginx, can you share your `nginx.conf`.

Thanks

[2016-11-18 17:28] floaltvater commented on #244
Here is the .htaccess. I have the site behind a password currently for development purposes. But I have had it like this for a while.

[code]

[2016-11-18 18:29] dsifford commented on #244
Is that the entire `.htaccess` file, or did you leave out some stuff?

If it is the entire one, you're missing some important things; namely [security keys and salts](https://api.wordpress.org/secret-key/1.1/salt/), but [also other things](https://codex.wordpress.org/htaccess).

Just to be sure that this isn't a red herring, can you also confirm that the original issue is still happening? We might

[2016-11-18 18:43] floaltvater commented on #244
Issue still happening. And sorry, I forgot that there is an extra .htaccess in the wp directory.
[code]
The .htaccess posted previously is in the parent directory of wp, as the wp folder has several siblings that I have behind the password access as well (followed the hosts instructions on that, but always open for suggestions).

[2016-11-18 22:27] dsifford commented on #244
@floaltvater

Great! Glad the plugin is actually working at the very least.

Very strange though that you're having changelog trouble. If you'd be willing to give me temporary access to your site, I could check it out. Otherwise, I'm not sure what tips I can give you since I can't reproduce the issue here.

[2016-11-18 22:30] floaltvater commented on #244
As the changelog is working in Chrome, it's most definitely a browser issue. So I don't know that you could debug it even if I gave you access, right?

[2016-11-18 22:45] dsifford commented on #244
If it's a browser issue local to your machine, then nope, me logging in won't be helpful.

Is this issue just happening on Firefox?

[2016-11-18 22:53] floaltvater commented on #244
I tried it on Firefox (version 49.0.2), Chrome (53.0), and in Ubuntu's own browser. And only Firefox gives problems. Already tried deactivating all plugins, but didn't change anything.

[2016-11-18 23:05] dsifford commented on #244
And you said you tried clearing cache from all sources?

If not, can you try that. Paste this into the firefox url bar and it'll take you to that tab in the settings page: `about:preferences#advanced`

[2016-11-19 03:00] floaltvater commented on #244
Tried it again. And updated to Firefox 50.0. No change :(

[2016-11-19 04:41] dsifford commented on #244
@floaltvater Figured it out.

I'm 99% sure this is happening because you have some ultra-sensitive privacy settings enabled in Firefox. Specifically, you aren't allowing cross-origin cookies to be saved.

You need to either a.) allow cookies from headwayapp.com or b.) just allow cookies altogether and use an adblocker for stubbing out tracking cookies (which is what I do -- I recommend ublock orig

[2016-11-19 04:41] #244 closed

[2016-11-20 16:24] dsifford commented on #241
@chrisaldrich Were you able to provide that RIS file so I can fix?

[2016-11-20 23:45] chrisaldrich commented on #241
<a href="https://github.com/dsifford/academic-bloggers-toolkit/issues/241#issuecomment-261787964" class="u-in-reply-to"></a>@dsifford Here's the RIS file for your convenience: https://dl.dropboxusercontent.com/u/126498/complex_analysis.ris

Since a lot of of the comparison is done by unique identifiers (DOI, PMID, ISBN) is there a way to keep these numbers and do the comparison based on them? Idea

[2016-11-21 00:01] dsifford commented on #241
@chrisaldrich Thanks. I'll check into this tomorrow.

Re: your question..

Yep, it would definitely be possible using unique identifiers. This won't be guaranteed to capture all manually entered citation duplicates since those fields are all optional, but I think the automatic citations are probably the bulk of the issue anyway.

I'll keep ya posted.

[2016-11-22 00:28] dsifford commented on #28
Closing this for now since I don't anticipate getting to this in the immediately foreseeable future. I'll come back and reopen if/when this feature aligns itself with the project trajectory.

[2016-11-22 00:28] #28 closed

[2016-11-22 00:29] dsifford commented on #30
Closing this for now since I don't anticipate getting to this in the immediately foreseeable future. I'll come back and reopen if/when this feature aligns itself with the project trajectory.

[2016-11-22 00:29] #30 closed

[2016-11-22 00:34] dsifford commented on #241
@chrisaldrich Looking into this now.

What's immediately striking is that it appears to work just fine for `american-medical-association` style. Can you confirm this on your side as well?

Digging deeper now...

[2016-11-22 00:35] dsifford commented on #241
@chrisaldrich It also is working for `chicago-full-note`.. What style exactly are you using?

[2016-11-22 07:25] CyanoKobalamyne commented on #208
I have the same bug.

Steps to reproduce:
1. Create a new page.
2. Add a citation with in-text reference.
3. Publish the page.
4. Delete the in-text citation from the text.
5. When you press Update, the citation will magically appear at the beginning of the document.

[2016-11-22 16:14] dsifford commented on #208
@CyanoKobalamyne Does the "workaround" clear the citation, or is it still happening.

It's documented somewhere but, in short:

To delete a single citation instance from the document, you have to delete it using the backspace key as you probably have been doing, and then hit the "Refresh Reference List" button in the menu to make the plugin aware of your changes.

I'll be working on a better solut

[2016-11-22 16:40] dsifford commented on #233
Update: found one I think I like https://github.com/ORCID/bibtexParseJs

[2016-11-22 16:59] CyanoKobalamyne commented on #208
Yes, refreshing the reference list solves the problem, thanks!

[2016-11-22 19:49] chrisaldrich commented on #241
<a href="https://github.com/dsifford/academic-bloggers-toolkit/issues/241#issuecomment-262112164" class="u-in-reply-to"></a>@dsifford I've generally been using one of the IEEE styles though I had used others. I tried both the AMA and Chicago styles you mentioned on my original post, but had the same issue.

Curious to see if there was a difference, I imported my own RIS file into a new test post a

[2016-11-22 21:54] dsifford commented on #233
Just finishing up an early working version of the bibtex importer @jugdemon

Still need to add tests for it, but if you feel like trying it out, you can do so by pulling the `next` branch.

BibTeX will never be as good as RIS. There's always going to be some annoyances. For example: You'll never be able to use journal abbreviations (which is a requirement for AMA format).

[2016-11-22 23:02] dsifford commented on #241
Thanks for the clarification, that's really helpful!

I'll go and try the one-by-one approach and see if I can get that to trigger the issue.

I tried your Lars Ahlfors example and was not able to reproduce. Can you explain exactly how it is you input the name in the manual field?

All the data, no matter where it comes from, resolves to a common storage type, so this should hopefully be an easy f

[2016-11-22 23:26] jugdemon commented on #233
Thank you for giving it a shot. I appreciate it a lot that you expand the toolkit to accommodate a wide range of academic writers.

Since I don't use AMA I will have no such problems. I think it is good, that you implement bibtex nontheless. I think people who use AMA will have no problems because they won't use bibtex anyway and people (like me) who use bibtex will not use AMA. I am going to chec

[2016-11-22 23:49] dsifford commented on #241
Update: figured out the issue with manually adding individual citations with similar names. It was a silly mistake on my end. That issue should be fixed on the next update.

However, that issue should not cause the author naming issue that you've mentioned. Can you please elaborate further on that?

[2016-11-23 00:36] dsifford commented on #241
Scratch the "silly mistake" part. It's a much more complicated issue. Might take a while

[2016-11-23 19:08] dsifford commented on #241
Update: I think I finally got it...

![image](https://cloud.githubusercontent.com/assets/5240018/20575208/4a09ba90-b186-11e6-91c2-fa739fd60d36.png)

Need to test a bit more, but it's close. 👍

[2016-11-24 05:35] josinc opened #255 "Link back to citation location from Reference list"
Please refer Wikipedia 'References' list. An up arrow just in front of the reference item takes us to that part of the article where it is cited. A link on the reference items, most probably an up arrow or just making the list numbers clickable, will be useful.

-Josin

[2016-11-24 05:56] dsifford commented on #255
@josinc Thanks for the feedback.

The decision was made to go with interactive tooltips inline in the document, rather than have anchor links.

There are several advantages to doing it this way:
1. Having relevant references appear as the user reads allows him/her to remain engaged in his/her reading. Forcing readers to flip-flop back and forth to and from the bottom of the document is too distrac

[2016-11-24 05:56] #255 closed

[2016-11-26 22:11] #233 closed

[2016-11-26 22:11] #240 closed

[2016-11-26 22:11] #241 closed

[2016-11-26 22:38] dsifford commented on #241
Let me know how that works for you @chrisaldrich

[2016-11-26 22:38] dsifford commented on #233
Let me know how this works for you @jugdemon

[2016-11-27 21:50] cwbullet opened #257 "Circle Arrows is back"
**ABT Version:** 4.8.0

**PHP Version:** 5.6

**Theme:**

**Plugin List:**
- Plugin 1: About Me Page
- Plugin 2: About Me Page
- Plugin 3: Academic Blogger's Toolkit
- Plugin 4: Ad King Pro
- Plugin 5: Akismet
- Plugin 6: amr shortcode any widget
- Plugin 7: Calorie Calculator
- Plugin 8: Categories Images
- Plugin 9: Cleverness To-Do List
- Plugin 10: Contact Form 7
- Plugin 11:  Content links
Co

[2016-11-27 21:52] dsifford commented on #257
@cwbullet I'm not sure what this means. Can you elaborate?

[2016-11-27 22:10] cwbullet commented on #257
I fixed it.  False alarm.  I tried everyone but forgot the empty the cache on my browser.

[2016-11-27 22:23] #257 closed

[2016-11-29 10:26] jugdemon opened #258 "Misformating of special characters in latex bibtex imports (alpha)"
When testing the bibtex alpha #233 I found that special characters formated for latex are not parsed correctly. For instance Techné remains as Techn{\{}{’{e}}{\}}.

I understand that you don't want to implement or reference a latex parser, so I would suggest the ability to edit inserted references. I hope I am not blind and missed the "edit existing references"-button, but I think it would be fair

[2016-11-29 10:27] jugdemon commented on #233
Thank you very much. This is awesome. It works well most of the time. I made a new issue #258 to cover a minor problem.

[2016-11-29 10:29] jugdemon commented on #258
I just noted that #208 explains the removal of dangling references in the text. However, I still think it would be useful to be able to manually remove a singe reference.

[2016-11-30 04:58] dsifford commented on #258
@jugdemon Can you send me a copy of the bibtex file that triggers this issue so I can play around with it.

Editing single references is a lower priority right now than figuring out a way to remove single references. Perhaps in the near future though I can look into that.

For the time being, I can probably just write in something that strips the latex out and leaves behind the raw text.

[2016-11-30 09:10] jugdemon commented on #258
@dsifford here is the bibtex entry from the reference above:

`@article{ropohl1999,
author = {Ropohl, G{\"{u}}nter},
journal = {Techn{\{}{\'{e}}{\}}: Research in Philosophy and Technology},
number = {3},
pages = {186--194},
title = {{Philosophy of socio-technical systems}},
volume = {4},
year = {1999}
}`

[2016-11-30 17:32] chrisaldrich commented on #241
<a href="https://github.com/dsifford/academic-bloggers-toolkit/issues/241" class="u-in-reply-to"></a>Double-checked this morning and it seems to be working properly for manual input now.  Thanks @dsifford!

[2016-12-04 11:29] mvarsuarez opened #259 "The pugling doesn't work in my website"
**ABT Version:** 4.8.0

**PHP Version:** 5.6

Relia Pro

 I should confess that I have a lot of plugins installed. I try to remove as many of them as possible, but I cannot find which is in conflict with ABT. Actually, I want to have this plugin active in my website because it's an academic website and the plugin is perfect for it (thank you for created it).
**Plugin List:**
- Black Studio TinyMCE

[2016-12-04 17:20] dsifford commented on #259
@mvarsuarez It's almost certainly a plugin conflict.

My guess is that it's the SiteOrigins plugin that is causing the problem (see [here](https://github.com/dsifford/academic-bloggers-toolkit/issues/220)). Can you try disabling that plugin to see if that's indeed the case?

Another possible conflict would be the Black Studio TinyMCE plugin. Try disabling that one too.

[2016-12-04 17:25] dsifford commented on #259
@mvarsuarez I just confirmed that PageBuilder by SiteOrigin is the issue. This plugin requires the default editor. It cannot be used in conjunction with plugins that modify this behavior.

[2016-12-04 17:25] #259 closed

[2016-12-04 21:27] floaltvater opened #260 "Journal name abbreviations"
**ABT Version:** 4.8.0

**PHP Version:** 5.6.27-0+deb8u1

**Theme:** Child of Fluida theme (but same issue with Twentysixteen)

**Plugin List:**
no others activated

**Browser:** Firefox (Version: 50.0.2)

**Expected behavior:**
Abbreviated journal names for styles like AMA or APS (e.g., Phys Rev B or Phys. Rev. B)

**Actual behavior:**
Journal names are fully written out (e.g., Physical Review B)

[2016-12-04 22:00] dsifford commented on #260
@floaltvater Abbreviations are only carried over if the file that you are uploading has them.

In the case of BibTeX, it never has them, so you'll never get them. RIS has them optionally.

If you get citations using the automatic lookup (using DOI, PMID, PMCID) you'll always be provided with abbreviations.

Does that make sense?

[2016-12-04 22:06] floaltvater commented on #260
Sorry, should have mentioned that I do add the citations via automatic lookup (DOI). And it loads correctly except for the abbreviated journal names.

[2016-12-04 22:55] dsifford commented on #260
@floaltvater Can you share a specific DOI that does this with me? Thanks

[2016-12-04 22:56] floaltvater commented on #260
https://doi.org/10.1103/PhysRevB.94.155105

[2016-12-04 22:56] dsifford commented on #260
Thanks... Gimmie a few and I'll check it out now

[2016-12-04 23:02] dsifford commented on #260
@floaltvater which style are you using?

[2016-12-04 23:03] floaltvater commented on #260
I tried it with American Physics Society, and American Medical Association, both of which should produce abbreviated journals.

[2016-12-04 23:08] dsifford commented on #260
Aha! You've indeed located a bug.

Looks like CrossRef mislabeled one of their data fields. It should be `container-title-short`, but it's actually `short-container-title`. Tisk, tisk CrossRef!

I'll fix this and include on the next update. Thanks for pointing this out.

[2016-12-04 23:11] floaltvater commented on #260
Sweet! Thanks for tackling this so fast and efficiently :)

[2016-12-05 18:56] saltiredj opened #261 "Add ability to edit references"
First of all, this plug-in rocks. Seriously, it's awesome. I'm using it all the time, which is probably why I have some requests for future updates (in no particular order).

**Edit references.**
My references are imported from Endnote. I am not able to edit the reference in order to add a specific page number. I have to write something like _Smith, J. (2015). p.123_ with the page numbers outwith

[2016-12-05 19:59] dsifford commented on #261
Hello again @saltiredj 😄

Glad you're enjoying the plugin! Thanks for the kind words and great suggestions.

To address each of them individually...

### Editing references
This has been requested a couple of times. It's on my radar, but not sure when I'll get to it. Likely within a few months. (cc: @jugdemon)

### Search by ISBN
This already exists! On the "Add References" screen, hit `Add Manual

[2016-12-06 01:30] saltiredj commented on #261
Well don't I feel silly. Didn't realise I could search by ISBN that way nor did I realise I could just type the name.

Will add a review immediately  :-)

Sent from my iPhone

On 5 Dec 2016, at 19:59, Derek Sifford <notifications@github.com<mailto:notifications@github.com>> wrote:

Hello again @saltiredj<https://github.com/saltiredj> ?

Glad you're enjoying the plugin! Thanks for the kind words an

[2016-12-07 09:23] floaltvater commented on #260
@dsifford Also, maybe related to this issue (otherwise I'm happy to open a new one): Somehow the page number doesn't get transmitted. Entering the DOI results in "n.p." in the lower right in the Reference List box, and no page number shows up in the bibliography. I don't know if I just have not noticed it before, or if something changed at some point.

Let me know if you'd need any more informatio

[2016-12-07 15:23] dsifford commented on #260
@floaltvater Interesting. Can you send a couple of the DOIs you're using that trigger this?

Thanks

[2016-12-07 20:06] floaltvater commented on #260
Across the journals that I checked, the problem seems localized to the Physical Review journals. They all show the same behavior of not producing a page number, whereas all other journals that I tried did. Here are DOIs that don't work:

10.1103/PhysRevA.94.040701
10.1103/PhysRevB.94.115134
10.1103/PhysRevB.94.155105
10.1103/PhysRevB.94.041107
10.1103/PhysRevC.94.041301
10.1103/PhysRevLett.95.1353

[2016-12-07 21:28] dsifford commented on #260
@floaltvater Just checked. That specific journal doesn't provide a page number/range to crossref for whatever reason. Nothing I can do there. Perhaps email the journal if you find yourself citing that one often.

[2016-12-07 22:30] dsifford commented on #258
@jugdemon Just now looking into this. It's going to require a huge transform of the string in order to render appropriately.

Two options:
1. I can fix this now by just stripping all instances of `{`, `}`, and `"` (leaving `'e` in place in the journal name and call it good.
2. You give me an exhaustive list of all simple accented letter transforms so that I can apply the appropriate transformation

[2016-12-07 22:31] floaltvater commented on #260
Oh weird. Unfortunately, I do cite that one pretty often. I'll write them and see what happens. In the meantime I'll also wait for the "edit citation" feature ;)

Thanks for looking into this!

[2016-12-07 22:34] dsifford commented on #258
Option 3: I skip it altogether and just work on adding an "edit" citation feature.

[2016-12-07 22:57] jugdemon commented on #258
I think unless you implement a latex engine the second option will always have that one case where somebody comes to you complaining about a missing character. So for the sake of your sanity (and the cleanliness of your code unless you actually want to parse latex) I would forego the second option.

The first one doesn't leave me satisfied (I would rather manually edit the bib file than having ran

[2016-12-07 23:10] dsifford commented on #258
Got it. Sounds good. Closing this for now then. Will get started on the edit citation feature as time allows. Shouldn't take terribly long, so it'll probably be released in the next month or two. 👍

[2016-12-07 23:10] #258 closed

[2016-12-07 23:15] dsifford commented on #260
@floaltvater Sure thing.

Pushing release `4.8.1` within the next 20 minutes which will include the fix for the abbreviations. 👍

[2016-12-07 23:22] #260 closed

[2016-12-08 05:16] metallikat36 opened #263 "Question about reordering references"
I know you write in the documentation not to reorder inline citations. For example, cutting and pasting a sentence along with an inline citation at the end of it would not be a good idea. But can you confirm simply deleting an inline citation (without removing it from the reference list) is okay? If so, then you might add a note to the documentation that a workaround would be to do as follows:

1.

[2016-12-08 13:23] saltiredj commented on #261
I just realised I can include pages to my citation via the text editor (rather than the visual editor). ::smacks palm on forehead::

[2016-12-08 14:40] jugdemon opened #264 "Additional References List"
I might be wrong, but I couldn't find a way to add a reference to the List visible at the end without actually placing it in the text. Sometimes I want to add additional readings in the reference list. Would it be possible to force uncited references into the References List in the end?

[2016-12-08 17:09] dsifford commented on #263
Deleting a citation from the document is okay as long as you click "Refresh reference list" after you do that. See [here] for more on that(https://github.com/dsifford/academic-bloggers-toolkit/wiki#removing-one-or-more-single-references)

If you have any suggestions for documentation fixes/clarifications, feel free to make the changes and send it as a pull request. 👍

[2016-12-08 17:09] #263 closed

[2016-12-08 17:11] dsifford commented on #261
@saltiredj Can you explain what you mean by your statement above.

If you are saying that you can edit the reference in the bibliography in the text editor, you are correct. Technically that is possible. However, those changes will be erased immediately after the next insertion or deletion of a reference because the bibliography is automatically regenerated each time the reference list is interact

[2016-12-08 17:13] dsifford commented on #264
See [here](https://github.com/dsifford/academic-bloggers-toolkit/wiki#static-publication-lists) for details on how to insert a static publication list and let me know if that solves your issue or not.

[2016-12-08 17:52] saltiredj commented on #261
Oh crap. Really? Damn.

Sent from my iPhone

On 8 Dec 2016, at 17:11, Derek Sifford <notifications@github.com<mailto:notifications@github.com>> wrote:

@saltiredj<https://github.com/saltiredj> Can you explain what you mean by your statement above.

If you are saying that you can edit the reference in the bibliography in the text editor, you are correct. Technically that is possible. However, those

[2016-12-08 17:56] dsifford commented on #261
@saltiredj I'll add support for editing existing references shortly since it's now been requested on three separate occasions. Sit tight.

[2016-12-08 17:57] saltiredj commented on #261
You, sir, are a gentleman and a scholar. 👍

[2016-12-09 17:24] jugdemon commented on #264
Thanks, I didn't know the name and therefore did not find it. That works well for me.

[2016-12-09 17:24] #264 closed

[2016-12-09 22:02] dsifford commented on #261
@saltiredj @jugdemon @floaltvater Let me know what you think of this:

![editing-references](http://i.giphy.com/3o7TKGhqEHRiU8q6Gc.gif)

There's still a bit of work to be done, but it's functional at this point. If you'd like to test it out as it currently sits let me know and I'll compile a zip that you can install.

The reference editor is triggered by double clicking on any reference in the ref

[2016-12-09 23:32] saltiredj commented on #261
Very happy to test it for you. Thanks so much!

Sent from my iPhone

On 9 Dec 2016, at 22:02, Derek Sifford <notifications@github.com<mailto:notifications@github.com>> wrote:

@saltiredj<https://github.com/saltiredj> @jugdemon<https://github.com/jugdemon> @floaltvater<https://github.com/floaltvater> Let me know what you think of this:

[editing-references]<https://camo.githubusercontent.com/171660

[2016-12-10 08:46] jugdemon commented on #261
@dsifford This looks amazing. Thank you for considering this so quickly. I will have a closer look, but I am currently clogged up with other work.

[2016-12-10 17:38] floaltvater commented on #261
@dsifford Happy to test it out too. I'm not sure though if I can get around to it in the next couple days. But I should find some time next week.

[2016-12-12 03:13] dsifford commented on #261
Pushing the update that includes this feature in less than 10 minutes. Let me know what you think once you get your hands on it.

Thanks

[2016-12-12 03:15] #261 closed

[2016-12-12 20:37] saltiredj commented on #261
Thanks. On a train but I'll check it when I'm at hotel. Is the update via the WordPress?

Sent from my iPhone

On 12 Dec 2016, at 03:13, Derek Sifford <notifications@github.com<mailto:notifications@github.com>> wrote:

Pushing the update that includes this feature in less than 10 minutes. Let me know what you think once you get your hands on it.

Thanks

-
You are receiving this because you were m

[2016-12-12 20:48] dsifford commented on #261
@saltiredj Yep, pushed the update live last night 👍

[2016-12-12 21:39] saltiredj commented on #261
Derek,

Yes, I'm on the train-it has WIFI, amazingly-and I've tried out the update. Looks great. Very easy to use and it works like a charm. Thanks so much for working on this.

However, there is one issue which still would be worth resolving - the ability to add page numbers to the reference. It is so helpful that the reference can be edited but often the imported reference from Endnote needs to

[2016-12-12 22:06] dsifford commented on #261
@saltiredj Ah, so you're saying you want the page number to be listed in the inline citation?

If no citation style in the list of styles satisfies that (which you can find out by [searching here](http://editor.citationstyles.org/searchByExample/)), then you can create and use your own citation style by following [these instructions](https://github.com/dsifford/academic-bloggers-toolkit/wiki#using

[2016-12-12 23:07] saltiredj commented on #261
APA works just fine so a different reference style isn't needed. It isn't so much an issues with the style but with the information I can add into the reference itself.

For example, Endnote references don't identify page numbers for books (and some other types) because, well, references don't tend to. I often use the same book and cite different pages at different times in my article. I need to a

[2016-12-12 23:19] saltiredj commented on #261
https://www.dropbox.com/s/bla4dj33k0s5b6f/Adding%20page%20numbers%20to%20citations.mp4?dl=0

[https://cfl.dropboxstatic.com/static/images/icons128/page_white_film.png]<https://www.dropbox.com/s/bla4dj33k0s5b6f/Adding%20page%20numbers%20to%20citations.mp4?dl=0>

Adding page numbers to citations.mp4<https://www.dropbox.com/s/bla4dj33k0s5b6f/Adding%20page%20numbers%20to%20citations.mp4?dl=0>
www.drop

[2016-12-13 00:02] saltiredj commented on #261
Here's an example of what I mean ...

![screenflow mp4](https://cloud.githubusercontent.com/assets/24391106/21121949/34c73d56-c0c7-11e6-89a1-d28856716550.gif)

[2016-12-13 00:04] dsifford commented on #261
@saltiredj Thanks for the clarification. Can you move those items to a new issue and I'll look into it next time I have a chance?

Much appreciated!

[2016-12-13 02:57] saltiredj opened #269 "Adding page numbers to citation"
The new version of the plugin which allows editing is fantastic! Thanks!

Often, a reference needs to include a page number (e.g., Smith 2009:15 or Smith 2009 p.15) but at the moment the plugin doesn't allow for this. It would be helpful to be able to add a suffix to the year in order to do this. I've included an example of how this works using Pages (Mac) and Endnote; the same concept works for M

[2016-12-13 03:11] dsifford commented on #269
@fbennett Looks like CSL-M is capable of appending such extensions for this type of information. How does one go about enabling this?

[2016-12-21 06:27] metallikat36 opened #271 ""Request Entity Too Large" - Can't save draft"
ABT Version: 4.7.1
PHP Version: 5.6.29
Theme: Dazzling
Browser: Old unsupported Chrome on Vista

Plugin List:
Academic Blogger's Toolkit
Ajax Search Lite
All In One WP Security
CM Table Of Contents Pro
Disqus Conditional Load
Easy Google Fonts
Give - Donation Plugin
Hyper Cache
Jetpack
Popular Posts Tabbed Widget for Jetpack
PopupAlly
Scalable Vector Graphics (SVG)
Social Popscroll
Super Socialize

[2016-12-21 17:37] dsifford commented on #271
Hi there,

If I might ask, what are you writing that is 50 pages long on wordpress? Seems like a huge amount of content for a single blog post!

Unfortunately, your issue is not related at all to this plugin. It's entirely because of how wordpress manages saving your post content to the database. It's done in a single HTTP POST request which, as you might have guessed, runs out of memory quickly.

[2016-12-21 17:37] #271 closed

[2016-12-21 19:33] metallikat36 commented on #271
What am I writing? An article refuting the garbage science behind antidepressants. If you are a med student, you should definitely read what I have so far:
http://www.earthmedresearch.org/antidepressants-fraudulent-depression-complex-environmental-disease/
The greater the ignorance about a topic, the more pages it takes to unwind that ignorance.

Thanks, I'll try those other fixes.

[2016-12-21 21:04] Qu1 opened #272 "List be moved or used in other posts/pages?"
Hope this is the correct place to post this! - Once added a reference can the list be moved or used in other posts/pages? ( some are common to more than one post ) What I want to do is each post have the references as they are now but on a page have a biography that is everything in the word press database from refrancesI have used or looked at all grouped together in one big list.

[2016-12-21 21:06] metallikat36 commented on #271
These are the maximum limits Siteground allows:

max_execution_time = 120
max_input_time = 120
memory_limit = 768M
post_max_size = 128M
upload_max_filesize = 128M

This all looks like they should be big enough to handle that post, don't they?

[2016-12-21 21:10] dsifford commented on #272
@Qu1 The only way to do what you are describing is to keep track of the references in a reference manager of your choice and import the RIS or BibTeX file from that running list to the page in question.

References for each post are stored as a small artifact containing only a minimal representation of the list of references which is then handled using a combination of itself and the post body on

[2016-12-21 21:18] dsifford commented on #271
Not sure. PHP and I don't really get along, so unfortunately I won't be able to be very useful for this issue.

Perhaps you could just chunk the post into a few smaller posts? The benefit there also would be that it would also be more digestible by the reader.

[2016-12-22 10:05] Qu1 commented on #272
Thought as much - However, it could be an advantage to export references as well as import. Personally sometimes use part of posts in academic papers that need the references, etc

[2016-12-22 12:32] guimaluf opened #273 "Reference list in posts doesn't load"
**ABT Version:** 4.9.0
**PHP Version:** 5.6.27

**Theme:** [Thimpress Eduma](https://thimpress.com/product/education-wordpress-theme-education-wp/)

**Plugin List:**
I've deactivated all plugins, only ABT is active.

**Browser:**
 - Firefox: 50.1.0
 - Google Chrome (Version: 55.0.2883.87 (Official Build) (64-bit))

**Expected behavior:**
When I add a new post or page I would expected to have a ref

[2016-12-26 16:51] dsifford commented on #273
@guimaluf This is most likely the result of your theme not using the default wordpress editor.

The plugin is deeply integrated into tinymce, so any visual page builders or custom editors unfortunately are not supported.

[2016-12-27 17:30] guimaluf commented on #273
@dsifford I've disabled even the theme, changed to default twenty seventeen theme, and even thou it didn't work.

[2016-12-27 18:16] dsifford commented on #273
@guimaluf That's very strange. You shouldn't have any issues on chrome or firefox.

Any chance you can take a screen recording?

[2016-12-27 18:42] guimaluf commented on #273
Interesting... I've repeat the whole process of disabling plugins, and now I got a Locale error.
`TypeError: this.sys.retrieveLocale is not a function`
Maybe I forgot to clean cache.

[2016-12-27 22:35] dsifford commented on #273
I've seen that error pop up in my error tracking logs a whole bunch of times, but I've never been able to reproduce it.

`this.sys.retrieveLocale` is [most definitely a function](https://github.com/dsifford/academic-bloggers-toolkit/blob/28ec535f6da7b970bd345b93c45a2f4e376cec9c/src/lib/js/utils/CSLProcessor.ts#L177)

Not sure where to even begin troubleshooting this since I've been trying to repro

[2016-12-28 10:59] guimaluf commented on #273
My WP is in brazilian portuguese(pt_BR) l10n and this is probably the most meaningful detail related with that error.
I'm using is Goddady Wordpress hosting so I do not have much information about my own server :(

After disabling all plugins I could see the ABT interface on post editor. I've tried to insert a random reference(via pubmed) and now I'm getting this:

`TypeError: _this.processor.cite

[2016-12-28 11:48] guimaluf commented on #273
@dsifford I've changed the site language to US English and now everything went fine!
I could add the reference with no error.

[2017-01-04 01:07] dsifford commented on #273
@guimaluf Sorry for the delay. That's interesting. Not sure why the locale would trigger this, but that could be something to look into. I'll give it a look soon and report back. 👍

[2017-01-04 01:09] dsifford commented on #269
@fbennett Did you get my mention above? Is there any documentation on this anywhere that I may have overlooked?

[2017-01-04 01:47] dsifford commented on #273
@guimaluf I was able to reproduce this! Fantastic!

I'll look into fixing this straight away. Thanks so much for the detailed report. I've been trying to get to the bottom of this for months!

[2017-01-04 02:36] dsifford commented on #273
@guimaluf fixed in 5f1183d7db1bcc6cfdd885cd9c7d15a53835b0ca -- Pushing the update to wordpress.org now.

[2017-01-04 02:36] #273 closed

[2017-01-05 15:32] Antimatzist opened #275 "Make "Pages" for Journals/Magazines etc. optional"
I ran into a small problem: There are some web-only Journals which I'd like to cite. As they are web-only, they do not have pages; however, the plugin "forces" me to use them.

It would be great if the "Pages" rider would be optional and not mandatory.

[2017-01-05 16:57] dsifford commented on #275
@Antimatzist Good point. I'll remove the requirement on the next update.

[2017-01-05 17:44] saltiredj commented on #269
Sorry. I just got this email now. Have been off the grid. Is there something I need to read/check?

Sent from my iPhone

On 4 Jan 2017, at 01:09, Derek Sifford <notifications@github.com<mailto:notifications@github.com>> wrote:

@fbennett<https://github.com/fbennett> Did you get my mention above? Is there any documentation on this anywhere that I may have overlooked?

-
You are receiving this becau

[2017-01-05 17:57] dsifford commented on #269
@saltiredj Nope, just waiting to hear back from @fbennett on how to implement with his processor.

[2017-01-06 00:25] dsifford commented on #177
Fixed (I think?) in 4.9.1

[2017-01-06 00:25] #177 closed

[2017-01-06 00:58] #275 closed

[2017-01-09 01:19] dsifford opened #279 "Duplicate '#abt-bibliography__container' made in the toggle js"

[2017-01-09 01:20] dsifford opened #280 "Cannot read property "length" of undefined error"
Comes up in the pubmed search. Supposedly when searching for `Mortality amongst multiple trauma patients admitted to an intensive therapy unit.`

[2017-01-09 15:23] Antimatzist opened #281 "Din1505-2 (numeric, German) bugged display"
**ABT Version:** 4.9.2

**PHP Version:** 5.5.9

**Theme:** Fox

**Plugin List:**
- Academic Blogger's Toolkit	4.9.2
- Captcha by BestWebSoft	4.2.8
- Creative Commons Configurator	1.8.27
- Fruitful Shortcodes	1.5
- IssueM	2.6.0
- MailPoet Newsletters	2.7.5
- TablePress	1.7
- Yoast SEO	4.0.2

**Browser:** Google Chrome (Version: 55.0.2883.87)

When using the bibliography style Din1505-2 (numeric, Ge

[2017-01-09 18:24] dsifford commented on #281
@Antimatzist Thanks for the report. I'll push a fix on the next update.

[2017-01-09 23:24] metallikat36 opened #283 "Inline Citation disappears"
ABT Version: 4.9.2
PHP Version: 5.6.29
Theme: Dazzling
Browser: Out of date Chrome on a Vista machine

Plugin List:
Academic Blogger's Toolkit
Ajax Search Lite
All In One WP Security
CM Table Of Contents Pro
Disqus Conditional Load
Easy Google Fonts
Give - Donation Plugin
Hyper Cache
Jetpack
Popular Posts Tabbed Widget for Jetpack
PopupAlly
Scalable Vector Graphics (SVG)
Social Popscroll
Super Soc

[2017-01-09 23:29] dsifford commented on #283
@metallikat36 Hard to say without seeing the rendered html in the `Text` editor.

When you merge paragraphs together, in the backend, tinymce has to join two `<p>` tags together so it might have been getting clipped during that phase.

Nothing I'd be able to fix on my end. <kbd>ctrl</kbd> + <kbd>z</kbd> should work to restore the citation if this happens in the future.

[2017-01-09 23:29] #283 closed

[2017-01-12 16:46] paulcreek opened #284 "Make heading h2 instead of h3"
Is it possible to change the heading of the bibliography from h3 to h2?

In my pages I use h2 for all sections, and this way unfortunately the bibliography appears as a subsection of the last section.

Thanks, and thanks for the great plugin.

[2017-01-12 20:05] dsifford commented on #284
Hi @paulcreek, I appreciate you taking the time to post your issue in this location.

To be honest, the "heading" option for the plugin is pretty much a vestigial structure at this point. I don't personally use it because it's both easier and IMHO better to do it with CSS because the changes to your heading can apply both pro and retroactively.

So, in short, what I'd recommend doing is removing t

[2017-01-13 11:52] paulcreek commented on #284
Hello, and sorry for not reading the sticky before.

The problem for me is that I have a table of contents which looks at the HTML headings automatically, and I would like to have an entry "References" in the TOC, as a second level heading (=main section).
With the current settings, if I add a heading I get a level three, and if I remove the heading altogether, I have no entry in the TOC.

Do you

[2017-01-13 22:55] dsifford commented on #284
@paulcreek Ah, noted. I'll see if I can just write in an option to specify the heading level on the next update. Not an unreasonable request for your purpose.

[2017-01-15 02:02] cwbullet opened #285 "Background Color"
**ABT Version:** 4.9.2

**PHP Version:** 5.6

**Theme:**MH New Desk

**Plugin List:**
- All turn off but tool kit.

 Safari, firefox

**Browser:** Google Chrome (Version: xxx)

**Expected behavior:**

**Actual behavior:**  http://walkingoffpounds.com/weight-loss-tip-avoid-the-couch-potatoes/
The background color for the bibliography does not load.  I have tried turn off all plugins and several the

[2017-01-15 02:10] dsifford commented on #285
@cwbullet Can you share the CSS that you have that attempts to set the background color?

[2017-01-15 02:13] cwbullet commented on #285
.abt-tooltip {
    background-color: teal;
    color: white;
    border: dashed gold 2px;
}

.abt-tooltip a {
    color: gold;
}

.abt-tooltip a:hover {
    color: yellow;
}

.abt-tooltip__callout_up {
    border-color: transparent transparent teal;
}

.abt-tooltip__callout_down {
    border-color: teal transparent transparent;
}

.abt-tooltip__close-button {
    color: teal;
    background: gold;

[2017-01-15 02:58] dsifford commented on #285
@cwbullet All of those selectors are for just the tooltip styles.

To style your bibliography, check out the middle example in the settings page.

For convenience, here's the CSS that you'll find in that example:

[code]

For your specific case, if all you want to do is simply change the background of your bibliography, just add this to your stylesheet (changing out the color value for whatever co

[2017-01-15 02:58] #285 closed

[2017-01-16 04:25] dhscratch opened #286 "Spinning, no load of widget in post_type editor"
I just installed, disabled all but standard WP plugins (e.g., jetpack, akismet,etc.), and the widget in post editor just keeps spinning. Chrome, firefox, my wifi, starbucks, my university. Any help would be awesome. Would love to test this plugin.

(Oh, and sorry if my "Issue" isn't Git appropriate; i couldn't find a standalone site w/ support forum)

[2017-01-16 04:36] dsifford commented on #286
@dhscratch Nope, totally github appropriate. No worries!

Usually, this issue boils down to one of three things:

1. Your theme is disabling the default WordPress editor for some custom "pagebuilder"-type editor (or just some other editor altogether) -- This would result in an endless spinner because the plugin requires the default tinymce editor. If it doesn't receive a "ready" signal from the de

[2017-01-16 05:53] dhscratch commented on #286
Okay, so I'm only using html editor. Will that be a problem? I'm using a
custom child theme I developed from twenty seventeen l, but my custom post
types are in line with wp codex on this. Ill install a fresh theme w/o any
edits to test more. Thanks so much !!! Awesome concept. Hope I can figure
out what I'm doing thats bugging out your great plugin!

On Jan 15, 2017 11:36 PM, "Derek Sifford" <not

[2017-01-16 06:22] dhscratch commented on #286
okay, so I switched over to visual editor and it loads after a few second
(not in text editor). Everything seems to be working great (and this really
is a lovely WP addon for academics!). Question: what would be involved in
connecting to such resources as Worldcat or a specific journal? Also, is
there a way to generate an index accessible from your plugin widget across
posts of source (i.e., so i

[2017-01-16 06:41] dsifford commented on #286
@dhscratch Glad you were able to get it working!

When you click "Add Reference", you are able to paste in a DOI, PMID, or PMCID to the reference of interest and it will generate a full citation. In the "Add Manually" section, you are able to also generate a citation via a web URL or an ISBN.

posts of source.

This isn't possible by design. WordPress isn't the best place for keeping track of your

[2017-01-16 06:41] #286 closed

[2017-01-16 06:42] dhscratch commented on #286
Great, thanks!

On Jan 16, 2017 1:41 AM, "Derek Sifford" <notifications@github.com> wrote:

[2017-01-20 04:00] dsifford commented on #284
@paulcreek I'll (probably) be pushing a release tomorrow with the following added to the options page:

![image](https://cloud.githubusercontent.com/assets/5240018/22135239/f7d88660-de9a-11e6-8a93-46af47e3a8f2.png)

Hope that works for you. Thanks for the feedback.

[2017-01-20 19:51] dsifford commented on #281
@Antimatzist Pushing the fix for this now. Thanks for the report.

[2017-01-20 19:53] #279 closed

[2017-01-20 19:53] #280 closed

[2017-01-20 19:53] #281 closed

[2017-01-20 19:53] #284 closed

[2017-01-22 07:52] metallikat36 opened #291 "plugin broken - either the last update, or HTTPS stuff"
**ABT Version:** 4.10.0
**PHP Version:** 5.6.29
**Theme:** Dazzling
Browser: Out of date Chrome on a Vista machine

Plugin List:
Academic Blogger's Toolkit
Ajax Search Lite
All In One WP Security
CM Table Of Contents Pro
Disqus Conditional Load
Easy Google Fonts
Give - Donation Plugin
Hyper Cache
Jetpack
Popular Posts Tabbed Widget for Jetpack
PopupAlly
Post Slider WD
Scalable Vector Graphics (SVG

[2017-01-22 10:56] clarberlin opened #292 "Academic doesn't work (fine) with Visual Composer"
**ABT Version:** 4.10.0

**PHP Version:** 5.6

**POL**

**Plugin List:**
VIsual Composer

**Browser:** Google Chrome (Version: xxx)

**Expected behavior:**

**Actual behavior:**

**Console messages:**
[code]

[2017-01-22 16:55] dsifford commented on #292
Hi @clarberlin

I'm not sure I understand what your issue is. Can you elaborate?

[2017-01-22 16:58] dsifford commented on #291
I use the plugin on a few different sites that all have https enabled, so that's definitely not the issue.

Happy to help troubleshoot though if you haven't already figured it out.

Re: protocol URLs... Every external url used in the plugin is also SSL encrypted, so you should have no issue there.

[2017-01-23 05:22] metallikat36 commented on #291
I figured out the issue. In the course of setting my my SSL certificate with Cloudflare, I also enabled a feature they have called Rocket Loader. When this feature is enabled, I get the bug I described. When it's disabled, problem solved.

I also would get two others bugs when it is enabled When I would open a post in a browser for the first time, the tooltips would not work, and the references li

[2017-01-23 11:30] paulcreek commented on #284
This is really great. Thank you so much!

[2017-01-23 11:33] jugdemon commented on #284
@paulcreek: I am looking for a ToC plugin. Is it selfwritten code, or do you have a plugin to recommend?

[2017-01-23 11:39] paulcreek commented on #284
@jugdemon I'm using this one, and I'm very satisfied with it: https://wordpress.org/plugins/table-of-contents-plus/

In the past I used to use this other one, and it's also very nice: https://wordpress.org/plugins/easy-table-of-contents/

(The reason why I switched is simply because the first one fits better with the style of my pages. Both are good imho.)

[2017-01-23 17:17] dsifford commented on #291
Not totally sure what could be causing the specific issue, but a few things that I do know are:
- I bundle my code in a very specific format and in a very specific order which can't be changed for it to work properly.
- The scripts that are loaded at the bottom of the `<body>` don't need to be asynchronous since that location doesn't block anything.
- The reason why it doesn't work on the first ti

[2017-01-23 17:17] #291 closed

[2017-01-23 19:50] metallikat36 commented on #291
Okay, thanks. So I will just not use Rocket Loader with ABT, then. No problem.

No I did not pay for SSL. Siteground gives free Let's Encrypt SSL and Cloudflare some other free shared SSL.

[2017-01-23 20:14] dsifford commented on #291
@metallikat36 You'll get a better performance benefit if you enable the HTTP/2 protocol vs using Rocket Loader.

The difference is....
- **Rocket Loader** combines scripts into a single giant network request which solves the issue of having a single thread of network requests in a series for all of your resources one-by-one.
- **HTTP/2** loves multiple network requests. HTTP/2 operates on a single

[2017-01-24 21:08] dsifford commented on #292
Are you able to provide additional information about this @clarberlin?

[2017-01-29 09:48] jugdemon commented on #284
@paulcreek thank you for the links. Like you, I like the ToC Plus. So I will also profit from your request to be able to change the header size!

[2017-01-30 11:01] clarberlin commented on #292
i'm so sorry. Now it doesn't work at all. It's only a spinnig wheel - please look at the screenshot:
I'm already deactivate all other plugins. Did you have any idea?
![bildschirmfoto 2017-01-30 um 10 46 27](https://cloud.githubusercontent.com/assets/25279028/22420670/d7d59b36-e6e3-11e6-9aac-0a3fdb4199f7.png)

[2017-01-30 18:25] dsifford commented on #292
@clarberlin The plugin does not work with non-standard WordPress editors. It's deeply integrated with TinyMCE (the default visual editor) and will not work with any custom-made solutions.

[2017-01-30 18:25] #292 closed

[2017-02-04 16:16] filimora opened #295 "Adding advanced search box"
**ABT Version:** 4.10.0

**PHP Version:** 5.6

**Theme: onesocial**

**Plugin List:**
bbPress
bbPress Moderation
BuddyDrive
BuddyPress
BuddyPress Docs
BuddyPress Member Type Generator
BuddyPress Xprofile Custom Fields Type
BuddyPress Xprofile Member Type Field
Co-Authors Plus
Comments Disable - AccessPress
Conditional Profile Fields for BuddyPress
Contact Form 7
Header and Footer
Limit Login Attem

[2017-02-06 09:47] fbennett commented on #269
(Bennett here - finally responded to Derek, very sorry for the long delay.)

[2017-02-17 06:26] galderna opened #296 "Suggestion for a new feature: footnotes integrated."
**ABT Version:** 4.10.0

**PHP Version:** 5.6

**Theme:**

**Plugin List:**
- Plugin 1
- Plugin 2

**Browser:** Google Chrome (Version: xxx)

**Expected behavior:**

**Actual behavior:**

**Console messages:**
[code]
When doing academic work, the scheme I use to follow is: title -- abstract -- body (main information) - footnotes (additional explanatory information with eventually a brief citation

[2017-02-17 16:56] dsifford commented on #296
Hi @galderna. Thanks for the feedback!

Agreed that this is a particular pain area that has been brought up a few times by others. I'm still trying to figure out the implementation details for something like this because on the backend side, things are pretty complicated.

The way you describe using footnotes intermixed with references is interesting. I've never seen them used like that. Does this

[2017-02-17 22:10] galderna commented on #296
Hi @dsifford. Thanks for your quick answer!

This is not from AMA but from APA style format you mention below in your message. You can take a quick look at the [following page](https://owl.english.purdue.edu/owl/resource/560/04/) from [Purdue OWL](https://owl.english.purdue.edu/owl/) website.

This is pretty similar to the [CMS NB](http://lib.trinity.edu/research/citing/Chicago_Notes_16thed_w_shor

[2017-02-18 22:43] dsifford commented on #296
@galderna Thanks for the in-depth explanation.

Does [this style](http://editor.citationstyles.org/styleInfo/?styleId=http%3A%2F%2Fwww.zotero.org%2Fstyles%2Fchicago-annotated-bibliography) appear to be what you're describing?

If so, then I'll need to get implementation clarification from @fbennett prior to working on this.

[2017-02-20 15:39] jugdemon commented on #269
I would like to piggyback this issue: I am currently adding pages to specific citations and I would rather not cite the same article 5 times with different pages. Would it be possible to make such page citations a local edit to a specific inserted citation?

[2017-02-20 17:33] galderna commented on #296
@dsifford Yes, that's the style.

I look forward to see that implemented. All the best with the work ahead.

Thank you very much for your kind feedback. I appreciate it.

[2017-02-20 18:34] jugdemon opened #297 "Improve Manual Adding"
I ran into the situation, where I added several journal articles manually. I accidentally added information into the first data mask and then switched from Webpage to journal article. All previous input into the data mask was deleted. It would be useful, if similar fields (author, title, etc.) would not be automatically emptied when switching the reference type.

Even though I noticed the bug/beha

[2017-02-20 18:39] dsifford commented on #297
Let me mull this one over.

I added explicitly the clear action on type change to prevent leakage of fields from a certain citation type over to other types that don't use those fields because that could potentially lead to some tricky bugs.

[2017-02-20 18:41] dsifford commented on #269
@jugdemon Yep, what you're describing is what @saltiredj is suggesting. I'll look into this when I get some spare time.

[2017-02-20 19:07] jugdemon commented on #297
Your reasoning makes sense. That is why I specified similar fields only, but if equal fields would be the only thing, that would be fine as well. Obviously all other field should be pruned. Would it be possible to check whether the next selected type has a field with the same name and if yes copy the value and otherwise drop it?

Again, this is a minor issue, I just happen to come across a few ref

[2017-02-20 19:59] jugdemon commented on #269
No worries, for now I just write the page in extra-parenthesis, but an in-built solution will be nicer.

Thanks for working so dedicated on this, this is most certainly the best-maintained wordpress plugin I came across so far.

[2017-02-21 09:36] jugdemon opened #299 "Potential missing feature in citing Book Section"
I was adding a book section to one of my articles, and I noted that there are no fields for editors. It is common to actually cite the editors as well (strong emphasis by me to highlight the editors, not actually part of the reference style):

Montello, D. and Raubal, M. (2013). Functions and applications of spatial cognition. In: **Waller, D. and Nadel, L. (Eds.).** _Handbook of Spatial Cognition

[2017-02-21 09:44] jugdemon commented on #299
P.S.: Also, I am sorry for swamping you with issues and request, but I now moved to use the toolkit on a regular basis. Please don't read this requests as criticism to your great work, but rather as another computer scientist that does user testing and software testing for you.

[2017-02-21 20:28] dsifford commented on #299
@jugdemon Thanks. Yeah, this is an oversight on my part. Thanks for the report.

(Note: No timeframe on when I'll be able to get to this. This project, being a side-project generating no revenue, is the lowest thing on my priority list. I'll try to circle back and get the open issues resolved once I get some free time. Sorry in advance for the delay.)

[2017-02-23 13:25] jugdemon opened #300 "Missing shorting of author list"
Many styles such as APA shorten the list of authors with "et al." as soon as the long form has been listed once. I have a case where the "et al." shorting only happens at the third repetition.

I assume it has to do with the fact that I list first the quotation in a list of citations:

(A & B, 2015; C, D, E & F, 2004)

The followed by a citation:

(C, D, E & F, 2004)

And only the third time aroun

[2017-02-25 00:06] abcjmrees opened #301 "installation"
**ABT Version:** 4.10.0

**PHP Version:** 5.4.45

**Theme:** Agama

**Plugin List:**
- Plugin 1 Clone Posts Version 1.0 | By Lukasz Kostrzewa
- Plugin 2 Duplicator Version 1.1.32 | By Snap Creek
- Plugin 3 Easy Google Fonts Version 1.4.2
- Plugin 4 Gravity Forms Version 2.1.3
- Plugin 5 Huge IT Portfolio Gallery Version 10.0 | By Huge IT
- Plugin 6 Page Builder by SiteOrigin Version 2.4.25 | By Si

[2017-02-25 03:18] dsifford commented on #301
Hi @abcjmrees

`Plugin 6 Page Builder by SiteOrigin Version 2.4.25 | By SiteOrigin` is not compatible with ABT.

ABT relies heavily on the default text editor. It cannot work with non-standard editors.

See [here](https://github.com/dsifford/academic-bloggers-toolkit/issues/220) and [here](https://github.com/dsifford/academic-bloggers-toolkit/issues/259) for more details on this.

Sorry for the tr

[2017-02-25 03:18] #301 closed

[2017-02-25 03:30] dsifford commented on #300
@jugdemon Missed this one. Sorry for the delay..

Can you provide an actual example of the issue? I'm not sure I'm following what you're saying.

Thanks

[2017-02-25 08:45] jugdemon commented on #300
@dsifford: [Here is the page](http://blog.gruebel.io/2017/02/23/asc-introduction/) with the actual occurrence. The citation of: "Lempert, R., Nakicenovic, N., Sarewitz, D., & Schlesinger, M. (2004). Characterizing climate-change uncertainties for decision-makers. An editorial essay. Climatic Change, 65(1), 1–9."

You find the citation in the second paragraph, the second subtitle (predict-then-act)

[2017-02-25 15:01] dsifford commented on #300
No way to tell without being able to play with it.

What style is being used?

[2017-02-25 17:06] jugdemon commented on #300
It is set on APA6. Does that help enough?

[2017-02-25 18:08] dsifford commented on #300
@jugdemon You're correct.

This issue is out of scope here, but I've opened up an issue in the style repository that you're welcome to follow/chime in on.

Closing this thread because it's not within scope.

[2017-02-25 18:08] #300 closed

[2017-02-28 01:30] abcjmrees commented on #301
what editor do you recommend? i would like good bib formatting.

On Fri, Feb 24, 2017 at 9:18 PM, Derek Sifford <notifications@github.com>
wrote:

--
jack m. rees

  z2zero
Design | Build | Dwell
1618 Summit KCMO 64108
816.582.9699

[2017-02-28 01:38] dsifford commented on #301
The default editor that comes with WordPress is the recommended editor. I'm not sure if it is possible to use that editor with SiteOrigin plugins, so you'll have to decide which of the two (SiteOrigin or ABT) you'd rather use.

[2017-02-28 20:40] abcjmrees commented on #301
thank you for your kind assistance, one more question if you please.

i can get the records out of endnote in a format that mimics ris. in other
words with tags as to author, title., etc. my questions is can ABT receive
RIS style imput, preserve the tags for record fields and format the book
based on those tags or does it require one to re-enter the individual
fields for formatting and online tagg

[2017-03-01 01:14] dsifford commented on #301
@abcjmrees You're welcome. Happy to answer any questions you might have. Feel free to keep asking if any more come up.

To answer your question above: Yes, if you import an exported `.ris` or `.bibtex` file, the bibliography and citations will be automatically formatted according to your chosen citation style.

Directly after importing, the reference list will have all your imported references lis

[2017-03-02 18:21] carot2016 opened #302 "Adding compatibility with Ckeditor"
Hello, a suggestion that Academic Blogger’s toolkit can work with CKeditor plugin in WordPress.

Thank you

[2017-03-03 03:13] dsifford commented on #205
No response after repeated inquiry from altmetric. Possibly revisit this later.

[2017-03-03 03:13] #205 closed

[2017-03-06 17:26] jugdemon commented on #299
I am not sure if you fixed it, or whether I just figured out how to do it. But I noticed that you can click on "Author" and switch it to "Editor". So the issue is resolved for me.

[2017-03-06 17:33] jugdemon opened #303 "Citation not removed upon refresh"
When I remove more than one citation at once and refresh the citation list, I actually only have one citation removed, and all other citations are placed at the beginning of the document. I then have to iteratively remove a single citation, update the reference list and rinse and repeat until all citations are removed.

The reason why I regularly come across this behaviour is that I want to add 2-

[2017-03-07 19:20] dsifford commented on #299
@jugdemon Ah, okay yep that was an existing feature.

I was under the assumption that you were already aware of that so I didn't check.

Glad to hear you got it sorted out.

[2017-03-07 19:20] #299 closed

[2017-03-07 19:23] dsifford commented on #303
I'm not sure I understand exactly what you're describing.

This is an existing feature. Click the "refresh reference list" button.

This is also an existing feature. Uncheck the "insert inline citation" toggle when adding citations.

If you haven't done so already, you might benefit from reading through this: https://github.com/dsifford/academic-bloggers-toolkit/wiki

[2017-03-10 15:30] sdmd89 opened #306 "unexpected error "length of undefined""
Hi there,
I am a new user of your toolkit. An unexpected error just occured and disables me to write blog articles. When opening articles in edition mode, it says :

I have no idea of what's happening since it started with a new article that is correctly published and visible for users, even if I can't edit it anymore. Do you have any clue on what's going on ?

Thanks
Sam

[2017-03-10 15:33] alfalfa31 commented on #306
I'm having a similar issue and i am not a new user of the plugin
![screenshot from 2017-03-10 10-28-58](https://cloud.githubusercontent.com/assets/13860678/23801136/02c9850c-057d-11e7-8c7e-b2284ad41413.png)

[2017-03-10 15:39] alfalfa31 commented on #306
I've verified this issue in Chrome Version 56.0.2924.87 (64-bit) as well as Firefox 52.0 (64-bit) on Ubuntu 16.10.

In the posts where this error occurs there are no citations, and attempting to create a citation yields this result.

![screenshot from 2017-03-10 10-35-27](https://cloud.githubusercontent.com/assets/13860678/23801354/dcf9f7ac-057d-11e7-82f6-28218414241a.png)

[2017-03-10 19:15] dsifford commented on #306
@alfalfa31 Thanks for the report!

Is there any chance you could create me an account on your blog so I can take a look? This specific issue has been haunting me for months. I've never been able to reproduce it myself.

[2017-03-10 19:18] dsifford commented on #306
@sdmd89 Didn't see that there were two of you.

Ditto what I said above. 😄

[2017-03-10 19:31] alfalfa31 commented on #306
It's not mine to do, but I'll see.  It happened, then healed itself.  Once I tried to add a citation to the article that caused the issue, the issue went away.

Next time it happens (assuming that it does) I'll grab the console output to see about helping you out.

This thing is one of the best plugins I've seen, BTW.

[2017-03-10 19:34] jugdemon commented on #303
@dsifford I am actually using the first feature and it only removes the first removed inline citation. If you remove more than one, the rest are reinserted at the beginning of the text.

As for the second, I just missed the toggle. Sometimes it is hard to identify features. Sorry, for missing it.

[2017-03-10 21:50] dsifford commented on #306
@alfalfa31 Sounds good. It's a sneaky little bugger, that's for sure!

And thanks! Glad to hear you like it. 😄

[2017-03-10 21:53] dsifford commented on #303
@jugdemon Hm.. I'm still having a hard time wrapping my head around what you're describing.

Any chance you can provide an example?

Also: Apology not necessary; I'll admit that the plugin is probably lacking in the documentation department. Down the road I'll hopefully get around to making things clearer.

[2017-03-10 23:01] jugdemon commented on #303
I have observed the patterns a few times. Let me get back to you with a step by step example. Though I am going on a trip, so give me a few days.

[2017-03-13 08:01] sdmd89 commented on #306
Thanks for your answers. At least I am not alone.
The issue occured today once again.
Then I clicked okay and I managed to write something... But impossible to quote. When trying to quote this messages pops up:

[2017-03-13 08:14] jugdemon commented on #303
Here is step-by-step instruction.

1. Create new post.
2. Insert 1st Citation (e.g. A, B. (2017). C. Retrieved from E)
3. Insert 2nd Citation (e.g.F, G. (2017). H. Retrieved from J)
4. Delete both inline citations.
5. Expand Reference List menu.
6. Press "Refresh reference list".
7. After the editor reloads only (A, 2017) is gone.

I hope this helps.

[2017-03-13 10:56] jugdemon opened #309 "Text citation feature"
When describing the context of a reference, it is often useful to write sentences like

However, as far as I know with ABT, one can only approximate this with

It would be nice, if the first style was available as well. In latex biber it would be the difference between textcite and autocite.

I tried to find out whether it is an available feature, but to my understanding it is not implemented.

Wo

[2017-03-13 20:07] dsifford commented on #309
Unfortunately, there's no reasonable way to make the processor aware of the proceeding text without adding a significant amount of extra (and probably buggy) code.

Even if it was possible to add that extra code, the current reference implementation of the citation style language processor (which this plugin uses) wouldn't be able to make use of it...

It's a good idea, but just not feasible to im

[2017-03-13 20:07] #309 closed

[2017-03-13 20:08] dsifford commented on #306
@sdmd89 Any chance you can give me access to your blog so I can take a look? Without being able to investigate or reproduce the issue myself, I won't be able to fix.

Thanks in advance.

[2017-03-13 20:12] dsifford commented on #303
@jugdemon Thanks for the clarification.

What about when the citation is listed in more than one location?

So, for example, consider citations "A" and "B".

Delete one of the A's. Does it still happen?

I think this might only happen if your citation is listed only once and you delete the way you are describing.

If the citation is only listed once, you should delete using the delete citation but

[2017-03-14 07:46] sdmd89 commented on #306
Okay @dsifford many thanks to you. How can I give you login information in private ?

[2017-03-14 18:47] dsifford commented on #306
@sdmd89 dereksifford@gmail.com

Also, please provide the steps that I need to take to trigger the error.

Thanks so much.

[2017-03-14 22:47] KirkLowery opened #310 "Conflict with Page Builder plugin"
**ABT Version:** 4.10.0

**PHP Version:** 7.0.15-0ubuntu0.16.04.4

**Theme:** Kadence Virtue Premium version 4.0.4

**Plugin List:**
- Academic Blogger's Toolkit	by Derek P Sifford – 4.10.0
- Akismet Anti-Spam	by Automattic – 3.3
- Black Studio TinyMCE Widget	by Black Studio – 2.3.1
- Cyclone Slider Pro	by Nico Amarilla – 2.10.4
- Kadence Importer	by Kadence Themes – 1.5.2
- Kadence Slider	by Kade

[2017-03-14 23:08] dsifford commented on #310
Hi @KirkLowery -- This is a known issue (See #259 #220)

Unfortunately, there's nothing I can to on my end to fix this. SiteOrigins uses a non-standard editor for their plugins, which won't work with ABT. ABT is deeply integrated with the default TinyMCE editor that is provided by WordPress.

The reason why the loading spinner shows endlessly is because it is waiting for a TinyMCE editor to become

[2017-03-14 23:08] #310 closed

[2017-03-14 23:09] #208 closed

[2017-03-14 23:53] KirkLowery commented on #310
Okay, thanks. I doubt SiteOrigin is going to change their basic design. I use Page Builder a lot. I could live without it. I'll look into other bibtex alternatives.

[2017-03-15 17:04] sdmd89 commented on #306
There we are @dsifford you should receive an email with log in information.
For the problem to occur you only need to create an article. You will see that it becomes impossible to write in the visual mode. Thank you very much for your time.

[2017-03-15 17:17] dsifford commented on #306
@sdmd89 The style that you have set doesn't exist. I think that might be the issue.

The style may have been renamed from when you initially set it. Can you try going into your settings and setting it to `universite-de-montreal-apa.csl` and see if that works?

[2017-03-15 17:18] dsifford commented on #306
@sdmd89 The style will actually be named `Université de Montréal - APA (French - Canada)`

[2017-03-17 07:42] sdmd89 commented on #306
I actually changed the style to APA 6th edition.
I can now write new articles but the problem still occurs when opening an old one. Only one of them fortunately. I think I am just going to copy-paste its content and hope this never happens again. Which is only half satisfying. Anyway thanks for your help @dsifford

[2017-03-17 09:04] LordNouda opened #312 "Custom citation style "PRL" not showing"
I first want to say: great plugin!

I do have a problem, though. I wanted to use a custom citation style "Physical Review Letters", since I come from the physics community, and did everything you describe so well [here](https://github.com/dsifford/academic-bloggers-toolkit/wiki#using-a-custom-citation-style). The URL was successfully converted to a local path an I can also select the new style for

[2017-03-17 15:51] dsifford commented on #312
@LordNouda Thanks! Glad you like it.

Luckily, the issue you're having is actually quite easy to fix.

The style you have selected is a "dependent" style, meaning it's actually the exact same as an "independent" style, but with a different name.

What you'll need to do is just delete the custom style that you added and instead use the preinstalled `American Physics Society` style (it's the exact s

[2017-03-17 15:51] #312 closed

[2017-03-17 15:56] dsifford commented on #306
@sdmd89 I assume that the style that you had previously installed did work at one point in time, correct?

If so, I'll have to add something in that falls back to a common style in the event that other styles get renamed in the future to prevent the errors.

Thanks for the report.

[2017-03-20 09:25] sdmd89 commented on #306
You are almost right @dsifford. In fact I didn't install any style, I used one of the list. And indeed it worked for a (short) while. Until is started bugging.
Many thanks for your help.

[2017-03-20 10:01] LordNouda commented on #312
Works like a charm. Many thanks @dsifford !

[2017-03-20 15:08] rojabella660 opened #313 "Export References?? I need to export the references we inputted into one page to then IMPORT for another page. Is this possible? Or is there a master back end list of all references I can see or export back out?"
**ABT Version:** 4.10.0

**PHP Version:** 5.6

**Theme:**

**Plugin List:**
- Plugin 1
- Plugin 2

**Browser:** Google Chrome (Version: xxx)

**Expected behavior:**

**Actual behavior:**

**Console messages:**
[code]

[2017-03-20 16:44] dsifford commented on #313
@rojabella660 This does not exist currently.

It's been suggested and I'm considering adding it but I'm not sure when I'll be able to get to it.

Sorry for the trouble.

[2017-03-21 03:40] katjag opened #314 "Beaver Builder integration"
Would you consider integrating this plugin as a beaver builder module?

[2017-03-21 14:47] dsifford commented on #314
I'm not familiar with what that is. Can you explain? What would I have to do?

[2017-03-27 02:05] intersub commented on #259
Found that it is possible to use PageBuilder by SiteOrigin with Academic Blogger's Toolkit.  Hack is simply to deactivate some widgets in SiteOrigin Bundle when entering/editing citations with A.B's Toolkit.  Citations persist after widget(s) re-activation, despite not being able to "see the button of the plugin."

1. go to >Plugins>SiteOrigin Widgets
    (/plugins.php?page=so-widgets-plugins)

2.

[2017-03-27 16:08] dsifford commented on #259
Thanks for the clarification @intersub!

[2017-04-11 11:54] B0NNI3 opened #316 "Several Requests: Direct & Indirect Citations with Page Number, Comments, New Reference Type"
Hi there. First of all: Thanks for this awesome plugin. It is really great and works like a charm. But for our scientific journal it would be necessary to add the following features:

**1: Direct & Indirect Citations**
It should be possible to have direct an indirect citations. The difference is, that for indirect citations the footnote would contain something like "vgl." before the actual footnot

[2017-04-11 21:00] dsifford commented on #316
Hi @B0NNI3

Glad the plugin is working well for you.

1. Re: indirect vs direct citations -- Not sure if this is possible. Any ideas/suggestions @fbennett? Re: Page numbers -- That's been requested in the past and is definitely possible, but will require quite a bit of work to do properly. I've been busy with my own academics and day job recently so I haven't had time to get to it just yet, but it

[2017-04-18 18:43] B0NNI3 commented on #316
Thanks for the response and thanks for considering the requests :)
And for the translation support - no worries, you're very welcome.
Cheers!

[2017-04-18 22:10] fbennett commented on #316
Indirect citations would just be entered normally as a pair of cites, and the user would add a "prefix" before the second. In the input to the citation processor, that's set on the same object that carries page numbers. I'm not sure how it's handled in code within ABT currently, but it seems likely that a solution to the page numbers issue would lend itself to addressing indirect citations as well

[2017-04-21 07:05] metallikat36 opened #318 "Adding citation to existing citation block doesn't work."
WP version 4.7.4
ABT 4.10.0

This must have started happening recently at some point, because this used to work. See the screenshot:
![image](https://cloud.githubusercontent.com/assets/17968340/25266487/25497640-2626-11e7-9e7a-7d9da5e02600.png)

[2017-04-21 10:46] Amith211 opened #319 "Changing the inline footnote style"
Hi,
Let me start by thanking the devs for this brilliant plugin; I was genuinely surprised to see that OSCOLA was supported.

I have noticed that the current implementation is not quite in compliance with the standard. OSCOLA uses a superscripted inline footnote style (i.e example.<sup>1</sup>), however,  it currently being displayed as [1].

What's the best method of implementing said style chang

[2017-04-21 15:05] dsifford commented on #319
Hi @Amith211,

(Correct me if I'm wrong @fbennett)

I believe that is a limitation of the citation processor. Currently, the only data that is given to the parser for footnote-type citations is position, so the only way to handle footnotes in general was to aggregate a common style (in this case the `[1]`, `[2]`, `[3]`, ..., `[n]` style).

[2017-04-21 15:06] dsifford commented on #318
Strange.

No idea when I'll have the time to actually look at this, but I'll keep this in mind when the time arises.

Thanks for the report!

[2017-04-21 15:06] #314 closed

[2017-04-21 15:09] dsifford commented on #316
@fbennett Thanks for the clarification. I'll let you know if I have any further questions when I finally get some time to buckle down and knock out some of these issues!

[2017-04-21 15:09] dsifford commented on #313
Closing. Dupe of #272

[2017-04-21 15:09] #313 closed

[2017-05-06 22:12] charitablehumans opened #325 "Enable/Disable Per Post Type"
I'd like the ability to disable the citation meta box from appearing on all custom post types and only enable it for blog posts or other custom post types.

[2017-05-27 12:14] MiteshAtGithub opened #329 "The plugin loads 3 MB Javascript file. Is this a bug? This makes the site very slow."
I think this has to do with Webpack and a javascript file vendor.bundle.js which is big gets loaded. This makes the site very slow.

It gets loaded only first time and chrome caches it so it doesn't get loaded everytime, but still 3 mb is big, especially on mobiles.

Is this a bug or the js file is required to do some stuff on the site (not on admin/plugin side)?

Sorry if this is a basic question

[2017-05-27 15:51] dsifford commented on #329
Thanks for the report.

Yeah, it's bad code splitting for sure. It's on the backburner to be fixed, but I have no estimation on when I can get that done since I have commitments that consume the majority of my time right now.

[2017-05-28 04:47] MiteshAtGithub commented on #329
Thanks for prompt response.

I'll try to see what's happening and will report back if I can solve something.

[2017-06-22 20:58] stewartfoss commented on #319
I think I'm dealing with a similar (maybe the same) issue. I am citing using Chicago Manual of Style. To my understanding of the style, the footnote should be referenced in a superscript, yet it is being inserted in square brackets ie. [1]. I noticed that there are other styles in the plugin that use superscripts and I'd love to know where to make a change so that Chicago uses a superscript.

[2017-06-23 02:36] dsifford commented on #319
cc: @fbennett

[2017-06-23 02:44] fbennett commented on #319
What @dsifford says is correct. The citation stylesheet does not have control over the formatting of footnote markers.

[2017-06-23 15:10] stewartfoss commented on #319
So where does that come from? When I choose American Medical Association from the Wordpress plugin I get superscript footnote markers, but when I choose Chicago Manual of Style I get square brackets. I'm not suggesting it is a CSS thing, but is there a way (short of editing plugin files) to get it to display the other way?

[2017-06-23 15:19] dsifford commented on #319
@stewartfoss The plugin generates the footnotes and citations using [CSL xml](https://github.com/citation-style-language/styles) as its "recipe book". CSL does not specify the format for footnotes like it does for inline citations so in order to avoid potentially clashing with the thousands of other styles, the `[n]` format was chosen. There's no way to change this without changing the internal im

[2017-06-23 15:19] #319 closed

[2017-06-23 15:26] stewartfoss commented on #319
Maybe I'm not understanding what you are saying here, so I appreciate your patience in trying to convey this to me. What I'm hearing is that you opted to have all formats use [1] style for footnotes. Yet, when I select American Medical Association I get superscripts. So where are the instructions for American Medical to use superscripts coming from? You say it is not in the CSL recipe, then the pl

[2017-06-23 15:28] dsifford commented on #319
Sorry for the confusion. The AMA format gets superscripts from the CSL recipe because they are inline citations, not footnotes.

Only footnotes styles are unspecified.

[2017-06-23 15:35] stewartfoss commented on #319
Ok, after hearing your description and looking back at the code generated on my page I think I understand the difference. What I saw at the bottom of the page and thought were footnotes when I selected AMA, are actually a bibliography. The inline citations come in the form of a superscript number and a modal that displays the content of the inline citation? Correct?

[2017-06-23 15:39] dsifford commented on #319
That's correct

[2017-07-17 16:47] dsifford commented on #329
@MiteshAtGithub Sorry for the delay... Getting this squared away this week.

Current build size for the code you mentioned is 91.4kb. 👍

Should be set to go in the next 7 days or so once I knock out some of the other issues.

[2017-07-23 11:20] mredaelli commented on #269
I'd also love to have this feature :+1:

[2017-07-23 11:36] mredaelli opened #335 "Global citation pool"
I often have to quote the same documents in several different posts.

It would be very convenient not to have to recreate the entry in every post. Is it possible to have a global repository of items that can be cited from all pages/posts?
Of course one way to do it is to import the same file in every document, but then again, it's one step more :)

[2017-07-24 17:01] dsifford commented on #335
Hi @mredaelli

This has been asked in the past and it's really one of the only things I'm at a firm "no" on. Reason being: Adding that feature will allow users to use wordpress as a reference manager of sorts, rather than use a true reference manager to manage their academic references/papers (e.g. Zotero, Mendeley, EndNote, etc).

So, in an effort to avoid enabling the less than ideal practice of

[2017-07-24 17:01] #335 closed

[2017-07-24 17:12] mredaelli commented on #335
I see your point, but the problem with that approach is that if I have imported the file in, say, 5 posts, and I find out that there was an error, I have to go back to every post and manually update the entry (reimporting the file doesn't fix the entry, but duplicates it).
This is very inconvenient and unintuitive - the entry is "the same".

[2017-07-24 18:52] dsifford commented on #335
Good point. That does make things a bit more inconvenient.

However, another issue with adding this functionality is that it would be both difficult to implement and hard to maintain. Because of those things, I'm going to stay firm on this for now.

[2017-08-01 17:59] dmayhem opened #337 "ABT Plugin affects other plugin dialogs"
**ABT Version:** 4.10.0

**PHP Version:** 5.6.30

**Theme:** Primer, Twenty Sixteen

**Plugin List:**
- Academic Blogger's Toolkit
- ZipRecipes
- Contact Widgets
- WP Statistics
- WP SpamShield

**Browser:** Google Chrome (Version: xxx) Chrome, Linux (Version: 60.0.3112.78)
Android Chrome (Version: 59.0.3071.115)
Firefox, Linux (Version: 54.0)

**Expected behavior:**
Modal Dialogs should have opaq

[2017-08-01 18:25] dsifford commented on #337
@dmayhem Thanks for the report.

I'm replacing the tinymce dialogs with completely custom dialogs in the next update. That should handle this.

The update should be released relatively shortly (as soon as I'm able to get the test coverage to 100%) -- Currently it's ~85%.

[2017-08-02 01:25] dmayhem commented on #337
Thanks for the response!

[2017-08-03 15:28] afeldstein opened #338 "No toolbar appears"
**ABT Version:** 4.10.0

**PHP Version:** 5.6

**Theme: Fixed**

**Plugin List: all deactivated**
- Plugin 1
- Plugin 2

**Browser:** Firefox (Version: 51.0.1)

**Expected behavior:reference toolbar would appear when creating new post**

**Actual behavior:Box in top right when creating new post labelled 'reference list' under header a circular prompt that keeps changing color but no toolbar appear

[2017-08-03 16:38] dsifford commented on #338
@afeldstein What other plugins do you have installed?

[2017-08-03 18:28] afeldstein commented on #338
Academic Blogger's Toolkit
Deactivate
<http://netorio.us/wp-admin/plugins.php?action=deactivate&plugin=academic-bloggers-toolkit%2Facademic-bloggers-toolkit.php&plugin_status=all&paged=1&s&_wpnonce=3a9332a428>
 | Edit
<http://netorio.us/wp-admin/plugin-editor.php?file=academic-bloggers-toolkit/academic-bloggers-toolkit.php>
 | Plugin Settings
<http://netorio.us/wp-admin/options-general.php?page=ab

[2017-08-03 21:08] dsifford commented on #338
None of those plugins jump out at me, but if I had to guess, it's likely a conflict with either `WPForms Lite` or your theme.

Can you deactivate all your plugins and let me know if the issue still persists?

Also, what theme do you have?

Thanks

[2017-08-03 21:50] afeldstein commented on #338
I am using a theme called “Fixed” from Array.  I deactivated all plugins this morning when I first reported the issue. The issue persisted until about 10 minutes ago when, as I was working on a post, the plugin just started working.  I’ll activate plugins one by one to see if one of them is causing the issue.  Thank you for your quick response!

Any chance you’re working on a sidebar widget?

Andr

[2017-08-03 21:57] dsifford commented on #338
Glad to hear. Let me know if you're able to figure out what the culprit was.

I'm not currently working on a sidebar widget. Can you tell me what it is you'd use something like that for in the context of this plugin?

Thanks

[2017-08-18 06:21] metallikat36 opened #340 "Bug - "An unexpected error occured""
This bug happened a few times just right now. Then it stopped happening. Can no longer reproduce. I would try to edit any post, and I would get the following popup:
![image](https://user-images.githubusercontent.com/17968340/29446559-a31720d0-83a1-11e7-9170-1283c67fca2a.png)

Then the loading wheel would just spin forever:
![image](https://user-images.githubusercontent.com/17968340/29446612-062d77

[2017-08-19 18:22] dsifford commented on #340
Most likely the result of a spotty internet connection. Next release will have better caching so that should take care of this.

[2017-08-19 19:26] metallikat36 commented on #340
Yes, my connection is spotty. That's probably the cause. Thanks.

[2017-08-22 21:28] #338 closed

[2017-08-22 21:34] dsifford commented on #325
@charitablehumans Sorry for the long radio-silence.

I'm going to add the ability to filter the disabled post types so that users can extend the disabled post types in the next major release.

I've already added documentation for this here: https://github.com/dsifford/academic-bloggers-toolkit/wiki/Developer-Hooks#abt_disabled_post_types

You can feel free to add the hook into your `functions.php`

[2017-08-22 21:36] #325 closed

[2017-08-23 01:04] dsifford commented on #306
This will be fixed in the next release.

It was actually a much larger issue than previously expected (about half of the styles in the list were affected by this!). So, in other words, if a user was using a relatively uncommon style, chances are he/she would have experienced this issue!

Thanks for the feedback. I apologise for the delay!

[2017-08-23 01:07] #306 closed

[2017-08-23 14:38] alfalfa31 commented on #306
I'm pretty sure we all appreciate the effort.  Like I said, this plugin is a huge time saver and a wonderful way of lending credibility to articles.

[2017-08-23 19:06] dsifford commented on #318
Sorry for the delay.

This issue had to do with a somewhat recent breaking-change in tinymce. I've fixed the breaking issue which should take care of this. It'll be in the next release.

[2017-08-23 19:11] #318 closed

[2017-08-23 20:55] dsifford commented on #303
Sorry for the delay.

This will be fixed in the next release. I found the problem. 👍

[2017-08-23 20:57] #303 closed

[2017-08-29 17:51] primalsean opened #343 "Remove Footer"
**ABT Version:** 4.10.0

**PHP Version:** 5.6

**Theme:**

**Plugin List:**
- Plugin 1
- Plugin 2

**Browser:** Google Chrome (Version: xxx)

**Expected behavior:**

**Actual behavior:**

**Console messages:**
[code]
Hi,

How would I keep the citation numbers but remove the footer reference? Example: https://www.screencast.com/t/c9BItwvAn

When I remove them by deleting the popup citation doesn't

[2017-08-29 18:28] dsifford commented on #343
No sweat!

Adding the following lines to your child theme's css file (preferred) or to the css overrides box located in the options page should do the trick.

[code]

Let me know if you have any other issues 👍

[2017-08-29 18:28] #343 closed

[2017-09-05 13:03] ezzeldean opened #348 "Probable RTL issue (arabic locale)"
Hello,

I have an issue when add or edit any post and I see this error message:

http://i.imgur.com/l7Lu3WM.jpg

And loading icon still running.

[2017-09-05 16:32] dsifford commented on #348
@ezzeldean What web browser are you running? What steps do you take to trigger the issue?

[2017-09-05 17:04] ezzeldean commented on #348
Just activate the plugin and see this error. And this issue on all browsers.

[2017-09-05 17:46] dsifford commented on #348
It is most likely a conflict with another plugin you have installed.

Can you provide a list of your plugins?

[2017-09-07 17:42] ezzeldean commented on #348
Don't be shocked, I'm really wicked to install all these additions :)

- Archives Calendar Widget
- BAW Login/Logout menu
- Block Bad Queries (BBQ)
- Contact Form 7
- Easy Footnotes
- Email Verification / SMS verification / Mobile Verification
- File Manager
- Google Analytics by BestWebSoft
- Google Captcha (reCAPTCHA) by BestWebSoft
- Hide Admin Bar From Non-admins
- Hide Title
- If Menu
- iThem

[2017-09-07 18:25] dsifford commented on #348
@ezzeldean Hmm... None of those plugins jump out at me as being a known compatibility issue.

Is there any way you can record your screen or something so I can see exactly what is happening?

[2017-09-07 21:13] ezzeldean commented on #348
Sure,

http://i.imgur.com/FteqjIG.png

http://i.imgur.com/MP1eNNP.png

[2017-09-07 21:23] dsifford commented on #348
Ah... You've got an RTL locale.

I haven't really ever dug into RTL locales and checked. I apologize for the lack of support!

This is likely an issue on my end. I'll check into this soon and (hopefully) will include a fix on the next major release (which is due shortly).

Side note: Thanks for also volunteering to contribute translations! Your translations will also appear on the next update. 😄

[2017-09-13 19:17] peterjack63 opened #351 "GoDaddy flags code as malware"
**ABT Version:** 4.10.0

**PHP Version:** 5.3

**Theme:**WordPress 4.8.1 running Twenty Sixteen theme.

**Plugin List:**

**Browser:** Google Chrome (60.0.3112.113 )

**Expected behavior:**

**Actual behavior:**

I received a warning from GoDaddy, my host, that files in academic-bloggers-toolkit are possible malware. The files appear to be unchanged from the current version on wordpress.org. I ass

[2017-09-13 20:41] dsifford commented on #351
@peterjack63 Very strange!

Yep, no malware. All the code is freely visible in this repository so there's no funny business going on.

The only thing that I can possibly think of that might be causing godaddy to think this is that I use www.rollbar.com for fatal error reporting so that I can quickly be aware of and fix bugs. The service uses telemetry to forward error logs. That's all though.

[2017-09-13 20:43] peterjack63 commented on #351
Great, glad to hear. Thank you for the quick response back.

On Wed, Sep 13, 2017 at 1:41 PM, Derek Sifford <notifications@github.com>
wrote:

--
Peter Jackson
310-422-4717

[2017-09-13 20:45] #351 closed

[2017-09-17 02:21] #348 closed

[2017-09-17 02:21] dsifford commented on #348
All fixed. The fix will be available on the next update (should be soon)

[2017-09-17 04:35] ezzeldean commented on #348
Thank you so much and I'm haven't forgotten the translation ;)

[2017-09-30 04:09] ezzeldean commented on #348
Hello Derek,

What's new about the next update? :)

[2017-09-30 15:19] dsifford commented on #348
Still a work in progress. Close though.

I had to wait for an update to one of the project's dependencies. That update finally happened and now all that's left is to fix some breaking changes and then it should be good to go.

I haven't had any other hands on this to test other than my own. Would you be interested in testing a pre-release copy of the plugin? I can build and zip one for you.

Thank

[2017-09-30 15:32] ezzeldean commented on #348
Sure,
I can help you to testing :)

[2017-09-30 16:14] dsifford commented on #348
Thanks. I appreciate your patience.

Give this a shot and let me know how it works for you.

[academic-bloggers-toolkit.zip](https://github.com/dsifford/academic-bloggers-toolkit/files/1346554/academic-bloggers-toolkit.zip)

[2017-09-30 16:26] ezzeldean commented on #348
Thanks. :)

[2017-10-02 03:18] ezzeldean commented on #348
Great, Issue resolved. :)

Now, where can I send you translation files? From translation project or PO file?

[2017-10-02 03:32] dsifford commented on #348
Glad to hear! I added a few new features so if you happen to run into any other unrelated bugs, please let me know.

Probably the most exciting feature is the fact that now the document and bibliography automatically updates when you delete in-text citations. I'm anticipating the most unforeseen bugs to occur there.

If you could just finish them up on POEditor, I'll add them in. Here's the link a

[2017-10-09 18:58] dsifford commented on #348
@ezzeldean Hows the plugin working? Any issues?

[2017-10-09 19:03] ezzeldean commented on #348
Sorry for the delayed response, I was out of the country.

Everything is very excellent, and I've started to resume translation now :)

[2017-10-09 19:04] dsifford commented on #348
Sounds great! No rush, just wanted to make sure everything has been running smoothly.

[2017-10-09 19:05] ezzeldean commented on #348
I really stood by my side and let me if I could donate via PayPal when I get my monthly salary :)

[2017-10-09 19:07] dsifford commented on #348
Donations are welcomed, but certainly not expected. Just happy that you're able to write high-quality academic blog posts 😄

[2017-10-09 19:09] ezzeldean commented on #348
I want to thank you in any way even if it is a symbolic gift :)
Anyway, I will always be with you, of course, if you do not mind <3

[2017-10-11 23:11] #340 closed

[2017-10-11 23:12] dsifford commented on #337
Sorry for the delay... Just published the update that should resolve this. Let me know if you have any other issues.

[2017-10-11 23:12] #337 closed

[2017-10-11 23:12] #329 closed

[2017-10-11 23:14] dsifford commented on #302
@carot2016: Infrastructure is now in place to add support for this.

Let me know if this is still something you're interested in and what version of CKEditor you're using. (Preferred version is CKEditor 5).

[2017-10-11 23:15] dsifford commented on #297
Gonna say no to this change for now since there are a bunch of higher priority things in the pipeline (the highest being Gutenburg support).

When that all dies down, I may reconsider later on.

[2017-10-11 23:15] #297 closed

[2017-10-15 00:13] metallikat36 opened #368 "Reference List collapses permanently if you edit a reference."
I just did the update (4.11.0). Not sure if this bug would have also happened before the update. Here is a video:
https://youtu.be/fc-BODbPC58
I try to open a reference to edit it, and it collapses the reference list permanently. It did not do it with the first several references on the list, but seems to do it with every reference beyond about number 6 on the list.

[2017-10-15 00:20] dsifford commented on #368
That's definitely an uncaught error happening. Thanks for the report.

Can you trigger the issue again and copy over any error logs that happen to show up in the javascript console?

[2017-10-15 00:47] metallikat36 commented on #368
Before triggering the bug:
![image](https://user-images.githubusercontent.com/17968340/31580534-a6682142-b107-11e7-9e9c-cf6e657b639a.png)

After triggering the bug:
![image](https://user-images.githubusercontent.com/17968340/31580537-c5b386d6-b107-11e7-926d-39d19380e05f.png)

[2017-10-15 00:59] dsifford commented on #368
@metallikat36 Thanks. That's extremely helpful.

I'll give this a closer look tomorrow afternoon.

[2017-10-17 00:30] dsifford commented on #368
@metallikat36 Would I be able to log in on your site and look at your issue there. I can't reproduce it on my end.

[2017-10-17 00:52] metallikat36 commented on #368
send me a personal email I can send login info to you.

[2017-10-17 00:53] metallikat36 commented on #368
send me a personal email I can send login info to you.

[2017-10-17 00:56] dsifford commented on #368
dereksifford@gmail.com

[2017-10-17 01:14] dsifford commented on #368
@metallikat36 I'm not sure how, but that particular reference has a number of properties being stored on it that are not supposed to be there. I'm not sure who would be adding these properties, but they are almost certain to be what is causing the issue...

Example of the properties on a valid reference:

[code]

And here's the properties that the affected reference has on it:

[code]

Where did t

[2017-10-17 01:26] dsifford commented on #368
Getting late here for me, but I'll need to send you a development copy of the plugin to install if you wouldn't mind so that I can dig into the non-obfuscated code.

I'll try to get to it tomorrow if time allows.

[2017-10-17 01:37] metallikat36 commented on #368
I just added that reference as is normally done using a DOI number (doi:10.1001/jama.2015.3077).

This error seems to occur with ALL the references beyond about the 6th in that article. So it may be a systematic bug, and not just an issue with that particular reference.

I wonder if refreshing the reference list after the last plugin update could have in anyway caused this bug?

Okay, sure I can i

[2017-10-17 01:39] dsifford commented on #368
Ah, I see... Crossref may have added properties to their API.

Re: Occurring an all after 6th reference.. Hm, very strange indeed. Not sure what could be causing it. Thanks for your patience.

[2017-10-17 09:06] HoussenMoshine opened #369 "Error when providing link since last update"
**ABT Version:** 4.11.0

**PHP Version:** PHP Version 5.5.9-1ubuntu4.22

**Theme:** Hueman

**Plugin List:**
- Plugin 1
- Plugin 2

**Browser:** Google Chrome (Version: xxx)

Insert link

**Actual behavior:** Impossible to insert link via Add References **I**

**Console messages:**

JQMIGRATE: Migrate is installed, version 1.4.1
index.js:30 Deprecated TinyMCE API call: <target>.onMouseUp.add(..)
%

[2017-10-18 03:59] jmvillatoro opened #370 "Editor Disappear after activate"
**ABT Version:** 4.11.2

**PHP Version:** 7.0

**Theme:** Newspaper 8.1

**Plugin List:**
- CM Tooltip Glossary Pro+
- Hummingbird Pro
- SG Optimizer
- tagDiv Composer
- tagDiv Social Counter
- TinyMCE Advanced
- WP Defender Pro
- WP Smush Pro

**Tested with just ABT activated too.**

**Which web browser are you using (including version)**
Opera: 48.0.2685.39 (PGO)
Tested in Firefox, Edge, Vivaldi

[2017-10-18 05:08] HoussenMoshine commented on #369
Hi, thanks for the fast answer. But despite the new update, the error is still here.

[2017-10-18 15:14] dsifford commented on #370
@jmvillatoro Thanks for the report.

Have you disabled all your other plugins and ensured that it is ABT that is causing this issue? By the looks of it, it appears that it might be a plugin conflict because the error you pasted is being thrown by `load-scripts.php` rather than one of ABT's plugin files.

From your list, the plugins that I know should work are TinyMCE Advanced and WP Smush Pro... N

[2017-10-18 15:18] dsifford commented on #369
@HoussenMoshine Have you had a recent change in servers? Or have you upgraded your server recently?

Looks like your server is blocking `POST` request calls to `admin-ajax.php` which is needed for a bunch of internal processes. Can you check with your hosting provider?

Sorry for the trouble. Let me know.

[2017-10-18 15:20] dsifford commented on #369
See here for more details: https://github.com/woocommerce/woocommerce/issues/9838

[2017-10-18 20:41] metallikat36 opened #371 "Adding citation to existing citation block removes references"
I think I may have already reported this, but this example illustrates another facet of the bug.

![image](https://user-images.githubusercontent.com/17968340/31741278-824997ce-b408-11e7-97a6-f8dc76fd3583.png)
Here I am about to add a citation to an existing block.

![image](https://user-images.githubusercontent.com/17968340/31741311-a9b97ee6-b408-11e7-826d-855131e77494.png)
After I inputted a sing

[2017-10-18 20:45] dsifford commented on #371
I'll keep this in mind, but I won't likely be able to diagnose the issue unless it can be reproduced in a minimal, reproducible example.

Too many factors at play with a document containing 100+ references.

[2017-10-18 20:48] metallikat36 opened #372 "Citation block makes adjacent misbehave"
![temp](https://user-images.githubusercontent.com/17968340/31741850-9e415302-b40a-11e7-90fb-4ada16b293c4.png)

In this image I just added references 122,123. The text boxed in red cannot be clicked on. The cursor will not select the clicked location. I can select any other text though.  So for example, if I click on the boxed text, the cursor will just keep on blinking in it's current position, wh

[2017-10-18 20:53] metallikat36 commented on #371
No sweat. I just work around this by removing all references in a citation block, then adding them all back (plus the new reference I wanted to add).

[2017-10-18 21:25] dsifford commented on #372
Likely the issue is that in the HTML side of your editor there's fragmented html that encapsulates where your cursor was and the content of the noneditable block after your citation insertion.

Issues like this are unfortunately impossible to guard against. The solution to it should it happen in the future is to switch the the html editor and make sure the span tag surrounding your citation does n

[2017-10-18 21:25] #372 closed

[2017-10-18 22:31] dsifford commented on #370
@jmvillatoro Scratch that... I think there's a problem with TinyMCE Advanced. Another user reported something similar to this as well and they also have that plugin activated.

[2017-10-18 23:38] jmvillatoro commented on #370
@dsifford Hello, yes I tried with all the plugins disabled, and just with ABT. I will try again, and post the update.

[2017-10-18 23:45] jmvillatoro commented on #370
![opera captura de pantalla_2017-10-18_005516_comparteciencia cl](https://user-images.githubusercontent.com/7306776/31747801-485ef346-b445-11e7-9596-874b44a31c06.png)
![opera captura de pantalla_2017-10-18_204508_comparteciencia cl](https://user-images.githubusercontent.com/7306776/31747803-504074fe-b445-11e7-825e-6b86f56bb045.png)

[2017-10-19 02:39] dsifford commented on #370
Hm.... Very strange.

It looks like you're possibly using SiteGround and their caching? I've had issues specifically with SiteGround's cache in the past serving stale files. Can you try clearing all of the cache on your server and see if that helps?

Sorry for the trouble. I'm confident we can get this sorted out 👍

[2017-10-19 03:31] jmvillatoro commented on #370
I tried this with SG Cache off. When I activate the plugin and try to edit an article or a page, the site gives me error 502 sometimes. After deactivating ABT, I can edit again.

This is happening after one of the last updates of ABT;  I really don't know last version stable on my site (no articles added in a few months, the site is in development).
The strange thing is before the last updates of

[2017-10-19 04:36] HoussenMoshine commented on #369
@dsifford Yes, it seem that something blocking the POST request, but i can't find out for the moment. It's possible to use a older version of the plugin?

[2017-10-19 05:47] dsifford commented on #370
@jmvillatoro Disabling the cache plugin will not clear any cache that already exists. The problem (usually) is that cachepress caches the last version of the plugin and when you load up the page it tries to send files that don't exist anymore after updating.

Could you try manually clearing your site's cache (if you're using siteground, that'll have to be done in cpanel) and then try again just so

[2017-10-19 12:14] jmvillatoro commented on #370
@dsifford Yes, when I say I deactivate the cache, includes clean the cache and deactivated from SG cpanel (the plugin was already disabled). The problem remains after that action.

[2017-10-19 12:24] jmvillatoro commented on #370
Some images with all the plugins off, except ABT, Twentyfifteen theme and cache cleared and deactivated from cpanel, no CloudFlare connection.

![pluginsoff](https://user-images.githubusercontent.com/7306776/31770624-356e8b10-b4af-11e7-861b-df5b08f57a2e.png)
![editorbug](https://user-images.githubusercontent.com/7306776/31770629-37ad4b3c-b4af-11e7-82d0-f58c045ea8e9.png)

[2017-10-19 17:00] dsifford commented on #370
@jmvillatoro Hm... Super strange.

Another user who is also on siteground has the exact same issue and I'm not quite sure what could be going on.

Are you on WordPress Multisite?

[2017-10-19 17:04] dsifford commented on #369
@HoussenMoshine Yes, it's possible as of right now to use past versions of the plugin by downloading it directly from wordpress.org (https://wordpress.org/plugins/academic-bloggers-toolkit/advanced/).

However, as soon as WordPress 5.0 lands, all previous versions of the plugin will stop working since WordPress is switching out TinyMCE for their new Gutenberg Editor (this current version will also

[2017-10-19 17:13] dsifford commented on #370
Update: Just checked with the other siteground user that was having a similar problem as you and they said that clearing the cache also did not work initially, but hours later the plugin began working without any other action.

So their problem was indeed cache. Let me know if yours resolves similarly. If not, we'll keep troubleshooting.

[2017-10-19 17:50] jmvillatoro commented on #370
Ok, will wait a few hours more, the cache was cleaned and the cache plugin was deactivated. When I check again I will post the update (ABT active).

[2017-10-20 02:29] jmvillatoro commented on #370
Nothing, same thing.

[2017-10-20 03:58] dsifford commented on #370
Any chance you can create me a temporary login on your site with Author privileges so I can check it out?

[2017-10-20 13:21] jmvillatoro commented on #370
@dsifford Sure, tell me where I can send you the login.

[2017-10-20 13:53] dsifford commented on #370
dereksifford@gmail.con

[2017-10-20 14:01] jmvillatoro commented on #370
Details sent

[2017-10-20 15:08] dsifford commented on #370
@jmvillatoro The plugin scripts aren't being loaded at all on the post edit page of your blog. The only thing that I can think would cause this to happen is stale cache (particularly from siteground).

Without the scripts being loaded the plugin cannot work.

I'm 99% certain this is exclusively a siteground cache issue since I've had similar issues in the past. The solution would be to contact sit

[2017-10-20 15:10] jmvillatoro commented on #370
@dsifford Ok, thank you very much for your time and help. I will contact SG support and see if they can manually erase cache files.

[2017-10-20 15:25] jmvillatoro commented on #370
Question, in which version do you add the Headway Tooltip?

[2017-10-20 15:54] dsifford commented on #370
Headway was added in version 4.7.2 (~1 year ago)

[2017-10-20 16:48] jmvillatoro commented on #370
@dsifford I got an answer from SG :
"I have been able to replicate it, but it appears that a plugin is conflicting with it causing JavaScript errors, there is nothing on our end caching it or preventing it from working.
You can see the errors in your browsers error console:
https://prnt.sc/gzv536
I suggest contacting the plugin developer again or hiring a professional developer that could assist y

[2017-10-20 16:56] dsifford commented on #370
@jmvillatoro The siteground rep is not correct. That error that he/she is speaking of is unrelated to this plugin. Additionally, the source of the error itself is encapsulated in a way that does not interfere with the execution of other plugins.

From experience speaking with SiteGround reps, I will say that the majority are not proficient in understanding how the web actually works.

The issue is

[2017-10-20 17:36] jmvillatoro commented on #370
@dsifford I ask to escalate the report to advance support, hope they can help me with this.
I clone my site in one of my other hosting accounts (inmotionhosting) and the ABT plugin works like a charm there, so as you say, this is an SG problem with this particular plugin. I don't know in which version this issue starts.

[2017-10-20 18:09] dsifford commented on #370
@jmvillatoro If the problem is isolated as a Siteground cache problem, then you unfortunately won't be able to just simply roll back to a previous working version. Your cache is going to be stuck permanently on a broken one until SG can get it cleared out.

Crossing my fingers for you that SG can get it resolved. Like I said before, I use w3-total-cache on my site which works well. Also, another g

[2017-10-20 18:59] jmvillatoro commented on #370
@dsifford Well after many tickets, the Advanced Technical support from SG fix the problem, here is the workaround in case some other user of ABT is hosted there.

"I have managed to fix the issue by altering the SubstituteMaxLineLength and LimitRequestBody variables of the web-server. The rules have been added into the ~/public_html/xxx/.htaccess file.
Please, clear your browser's cache and verify

[2017-10-20 19:40] dsifford commented on #370
@jmvillatoro 🎉 🎉 🎉 That's great news!

Thanks for chiming back with the solution. This will be helpful I'm sure to a lot of others.

Do you happen to know what those variables were set at to begin with on your server?

[2017-10-22 01:46] metallikat36 opened #373 "Plugin totally messes up on new posts now."
See the video:
https://youtu.be/iRcyxsuRIN4
Not sure if this started with the last update or not. Weird.

The references are overwriting themselves, appearing on the uncited list, and doing other weird things. Also got an error: "Cannot read property "id" of undefined".

Reminder, you have my site login, if you want a place to reproduce.

No rush. Just happy you are always so willing to develop th

[2017-10-22 06:13] dsifford commented on #373
Sorry to hear that!

If you are able to reliably reproduce the issue, please write down the exact steps you take to trigger the error and I'll look into it.

[2017-10-22 06:15] metallikat36 commented on #373
The steps are exactly what is in the video. Just make a new page or post and try to do anything at all with the plugin. It won't work adding beyond 1 reference.

[2017-10-22 17:05] dsifford commented on #373
I'm able to reproduce. Gonna work on simplifying how citations are checked for duplicates by using non-cryptographic hashes rather than complex logic. I think that might help.

Also working on fixing issues with IE11. Next update should be out by next weekend if time is on my side.

[2017-10-23 00:20] dsifford commented on #373
@metallikat36 I think I got it sorted out. Spent most of the day working on perf improvements. Would you be interested in testing it out if I compile a copy for you prior to pushing the update?

[2017-10-23 01:37] metallikat36 commented on #373
Sure, I can test it. I just deactivate and uninstall the current version, then upload the new version, right?

[2017-10-23 01:52] dsifford commented on #373
Correct. (Keeping in mind that you'll lose any options you set in the options page if you physically uninstall the plugin... Deleting it manually won't trigger uninstall hooks).

You might need to make sure your cache is cleared since I didn't change the version number in this build.

Thanks for the help.

[academic-bloggers-toolkit-prerelease.zip](https://github.com/dsifford/academic-bloggers-too

[2017-10-23 05:15] metallikat36 commented on #373
Okay, I will test this tomorrow.

[2017-10-23 13:51] jmvillatoro commented on #370
@dsifford Sadly I have no clue where he changes those parameters, is a managed WP account, so my access is limited. I only see the lines in my htaccess file.
`SubstituteMaxLineLength 10m
LimitRequestBody 10240000`

[2017-10-24 02:07] metallikat36 commented on #373
Doesn't work. The Reference list has no options when I make a new post:
![image](https://user-images.githubusercontent.com/17968340/31921644-4ee5470e-b825-11e7-9628-bcf0117830ca.png)

[2017-10-24 02:15] dsifford commented on #373
@metallikat36 That's likely cache. I didn't change the version number so you need to make sure you manually clear your server cache.

Did you do that?

[2017-10-24 03:03] metallikat36 commented on #373
Clearing just my server cache wasn't enough. I cleared by browser cache and cookies, and disabled CloudFlare, and then the plugin options showed up as normal.

But, still buggy. The following video is a little long (4 minutes), but it gives step-by-step things you can try to reproduce, with PMID numbers. Somethings worked, some things didn't. This will need another round of testing for sure.
https

[2017-10-24 05:32] dsifford commented on #373
Thanks for the vid. Very helpful.

Most of those things are broken downstream in TinyMCE. I'll see if I can maybe improve on my end, but more than likely it'll need to be fixed by the tinymce people.

The PMC is definitely ABT domain though so I'll get that sorted out.

[2017-10-25 04:32] metallikat36 commented on #373
Maybe I haven't been paying enough attention, but is the tinymce stuff you are referring to something I should expect to be fixed in a future update of wordpress or something? Or is there someone that I need to be contacting?

[2017-10-25 05:24] dsifford commented on #373
Not worth the effort. WordPress is currently at version 4.7. When WordPress hits version 5.0 (expected early in 2018) they are switching from TinyMCE to their [Gutenberg editor](https://github.com/WordPress/gutenberg/). And notably, when that happens, this plugin will be bricked completely until I can see if I can figure out how to make it work.

I've prepared as much as I can for the Gutenberg sw

[2017-10-25 15:53] dsifford commented on #373
Looking at this now...

To comment directly in order of the issues you list...

1. TinyMCE issue, confirmed.
2. TinyMCE issue, confirmed.
3. ABT issue. I'll fix.
3. "Around 2:30 tried selecting a block" -- It should still work even though the block doesn't appear surrounded. (Again, TinyMCE issue)

In summary: The only fixable issue in that video is the PMC thing. All others are annoyances that we

[2017-10-25 16:02] #373 closed

[2017-10-25 16:12] dsifford commented on #373
@metallikat36 Might be worth bringing up issue 1 with tinymce now that I look at it. That's sort of a big deal.

I'll see if I can chat with them about it when I get time. The issue is that their "selection" api is broken and doesn't produce the correct `Range`.

[2017-10-30 12:54] carot2016 commented on #302
Hello, for sure we are interested but CKEditor for WordPress is only in Version 4.5.3.3.
Is version 5 compatible with WordPress?

[2017-10-30 16:39] dsifford commented on #302
Assuming you're talking about [this plugin](https://wordpress.org/plugins/ckeditor-for-wordpress/), it looks like the CKEditor team stopped maintaining the plugin over 2 years ago. I'd have a tough time working with that plugin because of how dated it is.

Additionally, it looks like the plugin itself has a [few listed vulnerabilities](https://wpvulndb.com/search?utf8=%E2%9C%93&text=ckeditor) whic

[2017-10-30 17:45] dsifford commented on #302
That all said, I'll look into it when I get time. If the editor's API is the same between versions then it might still be feasible.

[2017-11-01 15:04] necxelos opened #374 "Expanding list of citation styles crashes the Firefox"
Hello

I'm the psychology researcher that tries to create his own webpage/blog. I have some basic web-design knowledge but mostly I rely on reverse-engineering snippets instead of writing my own code. I use Wordpress with probably the most popular Theme out there - X Theme from Themeco. I also use Firefox as my first choice for browsing the internet and working on the site.

Enough about me. The i

[2017-11-01 15:22] dsifford commented on #374
Thanks for the report. What version of firefox is this happening in?

[2017-11-01 15:28] necxelos commented on #374
56.0.2 (64 bit) (newest version)

P.S. A sidenote: I failed to find **APA (American Psychology Association)** in Your styles list which is the most used Psychology styling in this science with some usage in other social sciences too. I can easily reproduce it using custom style though, so it's not as big of an issue as the crash :)

[2017-11-01 15:33] dsifford commented on #374
Hmm... I'll have to check it out and see if I can reproduce. I'll try to take a look at it this weekend.

Also, APA is definitely there. If you're using the search feature on the reference list itself, the fuzzy matching is a bit wonky. Try typing exactly "American Psychological Association" to see if that works... Typing "Psychology" rather than "Psychological" likely causes it to not match.

[2017-11-01 15:45] necxelos commented on #374
My bad.
Indeed APA is there (all editions in fact).

I assumed it's alphabetically sorted, but things starting with "American" aren't. American Psychologist is alone between Americal Political Science Review and American Review of Canadian Studies, APA is between AORN and APCBEE and everything else is in proper alphabetical order elsewhere :)

Am I correct that it's due to the fact that "hidden/co

[2017-11-01 15:48] dsifford commented on #374
No problem. Yeah, ordering gets shuffled based on match rank on the reference list search box. A fully alphabetical list can be found on the options page.

[2017-11-01 16:17] necxelos commented on #374
If You mean:
_Backend > Settings > Academic Blogger's Toolkit > Default Citation Style_
...than it's not sorted properly there either. I was talking about this part in my previous post (I just installed and launched Chrome and did it there for the sake of testing).

[2017-11-01 17:00] dsifford commented on #374
Ah, I see.. It's likely sorted by the unique ID, rather than by the label... That's a mistake, I'll adjust that too...

FYI: All the styles are pulled directly from here: https://github.com/citation-style-language/styles -- The filenames you see listed in that repo are (likely) the sort order of the styles in the select box.

[2017-11-02 16:31] necxelos opened #375 "Questions outside the scope covered in Wiki"
I have a few questions regarding functionalities of ABT. Hopefully this is the right place to ask them, as You stated in wordpress plugin page that no questions will be answered there.

a) Is there a way to have bibliography include uncited items? Or a way to have separate un-cited bibliography?
b) Is there a way to add header title to static list?

Both of those are usefull in case of popular sci

[2017-11-02 17:31] dsifford commented on #375
No problem. Questions are fine here.

a.) You would need to create and insert static publication list for that (as I think you've already found out given your next questions).

b.) There is not a way to give the static lists a permanent header, but that's by design. The static lists are meant to be flexible. So you'd need to just add the header using the WordPress editor.

c.) Not sure I fully und

[2017-11-02 21:23] necxelos commented on #375
c) Yes I want to permanently disable tooltips.
d) How would I add title to the bibliography using just CSS?

[2017-11-03 16:52] dsifford commented on #375
c.) You should be able to do that by adding `pointer-events: none;` to the `abt-citation` class selector in css.

d.) https://codepen.io/dsifford/pen/KyzweK?editors=0100

[2017-11-06 17:40] necxelos opened #376 "ABT wrongly forces prompt when leaving post edition!"
For some strange reason whenever I edit a post with citations in it and save it (update) afterwards, leaving the post edit page still shows me the prompt "your data might not have been saved, please confirm that you want to leave". This happens even if I just enter the edit page and try to leave it without having done anything at all.

It's only the case with ABT though, as posts with no citations

[2017-11-06 19:11] dsifford commented on #376
No bottleneck. This is a necessary step for the browser because even though you do not make any changes to the editor yourself, each time the edit page is loaded the plugin has to run through the editor and capture all citations to rebuild the state (even if none exist).

During the process of this, the editor is "dirtied" because a bookmark is set and and removed from it during this process. Beca

[2017-11-06 19:11] #376 closed

[2017-11-09 03:05] metallikat36 opened #378 "Size limit issue"
Hi Derek. I know I've bugged you previously about my posts giving me "Request Entity Too Large" when I try to update them. My server has a Post_max_size of 128MB. Can you give me some kind of idea how much of that space could be used by having citations? I definitely notice that citations are a major factor in when my post finally gets so big as to break (and a post of exclusively citations with n

[2017-11-09 19:57] dsifford commented on #378
This depends on a few factors. Probably the biggest factor is the total number of times each citation is used in the document.

**To give a quick rundown:**

(note: let `n` = total number of individual references)

Citation data is stored as JSON as post meta. This (among a couple of other things) has two top-level fields that contain citation metadata: One stores all citations individually by its

[2017-11-09 19:57] #378 closed

[2017-11-09 21:07] metallikat36 commented on #378
FYI, I read that there will be a plugin that disables gutenberg.

[2017-11-13 19:23] dsifford commented on #375
Haven't heard back from you. Assuming my comment above resolved your question.

Closing this issue. Feel free to reopen if you're still confused about something.

[2017-11-13 19:23] #375 closed

[2017-11-14 02:15] metallikat36 commented on #378
Would something like the following be possible? Instead of having all the citation data stored in a post, maybe instead just have a call to some function stored which would hopefully take up less data? Then when you actually view the post in real time, those functions are called and then they pull the info from pubmed or wherever? In other words, some kind of lazy-loading capability that won't pul

[2017-11-14 02:38] dsifford commented on #378
Good thoughts, but unfortunately those wouldn't solve the issue.

Data stored _in_ the actual post is not much more than what you see when you're typing it. Tooltip data, for example, is just a reference to the corresponding item in the bibliography. When a post is loaded for a user, the post is quickly iterated and the tooltip content for each citation is generated during runtime by copying the h

[2017-11-20 00:19] dmayhem opened #384 "ris import not working"
**ABT Version:** 4.11.3

**PHP Version:** 5.4.16

**Theme:** Primer

**Plugin List:**
- Academic Bloggers Toolkit
- Contact Widgets
- WP Statistics
- WP-Spamshield
- Zip Recipes

**Browser:** Google Chrome Version 62.0.3202.74

**Expected behavior:**
import reference list

**Actual behavior:**
Error!
The selected file could not be processed

Note that this happens with two ris files that I have pr

[2017-11-20 17:16] dsifford commented on #384
@dmayhem Thanks for the report.

 Can you please open an issue and also share the file in question here: https://github.com/dsifford/astrocite/

Thanks in advance

[2017-11-20 17:16] #384 closed

[2017-11-23 10:48] fortarrigo opened #385 "Surname and name are both mandatory"
Hi.
I need to insert a citation of the philosopher Aristotele but name and surname are both mandatory fields. How can I accomplish my task?
Thanks in advance

[2017-11-23 11:21] fortarrigo opened #386 "Requests on static publication lists"
Hi. I have two requests concerning static publication lists.

I use Academic bloggers toolkit not only to add references in articles and page, but for my Bibliography section.

Request 1
I have a long bibliography. Would be beautiful to select all references clicking from the first to the last (i.e. with Shift click).

Request 2
Now in static publication lists there is the number before every refe

[2017-11-24 22:35] dsifford commented on #386
Thanks for the feedback.

Re: Request 1 -- Seems reasonable. I'll look into it.

Re: Request 2 -- Should already be possible if you select a different, unnumbered citation style prior to inserting your list.

Re: Request 3 -- This should also be possible already if you select a citation style that sorts bibliographies alphabetically (80% sure here. I'll have to double check when I get some time).

[2017-11-24 22:36] dsifford commented on #385
Related to #215

[2017-11-24 22:36] #385 closed

[2017-11-30 13:57] gconyers opened #387 "Plugin not working for an editor status, but fine for administrator status"
**ABT Version:** 4.11.3

**PHP Version:** 5.5.38

**Theme:**: Make Plus

**Plugin List:**
- Academic Blogger's Toolkit
- Contact Form 7
- Disqus Comment System
- Edit Flow
- Exec-PHP
- Google Analytics for WordPress by MonsterInsights
- Jetpack by WordPress.com
- Make Plus
- Participants Database
- PopupAlly
- Re-add text underline and justify
- Sensei (and all the plugins to make it fully functio

[2017-11-30 13:58] gconyers commented on #387
I should also note that when I go into the plugin the PHP in question is enabled in the settings. At least as an administrator.

[2017-11-30 15:22] glorious1 opened #388 "Edition field: "Please match the requested format""
**ABT Version:** 4.11.3

**PHP Version:** 5.6

**Theme:** GeneratePress

**Plugin List:**
- Loginizer

**Browser:** Firefox 57.0

**Expected behavior:** When entering a book reference manually, in the edition field I type 2nd.  It is accepted.

**Actual behavior:** Instead, when I click Confirm, a popup at that field says "Please match the requested format".  I don't see any requested format, nor

[2017-11-30 18:12] glorious1 opened #389 "ris import not working - required fields"
**ABT Version:** 4.11.3

**PHP Version:** 5.6

**Theme:** GeneratePress

**Plugin List:**
- Loginalyzer

**Browser:** Firefox 57

**Expected behavior:** Export RIS file from EndNote, then import into ABT.

**Actual behavior:** Error when selecting file: "Error!
The selected file could not be processed".  I will attach the RIS file (changed extension to txt), maybe you'll see what's wrong with it.

[2017-11-30 18:19] dsifford commented on #389
Thanks for the report.

Issue is likely with https://github.com/dsifford/astrocite , but since that's also one of my projects, we can keep it here.

Will check on this later on. The file you attached appears to be a valid RIS file from just scanning over visually, so not sure exactly what could be causing this.

[2017-11-30 18:19] dsifford commented on #389
Related: #384

[2017-11-30 18:21] dsifford commented on #388
There should be placeholder text showing the format in that field. If not, I'll look into adding that.

To clarify: The field should be a digit only. So, in your case, it should be `2` not `2nd`.

[2017-11-30 18:24] dsifford commented on #387
Hm.. interesting. Thanks for the report.

I'll have to dig a bit deeper into this to figure it out. I'll do my best to get to this when time allows.

[2017-11-30 18:24] glorious1 commented on #389
As a test, I went to PUBMED and downloaded a file with two random references.  It came as type .nbib, but it looks like a ris file.  (Maybe I need to get PUBMED to send it some other way?)  I changed the type to .ris and tried to import - got same error.  PUBMED file attached.
[citations.txt](https://github.com/dsifford/academic-bloggers-toolkit/files/1518998/citations.txt)

Thanks!

[2017-11-30 18:32] dsifford commented on #389
Yeah, although `nbib` and `ris` appear to be of an identical format, the fields that they use to represent data are not the same. Thus, they are not interchangeable.

The best way to get references from PubMed is to just paste a list of PMIDs into the  "Add Reference" dialog.

So, for example...

If you wanted to cite the references from your `citations.txt` file, paste this: `29053945, 28782269`

[2017-11-30 18:37] gconyers commented on #387
Let me know if there's anything we can do to help on this end.

Until then,
G.

<http://insanitek.net/>

Grace Conyers Founder and head geek
Email me: gconyers@insanitek.net
Call me: 317.759.1284

[image: Twitter] <https://twitter.com/Insanitek> [image: Facebook]
<https://facebook.com/InsanitekRD> [image: LinkedIn]
<https://linkedin.com/company-beta/3315307/> [image: Google+]
<https://plus.google.

[2017-11-30 20:16] glorious1 commented on #389
Thanks, but I wasn't actually trying to get references from PubMed, I was just trying to get a known valid RIS file to test importing.  The wiki mentions PubMed as a source of RIS files.

[2017-11-30 20:25] dsifford commented on #389
Whoops! That's an error. Sorry for the confusion.

See here for a few known valid RIS files: https://github.com/dsifford/astrocite/tree/master/packages/astrocite-ris/src/__tests__/cases

[2017-11-30 21:01] glorious1 commented on #389
Hmm, couldn't figure out how to download one of those files, but I copied the contents of long.ris and pasted it into a new text document, saved it with encoding utf-8, and got the same error when I tried to import into ABT.

Then I went to a [different site](https://gist.github.com/adam3smith/4105816) and did the same with sample.ris, and it worked.  I have no idea what the controlling difference

[2017-12-01 00:03] dsifford commented on #389
@glorious1 Windows computer?

If so, it's likely an issue with windows line endings. Windows ends lines with both a [carriage return](https://www.fileformat.info/info/unicode/char/000d/index.htm) **and** [line feed](http://www.fileformat.info/info/unicode/char/000A/index.htm) character (i.e. `<CRLF>`), whereas all other systems end their lines with a single line feed character only (i.e. `<LF>`).

[2017-12-01 00:20] glorious1 commented on #389
I took the two files home and looked at them on my Mac with Textwrangler.  You're right, the one that doesn't work has Windows CRLF, but it also has encoding "UTF-8 with BOM" (no idea what that is).  The one that works has just UTF-8.  When I  changed the encoding to UTF-8, it worked!

That's leaving the Windows line ending, so apparently either kind of line ending works.  Sorry to take your time.

[2017-12-01 05:29] dsifford commented on #389
Aha.. Thanks for reporting back with that info. Hadn't considered the BOM character. That's probably the ticket for sure.. I'll investigate as soon as I get some free time.

Thanks for your kindness and patience. Glad you're enjoying the plugin. Thanks for taking the time to submit a review as well. I greatly appreciate it!

[2017-12-01 13:00] glorious1 commented on #389
Sigh . . .  sorry to add to the confusion.  I had the two files confused and imported the wrong one.  You were right the first time — the CRLF is what prevents import.  The presence of the BOM has no effect.

I think I once found a way to convert CRLF to LF at work; just have to remember what that was . . .
Jim

[2017-12-01 18:02] dsifford commented on #389
Got it. Thanks for clarifying.

Re: How to convert from CRLF to LF -- most text editors nowadays have that capability. (Atom, Visual Studio Code, Notepad++, etc)

[2017-12-01 18:14] heritiera opened #390 "can't add or insert references since last wordpress and ABT upgrades"
**Wordpress version** 4.9.1
**OS version** MacBook Pro, High Sierra 10.13.1
**ABT Version:** 4.11.3

**PHP Version:** 5.6

**Theme:**MH magazine lite child

**Plugin List:**
- ABT
- Admin columns
- Askimet Anti-Spam
- CM tooltip glossary
- Jetpack by Wordpress.com
- Official stat counter plugin
- PODS - (can not disable and still see the page I am editing)
- Tabby responsive tabs
- Wordpress Post

[2017-12-01 18:16] dsifford commented on #390
Thanks for the report.

Can you confirm that this happens on brand new posts/pages? Or is this only happening on existing posts/pages?

[2017-12-01 18:33] heritiera commented on #390
Very good question.  It looks like it might only be on one POD… I added a new page, a new post and a new POD item and they all seem to work.

[2017-12-01 19:00] dsifford commented on #390
I'm not familar with what a "POD" is. Can you clarify?

[2017-12-01 19:16] heritiera commented on #390
Well I may be able to, but given my last response, perhaps I should not waste any more of your time until I try reverting to a previous draft of the page and trying some more things. Clearly it is not a version of anything that is messing up and may be page specific.

More if I can't figure it out ( or if it seems interesting). Thanks
jc

[2017-12-02 21:09] glorious1 commented on #389
Just FYI, I noticed one other, possibly related thing with the RIS files.  The online data sources (like Web of Science) often have fields that have mutliple lines in them (like author's addresses, or keywords that are each on a separate line).  When EndNote exports such references as a RIS file, it cannot be imported by ABT.  If I edit the file so there is only one line per field (even if it wrap

[2017-12-03 00:23] dsifford commented on #389
Good to know, thanks. I'll try to look into both issues soon.

[2017-12-05 19:25] glorious1 opened #391 "My "Citation link style" is stuck"
**ABT Version:** 4.11.3

**PHP Version:** 5.6

**Theme:** GeneratePress

**Plugin List:**
- Loginizer

**Browser:** Firefox 57

**Expected behavior:** When I change "Citation Link Style" in Settings, see it change on pages (at least after refreshing the bibliography).

**Actual behavior:**  It did work fine until a few days ago,  Now for some reason "Citation Link Style" is stuck on "whenever poss

[2017-12-05 19:33] dsifford commented on #391
Might be a bug. Not totally sure. I'll give this a look soon when I get some free time.

Thanks for the report 👍

[2017-12-09 19:58] dsifford opened #392 "Adding reference from pubmed dialog broken"
Adds reference from pubmed using the unique generated ID rather than the PMID.

[2017-12-09 20:13] dsifford commented on #391
Finally got some time to look at this.

Not sure how this would have worked ever in the past. It was set to cache and persist whatever the link style was set when the post was created. I removed that setting from cache so now the updated settings should load properly.

Fix will be on the next release.

[2017-12-09 20:28] dsifford commented on #390
Haven't heard back on this. Closing this issue for now.

Reopen if this is still causing you trouble.

[2017-12-09 20:28] #390 closed

[2017-12-09 20:29] #371 closed

[2017-12-09 20:41] dsifford commented on #374
@necxelos Circling back to this issue finally. Is this crash still affecting you? Can you confirm that the crash occurs simply when toggling the list of citation styles in the reference list?

[2017-12-09 22:58] glorious1 commented on #391
Great, thanks.  Maybe nobody ever tried to change citation link style after creating a page.

[2017-12-09 23:04] dsifford commented on #369
Possibly related to #387

[2017-12-09 23:27] dsifford commented on #369
@HoussenMoshine You were correct. This is an error resultant from a typo that was made during the last update. Found the issue.

Thanks for your patience. I'll have a fix out for this soon.

[2017-12-09 23:29] dsifford commented on #387
@gconyers Looks like this is indeed a bug. There was a typo made at some point during the last update that I didn't catch.

What's strange is that I'm not sure how you're able to make it work for yourself? This should be broken for everybody, including administrators.

Regardless, thanks for your patience. I'll have a fix out for this shortly.

[2017-12-10 03:50] HoussenMoshine commented on #369
Thanks for following the issue and fixing it. I will check out in the next update

[2017-12-10 20:16] heritiera commented on #390
Thanks. Closing it is ok. But FYI, the problem seems to arise whenever I cut and paste sections including a reference.  When I preview changes, the refs pop up as expected up to the point of the paste (I think that is the cut point).  After that (anywhere below in the document), the existence of a link is indicated by the cursor, but nothing pops up.  The only solution I have found is to delete an

[2017-12-10 23:51] dsifford commented on #390
@heritiera I see.

Cutting and pasting is a definite no-no. Reason being: You're cutting and pasting more than just a citation. Each citation has an individually assigned citation ID that is used by the reference list in the background to track the location and count of all citations in the document. If you duplicate or move a citation, you'd effectively create a duplicate identifier or remove the

[2017-12-11 00:24] heritiera commented on #390
Thanks.  Looks like I came to the right conclusion.  I also did notice the xfer of the ref to the uncited list when the only cite was deleted.
Thanks for your help, your explanation and the plugin.  Best wishes
jc

[2017-12-11 01:04] gconyers commented on #387
No worries! Though, I'm not sure how it works for me either. I'm glad I
could help, though. You made one of the most useful plugins in my opinion.

<http://insanitek.net/>

Grace Conyers Founder and head geek
Email me: gconyers@insanitek.net
Call me: 317.759.1284

[image: Twitter] <https://twitter.com/Insanitek> [image: Facebook]
<https://facebook.com/InsanitekRD> [image: LinkedIn]
<https://linked

[2017-12-13 00:33] #388 closed

[2017-12-13 00:33] #391 closed

[2017-12-13 00:33] #392 closed

[2017-12-13 00:34] #369 closed

[2017-12-13 00:34] #386 closed

[2017-12-13 00:34] #387 closed

[2017-12-13 00:34] #389 closed

[2017-12-13 00:35] #370 closed

[2017-12-13 00:38] dsifford commented on #386
@fortarrigo Added shift-click functionality in `v4.12.0`. Thanks for the feedback.

[2017-12-14 06:36] Antimatzist commented on #215
Just want to leave a note that this would be a really awesome feat. E.g., if you want to cite software, you now have to find a way to work around the "surname and name are both mandatory" feature which leads to very confusing citations (e.g. "Super Mario World. Inc., Nintendo [...]" as a silly example. You have to think about it while importing, as ABT doesn't allow manual editing in this cases; o

[2017-12-14 21:18] dsifford commented on #215
It's definitely on the todo list. Thanks for the reminder 👍

[2017-12-14 21:18] dsifford commented on #368
@metallikat36 Is this still occurring for you? Can't reproduce this anymore (not sure if I ever was able to to be honest)

[2017-12-14 22:41] metallikat36 commented on #368
I just checked, and indeed the exact bug I posted still occurs when I edit that specific article. It does not seem to happen on other articles (though I did not check extensively). From reference #6 and after, editing most of the references (but not all) triggers the bug. Why some references trigger it and other's don't I have no clue.

I doubt I would be able to reproduce this from scratch. Maybe

[2017-12-14 22:56] dsifford commented on #368
Ah, dang. Yeah, please let me know if you're able to trigger elsewhere.

Closing this for now. Reopen when needed 👍

[2017-12-15 01:56] dsifford commented on #215
@Antimatzist Let me know what you think of this...

![image](https://user-images.githubusercontent.com/5240018/34023137-3b27cf24-e111-11e7-8e22-cc13896b0117.png)

Added a new button next to the remove button that toggles between the "surname, given name" form and the "literal name" form.

[2017-12-15 14:10] glorious1 opened #394 "Tooltips not working for me after ABT 4.12.0 update"
**ABT Version:** 4.12.0

**PHP Version:** 5.6

**Theme:** GeneratePress

**Plugin List:**
- none after deactivating others to test

**Browser:** Firefox 57.0.1

**Expected behavior:** Tooltips pop up when clicking in-text citation.

**Actual behavior:** Nothing happens when hovering or clicking except cursor does turn into finger (recognizing link).

**Console messages:**
ReferenceError: jQuery is

[2017-12-15 16:50] glorious1 opened #395 "What RIS fields to use so that a [Source] link appears?"
Not an issue, just a question.  I have some references imported via RIS file appearing in the bibliography with a [Source] link, some with a DOI link that shows spelled out, and some that have the DOI link and the [Source] link, even when they are the same.  And some show no link at all.

I'm trying to get them to be consistent.  It seem the UR field goes into [Source] link (which doesn't appear i

[2017-12-16 17:16] dsifford commented on #395
Hm.. Might be a bug somewhere. What you're describing is not the intended effect.

You're correct that `UR` is generally the field you'll want for URLs.

Can you perhaps share the file that is giving you these issues so I can investigate?

Thanks

[2017-12-16 17:16] dsifford commented on #394
Very strange... jQuery is a built-in dependency of WordPress. Not sure why this would be happening.

Is this still occurring for you?

[2017-12-16 23:37] glorious1 commented on #395
Sure, I attached a test1.ris (had to change to .txt).  I shaved it down to 6 refs for examples, and have been testing it.  My ideal is, when there is only a DOI source, to put it in the [Source] link, not as a spelled out doi.  If there is also a different link to the pdf somewhere, then I hope to show both.

Bethers has a DO entry and a DOI hyperlink in the UR field.  The DOI gets used to make a

[2017-12-17 00:02] glorious1 commented on #394
Yes, unfortunately.  You can see it on this page of the test site, where I was playing with the test1.ris file I sent:
http://109.73.239.174/~cookand3/forestpathology.org/thank-you

[2017-12-17 00:28] dsifford commented on #394
Hmm.. I might have an idea what's happening. Thanks for the test url. Super helpful!

[2017-12-17 00:30] dsifford commented on #395
Thanks so much. Your descriptions are excellent. I'll give this a look soon. What's currently happening is definitely not the intended behavior.

[2017-12-18 12:41] smtech12 commented on #369
I am using Legacy V3 just before a week for integration Woo Commerce Product Posting using Rest Api's on WC Version 2.5.5.
At that time products with all details are working fine but variable product detail are not posted with all details.
now i have updated the Woo Commerce Version 2.5.5 to 3.2.6 and i have WP Version 4.5.12 according to documentation i can use v1 and v2 both for integration
but

[2017-12-19 19:52] glorious1 commented on #394
Well I'll be.  Today the tooltips started working again.  I wish I could say way why.  I updated two plugins that aren't even activated (Akismet and Force Regenerate Thumbnails, and I added bbPress.  Now the only console output is "JQMIGRATE: Migrate is installed, version 1.4.1".

[2017-12-19 20:16] dsifford commented on #394
@glorious1 One of the other two plugins likely is requiring jquery on the same page where ABT needs it. So, by proxy, the ABT requirements are being fulfilled.

I'll still have to add in an explicit requirement for it.

Thanks for your patience!

[2017-12-22 07:19] mjluser1 commented on #389
[1222onereference.txt](https://github.com/dsifford/academic-bloggers-toolkit/files/1581739/1222onereference.txt)
This plugin looks to be very useful.  However, I am getting the same error message as user glorious1 on .ris file exported from JabRef. This occurs even when I reduce the file to only one citation and removed all carriage returns. I have no idea what to try next.  Please advise, and tha

[2017-12-22 14:15] glorious1 commented on #389
There are a couple of things wrong with that file.  The first two lines (and blank line after) look like some kind of header JabRef puts in, not a reference.  I removed them.  The ER  - line has to be after the reference, not before, so moved that.  Finally for some reason the blank line in the middle of the reference was a problem, removed.  Then it imported fine.

[2017-12-22 17:54] dsifford commented on #389
Thanks @glorious1

I can probably add lenience to references having blank lines separating fields, however (as @glorious1 already reported) every `TY` field must be followed by an `ER` field. So, even with the lenience, the RIS file you shared would still not work as it does not follow RIS specifications.

[2017-12-22 18:50] glorious1 commented on #389
Yes, allowing blank lines would be nice.  I think both of the reference managers I've used (EndNote and Bookends) will export blank lines if a reference doesn't have data for a given field.  I talked to Bookends support and they said blank lines in RIS file are perfectly acceptable.
Thanks!

[2017-12-22 19:27] dsifford commented on #389
@glorious1 Just to be sure, can you confirm that blanks are currently not supported? I can't recall if I originally added support for that or not. It's been a while since I wrote it!

[2017-12-22 23:25] glorious1 commented on #389
I just tested again to be sure.  It looks like blank lines after an "ER  -" record before the next reference are OK, but any blank lines inside a reference seem to prevent it from importing.

[2017-12-23 00:19] dsifford commented on #389
Noted, thanks. I'll fix that soon.

[2017-12-23 02:46] #215 closed

[2017-12-23 18:52] dsifford commented on #374
Haven't heard back. Assuming this has been resolved.

[2017-12-23 18:52] #374 closed

[2017-12-23 20:21] glorious1 opened #398 "in-text citations don't wrap?"
**ABT Version:** 4.12.0

**PHP Version:** 5.6

**Theme:**GeneratePress

**Plugin List:**
-  Very Simple Event List
- Child Theme Configurator
- TablePress
- bbPress
- Sidebar login
- Paypal Donations

**Browser:** Firefox 57

**Expected behavior:** Citations in the text wrap.

**Actual behavior:** If a series of in-text citations is wider than the window, the rest is simply cut off at the window e

[2017-12-23 20:30] dsifford commented on #398
Thanks for the report. Do you have a link to the affected page that I could check out?

[2017-12-23 20:31] #394 closed

[2017-12-23 20:34] glorious1 commented on #398
Yes indeed.  The page in the screenshot is here
http://109.73.239.174/~cookand3/forestpathology.org/air-pollutants/

and that thank you test page has it without an image:
http://109.73.239.174/~cookand3/forestpathology.org/thank-you/

Sorry to keep loading you up with issues!

[2017-12-23 20:40] dsifford commented on #398
Ah, now I remember why I explicitly made citations non-wrapping. It becomes much more difficult to calculate where the tooltip should be placed if the citation spans more than one line because both the natural width and height of the citation are variably skewed, depending on how much the text wraps.

Obviously, this is a problem with long in-text citations. I hadn't considered that.

I'll work on

[2017-12-23 20:45] glorious1 commented on #398
Ahh, I see.  Well I could always switch to number citations, which would never need to wrap.  They are not so common in my field, but certainly less cluttered, and with the tooltips, you don't really need the full citations.

[2017-12-23 22:16] dsifford opened #399 "Make "not available in this scope" errors trigger a react error boundary, rather than throw error to rollbar"

[2017-12-23 23:53] #395 closed

[2017-12-23 23:54] dsifford commented on #395
@glorious1 Fix will be pushed on the next update.

[2017-12-25 17:27] glorious1 opened #400 "Can't get custom style to be recognized"
**ABT Version:** 4.12.0

**PHP Version:** 5.6

**Theme:**GeneratePress

**Plugin List:**

    Very Simple Event List
    Child Theme Configurator
    TablePress
    bbPress
    Sidebar login
    Paypal Donations

Firefox 57

**Browser:** Google Chrome (Version: xxx)

**Expected behavior:**
1.  Edit custom style on citationstyles.org
2. Download it.
3.  FTP it to webroot (FYI: WordPress won't allow

[2017-12-27 17:22] dsifford commented on #400
Thanks for the report.

Not sure what could be the issue here.

That should be fixed automatically here:

https://github.com/dsifford/academic-bloggers-toolkit/blob/bba49e6f4967848b240524b3483186a8865aff71/src/academic-bloggers-toolkit.php#L29-L40

So not sure where the issue is stemming from.

Focus right now for me is working on adding Gutenberg support, so not sure when I'll be able to dig into

[2017-12-27 18:20] #398 closed

[2017-12-27 18:20] dsifford commented on #398
Found a much simpler fix than I originally anticipated. This should be resolved on the next update. If not, let me know.

[2017-12-28 12:08] HoussenMoshine opened #401 "Error in the date when adding manually reference"
**ABT Version:** 4.12.1

**PHP Version:** 5.6.4

**Theme:*Hueman*

**Plugin List:**
- Plugin 1
- Plugin 2

**Browser:** Google Chrome (Version: 62)

**Expected behavior: Insert reference manually**

**Error : It's say that the date format is no valid when adding a manuel reference. Even there are not date or the format is correct. I've tested in several sites and the error persist. When there are

[2017-12-28 15:41] dsifford commented on #401
Definitely a bug.

I moved around some stuff involving the date parser before the last update, so that's likely the cause.

Thanks for the report.

[2017-12-28 15:46] dsifford commented on #401
On a different note: Thanks for volunteering to translate!

I'll try to get both this fix and your translations pushed out as soon as I can.

[2017-12-28 16:32] glorious1 commented on #401
I noticed this today also.  If I try to edit a reference in ABT, I can't save it because it says the date is the wrong format, though it's just a journal article with a simple year.

[2017-12-28 16:49] glorious1 opened #402 "ABT losing track of citations and error"
**ABT Version:** 4.12.1

**PHP Version:** 5.6

**Theme:**GeneratePress

**Plugin List:**  All others

deactivated
- Plugin 1
- Plugin 2

**Browser:** Firefox 57

**Expected behavior:** Place citations, update page, citations remain.

**Actual behavior:** Starting fresh, I import a RIS file to a page with no citations.  Start placing citations.  When I update, ABT now shows no cited references.  Th

[2017-12-28 17:19] dsifford commented on #402
Strange.

If you have a cache plugin, can you try clearing all your server cache. That includes cloudflare if you are set up to proxy through them as well.

Additionally, can you also try clearing your browser cache and then attempt it again?

[2017-12-28 17:20] dsifford commented on #401
This will be fixed shortly. Found the issue. Tackling it now.

[2017-12-28 18:38] glorious1 commented on #402
Clearing the browser cache didn't help, but clearing the server cache (if that's what I did) apparently did.  SiteGround has a cPanel cache tool.  I clicked the flush cache button.  Now it is acting normally.  Thanks!
![screen shot 2017-12-28 at 11 17 07 am](https://user-images.githubusercontent.com/6004417/34419865-78b8eae6-ebc3-11e7-8422-73172075f8dd.png)

[2017-12-28 18:45] dsifford commented on #402
How frustrating!

I've ran into this sort of thing dozens of times and have still yet to figure out a reliable way to bust old cache on plugin updates.

I'll look back into this soon to see if I can figure out a better strategy than I'm currently using.

Thanks for reporting back!

(PS: The giveaway this time was the fact that your console had the jQuery error in it still. Last update removed the

[2017-12-28 18:48] glorious1 commented on #402
Now that I know how to fix it, it’s no problem, easy fix.  So if I understand right, the server was still using the old ABT plugin, at least in part, because it was stored in cache?  Good to know.

[2017-12-28 18:57] dsifford commented on #402
Yep. Cache plugins are generally pretty liberal with caching static assets (javascript files being the cause of this issue, but also images, css, etc.), so unless you manually clear it out you or your visitors will be served the stale content until the expiration date occurs for the file in question (which, for javascript, is generally ~30 days IIRC).

This is a good thing though. It makes your si

[2017-12-28 20:44] dsifford commented on #400
@glorious1 Just confirming: After clearing your cache, this is still occurring, correct?

[2017-12-28 20:53] #401 closed

[2017-12-28 22:09] glorious1 commented on #400
That’s correct, although not such a big deal now that I have wrapping citations.

[2018-01-01 04:15] dondreab opened #404 "Date format issue when citing a book"
**ABT Version:** 4.12.1

**PHP Version:** 5.6

Divi

**Plugin List:**
- Plugin 1
- Plugin 2

Which web browser are you using (including version)
Firefox 57.0.3

Inputting date of 1997 would work

error given about date format - screenshot attached

<img width="960" alt="screenshot 2017-12-31 21 10 56" src="https://user-images.githubusercontent.com/34994273/34465585-b03b1800-ee6f-11e7-98a9-b8eff4be

[2018-01-01 08:16] dsifford commented on #404
Thanks for the report.

This is a duplicate of #401. It's fixed already but there's still a couple things I need to finish before pushing out the update.

[2018-01-01 08:52] dondreab commented on #404
Thank you!!!! Will watch for the update - really need this plugin (and appreciate it)

[2018-01-04 09:37] tosokuzma opened #405 "TypeError: e.people is undefined / TypeError: Cannot read property 'reduce' of undefined"
**ABT Version:** 4.12.1

**PHP Version:** 5.6

**Amory:**

**Plugin List:**
WP Clean Up
WP PageNavi...

**I am just trying to add References via the GENERIC (Note) function, which worked perfectly fine in the past but stopped working 3-4 days ago.**

**When I try to add a reference, one of the above error messages appears depending on which browser I am using**

[2018-01-04 09:48] tosokuzma commented on #405
PS I updated to the latest versions of Edge, Chrome and Firefox just to make sure it is not a related error.

[2018-01-04 09:48] tosokuzma commented on #405
Firefox ("TypeError: e.people is undefined), Chrome ("TypeError: e.people is undefined") - updated to newest version in each case

[2018-01-04 16:24] dsifford commented on #405
Thanks for the report.

This is related to #401. The fix for this specifically was already completed, but I still need to finish working on a larger fix before I can push the update to wordpress.org.

Should be done in the next day or two if all goes according to plan.

[2018-01-04 16:24] #405 closed

[2018-01-04 16:27] tosokuzma commented on #405
Wow thanks so much!

[2018-01-05 03:35] charitablehumans opened #407 "Date error format preventing use of plugin"
**ABT Version:** 4.12.1

**PHP Version:** 5.6

**Theme:**

**Plugin List:**
- Plugin 1
- Plugin 2

**Browser:** Google Chrome (Version: xxx)

**Expected behavior:**
When adding a reference, a hover notice appears saying the date format is incorrect when it isn't, thus making it impossible to add citations. https://www.screencast.com/t/yl5HwBws5Xp

**Actual behavior:**

**Console messages:**
[code]

[2018-01-05 09:01] dsifford commented on #407
Duplicate of #405, #404, #401.

Very sorry this is affecting you. The fix will be pushed to wordpress.org shortly. Have to finish one other thing I'm working on first.

Thanks for your patience.

[2018-01-05 09:01] #407 closed

[2018-01-06 22:42] dsifford commented on #401
@HoussenMoshine @glorious1

The update is still not ready for wordpress.org because there are lots of pretty drastic changes to how custom citation styles are handled that I need to document and test more thouroughly test, but you can download a copy of a beta version from here: https://github.com/dsifford/academic-bloggers-toolkit/releases/tag/v4.13.0-beta

This should resolve your issue with dat

[2018-01-06 22:42] dsifford commented on #404
@dondreab

The update is still not ready for wordpress.org because there are lots of pretty drastic changes to how custom citation styles are handled that I need to document and test more thouroughly test, but you can download a copy of a beta version from here: https://github.com/dsifford/academic-bloggers-toolkit/releases/tag/v4.13.0-beta

This should resolve your issue with dates.

[2018-01-06 22:43] dsifford commented on #405
@tosokuzma

The update is still not ready for wordpress.org because there are lots of pretty drastic changes to how custom citation styles are handled that I need to document and test more thouroughly test, but you can download a copy of a beta version from here: https://github.com/dsifford/academic-bloggers-toolkit/releases/tag/v4.13.0-beta

This should hopefully resolve your issue.

[2018-01-06 22:45] dsifford commented on #407
@charitablehumans

The update is still not ready for wordpress.org because there are lots of pretty drastic changes to how custom citation styles are handled that I need to document and test more thouroughly test, but you can download a copy of a beta version from here: https://github.com/dsifford/academic-bloggers-toolkit/releases/tag/v4.13.0-beta

This should resolve your issue with dates.

[2018-01-06 23:17] dondreab commented on #404
This is the error I get when I try to add a book after searching by ISBN:
An unexpected error occurred

TypeError: t.people is undefined

Please report this error, including the steps taken to trigger it, here:
https://github.com/dsifford/academic-bloggers-toolkit/issues

[2018-01-07 00:34] glorious1 commented on #401
Thanks!

I’ve never updated a plugin manually. When I try to do it in the WordPress interface, uploading the zip, it says the directory already exists.  Is it safe to delete the academic-bloggers-toolkit directory in the plugins folder without losing settings?

[2018-01-07 05:08] dsifford commented on #401
@glorious1 Yes. Delete the existing folder and then install the zip and you're good to go.

Alternatively, you can uninstall the plugin using WordPress and then reinstall using the zip keeping in mind that if you choose to do it that way, you'll lose all of your saved settings (default citation style, etc).

[2018-01-07 22:05] dsifford commented on #404
@dondreab Give this one a try: https://github.com/dsifford/academic-bloggers-toolkit/releases/tag/v4.13.0-beta.1

[2018-01-08 18:04] gconyers opened #409 "Incorrect error message stops plugin from working"
**ABT Version:** 4.13.0-beta.1

**PHP Version:** 5.5.38
--

**Make Plus:**

**Plugin List:**
- ABT
- Contact Form 7
-Disqus
- Edit Flow
- Exec- PHP
- Google Analytics for WP
- Jetpack
- Make Plus
- Participant's Database
- Popup Ally
- Re-add text underline and justify
- Sensei
- WooCommerce

**Browser:** Google Chrome (Version: 63.0.3239.108)

**The plugin to accept the date since it's in the for

[2018-01-08 18:06] dsifford commented on #409
Sorry about that. The fix for this has not been released to wordpress.org because I haven't had time to test it thoroughly, but you can download a beta version from here if you're okay with that: https://github.com/dsifford/academic-bloggers-toolkit/releases/tag/v4.13.0-beta.1

[2018-01-08 18:11] gconyers commented on #409
​No worries. I told my writers to cite things manually for now. Though,
I'll give the beta version a try as well to see if it doesn't make their
lives easier.

- G. ​
​​
​​

<http://insanitek.net/>

Grace Conyers Founder and head geek
Email me: gconyers@insanitek.net
Call me: 317.759.1284

[image: Twitter] <https://twitter.com/Insanitek> [image: Facebook]
<https://facebook.com/InsanitekRD> [image:

[2018-01-08 19:18] dondreab commented on #404
Well - now, although it requires a publisher name it:

1) does not grab the publisher name
2) when you paste in the publisher name, it stays blank and since it requires it, it won't let you post the reference.

Sorry :( (and thank you for all the work!)

Dee

[2018-01-08 19:20] dsifford commented on #404
Can you explain the steps you're taking in greater detail so that I might be able to reproduce the issue on my end?

Thanks for your patience.

[2018-01-08 19:35] dondreab commented on #404
When i add a book - i do an isbn search - it fills in the blanks - except for the publisher for some reason.

So, I look up publisher, put the publisher name in the slot, but it doesn't 'take' - that slot stays blank.

And since a name in the publisher slot is required in order to save the reference, i can't save that book reference.

Hope that makes sense!

[2018-01-08 19:38] dsifford commented on #404
I see. Thanks for the clarification.

Reason why some books don't show publisher information: I'm using a very, very mediocre API that only offers information for a fraction of books. Most other APIs are pay-to-use or require login information that I can't distribute out as a plugin.

Reason why the field doesn't "take" -- likely a bug. I'll look into it when I get time.

[2018-01-13 04:54] mjluser1 commented on #409
I also am having this problem and am having to use a work-around.  I import my .ris database, so I export a new reference from JabRef to the clipboard and then post it into my .ris database that is open in Notepad++.  Then I have the new references available for new posts and pages.  However, I cannot add them to existing posts and pages without deleting all references and reimporting.  I write ac

[2018-01-13 08:39] dsifford commented on #409
@mjluser1 Sorry to hear you're running into issues.

Can you clarify what exactly is causing trouble for you? Is it the date fields as described in the issue description, or is it importing RIS from jabref?

If the issue has to do with the imported file, can you attach an example file that I can try?

Finally, if you could provide a set of step-by-step instructions for how to trigger the issue you

[2018-01-13 15:59] mjluser1 commented on #409
It is the same date issue.  Thanks to a post elsewhere about how to clean
up the JabRef exported lines, import is working great!  But when trying to
add a new reference of any type any where, I get the same error message
shown in the other person's post four days ago. As soon as I can work in a
sandbox instead of on my production system, I will download the beta you
wrote to test if it solves the

[2018-01-13 17:48] mjluser1 commented on #409
Also, I just discovered JabRef exports the Editor field to .ris identified as A2. Then your plugin ABT identifies it (appropriately) as a second author.  So I am going to have to hand-craft entries with editors either before or after import.  How can I get a list of field ids ABT uses? Then I can check in Notepad++ to change field names as necessary.  Thanks!

[2018-01-13 17:59] dsifford commented on #409
Yikes! I don't want you or other users to have to go through that to get jabref to cooperate with ABT. I'll take a look at [jabref's RIS implementation](https://github.com/JabRef/jabref/blob/723af6dddfb4339e5f5fec3bb38869344201c287/src/main/java/org/jabref/logic/importer/fileformat/RisImporter.java) and see if I can reasonably align mine with theirs (or, if theirs is too non-standard, I'll see if

[2018-01-13 18:00] dsifford commented on #409
Of note: I currently skip A2 fields because they are non-standard. So it would be trivial to add that one in.

[2018-01-13 18:32] dsifford commented on #409
@mjluser1 I just downloaded jabref and tried importing a bibtex entry that I created and it seemed to work fine. Have you tried importing bibtex or have you just tried RIS?

[2018-01-13 18:47] dsifford commented on #409
Fixed the broken RIS importer here: https://github.com/dsifford/astrocite/releases/tag/v0.10.0

You should be able to import jabref RIS files in the next release.

[2018-01-14 19:17] cwbullet opened #411 "Date Format Error"
**ABT Version:** 4.13.0

**PHP Version:** 5.6

**Theme:**

**Plugin List:**
- Disabled all and still ge the error.

  Safari 11.02

**Browser:** Google Chrome (Version: xxx)

**Expected behavior:**
Adding a source manually or adding a webpage.  I would expect it to add the page and date accessed automatically.  I can edit them, but it will nto allow you to add the source.  It hangs and will not su

[2018-01-14 21:05] dsifford commented on #411
Fixed in `v4.13.0`.

[2018-01-14 21:11] dsifford commented on #409
Fixed in `v4.13.0`

[2018-01-14 21:11] #409 closed

[2018-01-14 21:11] dsifford commented on #404
should be fixed in `v4.13.0`

[2018-01-14 21:11] #404 closed

[2018-01-14 21:12] dsifford commented on #400
Revamped how custom styles work in `v4.13.0`.

[2018-01-14 21:12] #400 closed

[2018-01-14 23:54] cwbullet commented on #411
It is not fixed.  I get the same error.
![screen shot](https://user-images.githubusercontent.com/22658819/34922318-ee34c324-f953-11e7-8187-b9350b862d72.png)

I will not allow you to submit.

[2018-01-14 23:55] cwbullet commented on #411
I hit add reference and it does nothing.

[2018-01-15 00:35] dsifford commented on #411
@cwbullet what browser are you using? Did you try clearing both your browser _and_ server cache?

[2018-01-15 02:43] cwbullet commented on #411
I have used Chrome, Firefox, Safari.  I have cleared both the server and my browser cache.  I have deleted all plugins and I will can not add a website as a source.  It says the date format is incorrect.

[2018-01-15 03:04] HoussenMoshine commented on #411
I can confirm, the bug is still here.

[2018-01-15 17:10] glorious1 opened #412 "Cannot manually edit any reference except for author"
**ABT Version:** 4.13.0

**PHP Version:** 7.0.27

**Theme:**GeneratePress

**Plugin List:**
All deactivated

**Browser:** Firefox 57

**Expected behavior:** Be able to edit.

**Actual behavior:** Can edit authors only.  All other fields locked

**Console messages:** None
[code]

[2018-01-15 17:21] dsifford commented on #412
Sorry for the trouble. I'll take a look at this as soon as I can.

[2018-01-15 17:54] mjluser1 opened #413 "Feedback on new update 4.13.0"
First, Thanks for the new release!  ABT is an extremely useful plugin and your responsiveness to issues is deeply appreciated!

I just installed 4.13.0 and will list feedback below as I work through using it. As a user-interaction consultant for 25+ years, I am consolidating my comments as a single feedback report rather than scattering them across multiple github submissions.  At this point, they

[2018-01-15 18:48] dsifford commented on #413
Hi there. Great feedback!

Yeah, there was a known risk of that happening on this one because I was forced to adjust the shape of the data stored after changing how the custom style workflow works. Sorry about that. Hopefully the shape now can remain.

The "x" is a browser-specific feature. Chrome, for example, automatically adds them to any input field with the type `search`.

This is one of the

[2018-01-15 19:51] dsifford commented on #411
Yikes! That's a nasty bug. Good catch.

Working on getting this fixed now.

[2018-01-15 19:58] dsifford commented on #412
Duplicate of #411

[2018-01-15 19:58] #412 closed

[2018-01-15 20:14] #411 closed

[2018-01-15 20:18] mjluser1 commented on #413
Great responses.  Thanks!

All of the issues I raised could be easily dealt with in a User Guide that comes with the plugin (versus have to be techie enough to deal with GitHub).   I thought that might happen so wrote my feedback to serve as that if tweaked a little.

I just tried the importing.  Grade A+ on direct importing of JabRef untouched .ris files.  Thanks!  However, the imported list (cit

[2018-01-15 21:01] mjluser1 commented on #413
I cannot separate the two issues: (a) getting the property bug, and (b) the list of references disappearing from the draft page.  Here is the steps for the references disappearing. When that is solved I probably can give you the steps to replicate the property bug.  I thought if I cleared the cache and closed chrome the problem might disappear but it did not.
1. completely left wordpress
2. came b

[2018-01-15 21:51] dsifford commented on #413
@mjluser1 Superb feedback and details. Really helpful. Thanks

Sorry for the scant documentation. I'll admit that it's my least-favorite thing to do and I have a tendency to neglect it.

With that said, if there is anything that you'd like to be added, changed, feel free to click the "edit" button on the wiki page and make any changes you feel are helpful/necessary. (I just enabled the option to a

[2018-01-15 21:52] dsifford opened #414 "Improve UX for inserting a single reference from the reference list"
Related: https://github.com/dsifford/academic-bloggers-toolkit/issues/413#issuecomment-357780221

[2018-01-15 21:54] dsifford opened #415 "Cannot read property "properties" of undefined error"
Related: https://github.com/dsifford/academic-bloggers-toolkit/issues/413#issuecomment-357780221

[2018-01-15 22:27] dsifford opened #416 "Reference list disappearing after save and reload"
Related: https://github.com/dsifford/academic-bloggers-toolkit/issues/413#issuecomment-357788317

**Reported steps:**
<blockquote>
    <ol>
	<li>completely left wordpress</li>
	<li>came back to site and opened dashboard</li>
	<li>Reference list was empty</li>
	<li>Imported reference list</li>
	<li>Opened uncited list</li>
	<li>Got ABT properties error dialog box</li>
	<li>closed WP draft post tab<

[2018-01-15 23:08] mjluser1 commented on #413
I checked the list for reference types and only found two in JabRef 2.10 that you do not have: (a) online and (b) other. However, it is definite that ABT took only two fields from Electronic without carrying their field names with them.  I could not find a way to edit the entry, such as adding the data field that ABT missed.  I need ABT very much (as I said earlier, no other citation/reference plu

[2018-01-15 23:10] mjluser1 commented on #415
Aaarrgh!  I cannot get rid of the error message so that I have ABT working again.  What is the process for getting ABT to reboot and start from scratch? Closing WP and even closing Chrome did not work.

[2018-01-15 23:11] dsifford commented on #415
Pushing the fix this error right now.

[2018-01-15 23:13] #416 closed

[2018-01-15 23:13] mjluser1 commented on #415
Updated it.  I will let you know what happens.  Thanks!

[2018-01-15 23:14] dsifford commented on #415
To start from scratch on a post, open the menu and click "Delete all references".

The fix that I'm pushing out targets only the references not being saved on save and reload. (It'll be version 4.13.2 --- still not published yet)

[2018-01-15 23:16] dsifford commented on #415
Oops --- disregard my comments @mjluser1. I was talking about issue #416, not this one. Haven't ever been able to reproduce this one yet.

[2018-01-15 23:18] mjluser1 commented on #415
It kept my default as APA 6th!  Thanks!  (OK, I had wondered---)

Because I am moving text over from Latex, I am fortunate that deleting all references does not lose the \cite info in my document.  However, anyone without that extra info would lose track of the places and entries they had referenced if all the ABT citations are removed. Can you warn them of that or maybe figure a way to not surpri

[2018-01-15 23:21] dsifford commented on #415
Having the reference list just re-update itself is the function that "Refresh reference list" does.

That's generally the one you'd want to press. Delete all is for when all else fails.

In any case, if you've deleted references and realize it was in error, just exit out of the post without saving it and return and they'll show up again.

[2018-01-15 23:24] dsifford commented on #413
@mjluser1 Can you open another issue citing your concerns with bibtex importing (and ideally include an example file that I could try)?

Thanks

[2018-01-15 23:25] mjluser1 opened #417 "Database questions"
As I mentioned elsewhere, I am building a JabRef database specific to my new blog (PhysicsSpot.com) from scratch by pasting individual entries over from a database with 1100+ entries. I add the entries to PS database as I find the citation in the Latex document I am converting to a post in the PS blog. Thus the size of the imported database for page x is not the same size as the imported database

[2018-01-15 23:41] dsifford commented on #417
Not sure if I fully understand what three databases you're referring to are. I'm assuming you're talking about data structures within JabRef so forgive me if I misread.

To speak directly about how data is saved using ABT:

The only data that is globally available to all posts is the data that you set on the options page (e.g., bibliography style, default citation style, etc).

The references and

[2018-01-15 23:43] mjluser1 commented on #415
Not sure where to leave this comment --- I have updated to .2, but it was doing the same thing in .1.  It kept my desired citation style (APA 6th) and reference style (link + source) in the plugin settings.  But now I get a superscript number instead of name, year as the citation in the text.  AFAIK, I did not change anything to cause this.

[2018-01-15 23:45] dsifford commented on #415
Try changing the citation style to something else and then immediately changing it back to APA in the post you're working on.

[2018-01-15 23:54] cwbullet commented on #411
Yes.  The error is still in the lastest update.  Also, should there be more than one citation style to choose from?

The last two - three updates have really caused form problems.

[2018-01-15 23:54] mjluser1 commented on #415
Went to plugin settings and changed to IEEE access.  Came back to page and changed to APA 6th.  Then noticed my cite/uncite list had disappeared.  Reimported the database. Inserted a ref. Changed its 2nd author to editor in the list. It changed correctly in the cite.  On different entry changed 2nd author to editor. Then inserted it.  All citations and reference list showing correctly.  Saved draf

[2018-01-15 23:57] dsifford commented on #411
Triple check that your cache had been fully cleared out.

Re: only one style --- you should be able to query all 8500 as you begin typing.

[2018-01-16 00:04] cwbullet commented on #411
Nope.  I tried with Google Chrome with a different computer that has never been to the site.  I turn off the cache.  I turn off all plugins and it still won't work.  I get the same date format error and it only shows "American Medical Association (sorted alphabetically)" format in the list.

[2018-01-16 00:08] cwbullet commented on #411
Ok.  I see.  The citation style works.  I still get the date format error.

[2018-01-16 00:10] dsifford commented on #411
Can you explain again exactly the error you're getting and what steps you take to trigger it?